/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: "regular";
  src: url(NotoSansCJKtc-Regular.otf);
}
@font-face {
  font-family: "bold";
  src: url(NotoSansCJKtc-Bold.otf);
}
/* line 20, ../sass/style.scss */
body {
  position: relative;
  font-family: palatino !important;
  background: #F4F5F5;
}

/* line 29, ../sass/style.scss */
.bar {
  position: fixed;
  width: 100%;
  z-index: 1;
}
/* line 35, ../sass/style.scss */
.bar img {
  position: relative;
  width: 3vw;
  top: 1.5vw;
  left: 4vw;
}

/* line 43, ../sass/style.scss */
.index {
  position: relative;
  width: 100%;
  background: #F4F5F5;
}
/* line 48, ../sass/style.scss */
.index .topic {
  position: relative;
  width: 100%;
  height: 100vh;
  left: 9vw;
  top: 12vw;
  font-size: 5vw;
  line-height: 6vw;
  width: 50vw;
  color: #E05656;
}
/* line 60, ../sass/style.scss */
.index .topic .sub {
  margin-top: 2vw;
  font-size: 2vw;
  line-height: 3vw;
  letter-spacing: 0.03vw;
  font-weight: normal;
  font-style: italic;
}

/* line 74, ../sass/style.scss */
.index_two {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #536771;
  padding-bottom: 13vw;
  z-index: 2;
}
/* line 83, ../sass/style.scss */
.index_two .intro {
  position: relative;
  top: 7vw;
  left: 11vw;
  font-size: 3vw;
  font-style: italic;
  color: #F4F5F5;
}
/* line 92, ../sass/style.scss */
.index_two .belief {
  position: relative;
  margin-top: 12vw;
  left: 3.5vw;
  width: 80vw;
}
/* line 99, ../sass/style.scss */
.index_two .music {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 3vw;
  height: 8.5vw;
  overflow: hidden;
}
/* line 107, ../sass/style.scss */
.index_two .music .btn {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 1.3vw 3vw;
  color: #F4F5F5;
  border-radius: 30px;
  border: 2px #F4F5F5 solid;
  font-weight: bold;
  cursor: pointer;
}
/* line 118, ../sass/style.scss */
.index_two .music .btn:hover {
  background: #F4F5F5;
  color: #536771;
}
/* line 124, ../sass/style.scss */
.index_two .music .bgsound {
  position: absolute;
  bottom: 0;
  margin-left: -11vw;
  cursor: pointer;
}

/* line 134, ../sass/style.scss */
.index_three {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
/* line 140, ../sass/style.scss */
.index_three .reason {
  position: relative;
  width: 60vw;
  margin-top: 4vw;
}
/* line 146, ../sass/style.scss */
.index_three .video {
  position: fixed;
  width: 22vw;
  bottom: 15vw;
  right: 11vw;
  z-index: 3;
}

/* line 155, ../sass/style.scss */
.index_four {
  position: relative;
  width: 100vw;
  height: 70vh;
  background: #fedc79;
  background: #f9e3cd;
}
/* line 162, ../sass/style.scss */
.index_four .sara {
  position: absolute;
  height: 12vh;
  left: 0;
  top: 34vh;
  animation-name: fly;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* line 173, ../sass/style.scss */
.index_four .name {
  position: absolute;
  width: 7vw;
  right: 10vw;
  top: 5vw;
}
/* line 180, ../sass/style.scss */
.index_four .star {
  position: absolute;
  width: 1.5vw;
  left: 10vw;
  top: 7vw;
}

/* line 188, ../sass/style.scss */
.index_five {
  position: relative;
  width: 100vw;
  background: #F4F5F5;
}
/* line 194, ../sass/style.scss */
.index_five img {
  position: relative;
}

/* line 199, ../sass/style.scss */
.footer {
  position: relative;
  width: 100vw;
  background: #536771;
}
/* line 205, ../sass/style.scss */
.footer img {
  position: relative;
}

@keyframes fly {
  from {
    left: -20vw;
  }
  to {
    left: 100vw;
  }
}
