
.background {
	position: fixed;
	background-image: url('img/background.png');
	background-size: cover;
	background-position: center;
	height: 100%;
	left: 50%;
}

.background2 {
	position: fixed;
	background: rgba(41, 11, 6, 1);
	background-size: cover;
	background-position: center;
	height: 100%;
	left: 50%;
	margin: 0;
}

.popOut {
	position: absolute;
	top: 22%;
	left: 5%;
	width: 90%;
}

.popOut #popOutScreen {
	width: 100%;
}

.popOut #yesBtn {
	position: absolute;
	left: 23%;
	width: 54%;
	top: 79%;
}

/* entry */

.welcomeLogo {
	position: absolute;
	top: 22%;
	width: 72%;
	left: 14%;
}

.entryBtn {
	position: absolute;
	bottom: 22%;
	height: 21%;
	width: 56%;
	left: 22%;
}

.entryBtn img {
	width: 100%;
	margin: 0;
	margin-bottom: 13%;
}

/* */
/* indexNormal */

.logo {
	position: absolute;
	top: 5%;
	width: 100%;
	left: 0;
}

.indexNormalBtn {
	position: absolute;
	top: 32%;
	left: 14%;
	width: 72%;
	height: 56%;
	text-align: left;
}

.indexNormalBtn img {
	width: 100%;
	left: 0;
	margin: 0;
	margin-bottom: 4%;
	display: inline-block;
}

.messageScroll {
	position: absolute;
	bottom: 15%;
	left: 0%;
	height: 20%;
	width: 100%;
	color: white;
	font-weight: bold;
	overflow: scroll;
}

.messageScroll div {
	margin-top: 3%;
	margin-left: 7%;
}

/* */
/* singin */

.signinZone {
	position: absolute;
	top: 29%;
	left: 5%;
	width: 90%;
	height: 56%;
	text-align: left;
	overflow: hidden;
}

.signinScroll {
	position: absolute;
	top: 34%;
	left: 5%;
	width: 90%;
	height: 51%;
	text-align: left;
	overflow: scroll;
	overflow-x: hidden; 
}

.signinZone img {
	width: 100%;
	left: 0;
	margin: 0;
	margin-bottom: 4%;
	display: inline-block;
}

.signinZoneContent {
	height: 200%;
	background-color: #2d0906;
}

.signinData {
	position: absolute;
	top: 3%;
	left: 3%;
	color: white;
	font-weight: bold;
	line-height: 2em;
	width: 100%;
}

#sendCode {
	margin-left: 41%;
	margin-top: 5%;
	margin-bottom: 0;
	width: 40%;
}

#signinBtn {
	width: 48%;
	margin-left: 26%;
	margin-top: 2%;
}

#signin24H {
	position: absolute;
	left: 14%;
	width: 72%;
	bottom: 6%;
}

#commitment {
	width: 87%;
	height: 120px;
	background-color: rgba(216, 216, 216, 1);
	border-radius: 3px;
	margin-top: 5%;
	padding: 3%;
	overflow: scroll;
	line-height: 100%;
	color: black;
	font-weight: lighter;
}

#finish {
	margin-top: 15%;
	margin-left: 10%;
	width: 80%;
	color: white;

}

#goAccount {
	text-align: center;
	margin-top: 10%;
}

#goAccount a {
	color: white;
	text-decoration: none;
}

/*  */
/* login */

#loginMessage {
	position: absolute;
	left: 14%;
	width: 72%;
	bottom: 12%;
}

#login24H {
	position: absolute;
	left: 14%;
	width: 72%;
	bottom: 3%;
}

#loginLoginBtn {
	position: absolute;
	width: 48%;
	top: 61%;
	left: 26%;
}

#loginScroll {
	top: 77%;
	height: 11%;
	text-align: left;
	width: 70%;
	margin-left: 15%;
}

#forgot {
	position: absolute;
	color: white;
	right: 6%;
	top: 128%;
	text-decoration: none;
}

#forgetText {
	margin-bottom: 3%;
}

/* */
/* Message */

.messageZone {
	position: absolute;
	top: 27%;
	left: 5%;
	width: 90%;
	height: 56%;
	text-align: left;
}

.messageZone img {
	width: 48%;
	left: 0;
	margin: 1%;
	margin-bottom: 4%;
	display: inline-block;
	float: left;
}

.messageContent {
	position: absolute;
	color: white;
	font-weight: bold;
	width: 92%;
	height: 98%;
	top: 21%;
	left: 4%;
	overflow: scroll;
}

.messageTopic {
	position: absolute;
	height: 10%;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.messageText {
	position: absolute;
	margin-top: 13%;
}


#table {
	width: 100%;
}

/*  */
/* member */

.memberZone {
	position: absolute;
	top: 29%;
	left: 3%;
	width: 94%;
	height: 8%;
	text-align: left;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
	border: rgba(186, 160, 87, 0.7) 1px solid;
	color: white;
	font-weight: bold;
}

#left {
	position: absolute;
	width: 50%;
	padding: 1%;
	padding-left: 3%;
}

#right {
	position: absolute;
	left: 50%;
	width: 50%;
	padding: 1%;
}

.memberZone2 {
	position: absolute;
	left: 3%;
	width: 94%;
	height: 41%;
	bottom: 20%;
	border: rgba(186, 160, 87, 0.7) 1px solid;
	overflow: scroll;
}

.memberZoneContent {
	height: 220%;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(70, 70, 70, 0.8));
	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(70, 70, 70, 0.8));
	background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(70, 70, 70, 0.8));
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(70, 70, 70, 0.8));
}

.memberBtn {
	position: absolute;
	height: 32%;
	width: 25%;
}

.memberBtn img {
	width: 100%;
}

#memberBtn1 {
	top: 26%;
	left: 8%;
}

#memberBtn2 {
	top: 26%;
	left: 38%;
}

#memberBtn3 {
	top: 26%;
	right: 8%;
}

#memberBtn4 {
	top: 64%;
	left: 8%;
}

#memberBtn5 {
	top: 64%;
	left: 38%;
}

#memberBtn6 {
	top: 64%;
	right: 8%;
}

#memberBtn7 {
	top: 102%;
	left: 8%;
}

#memberBtn8 {
	top: 102%;
	left: 38%;
}

#memberBtn9 {
	top: 102%;
	right: 8%;
}

#memberBtn10 {
	top: 140%;
	left: 8%;
}

#memberBtn11 {
	top: 140%;
	left: 38%;
}

#memberBtn12 {
	top: 140%;
	right: 8%;
}

#memberBtn13 {
	top: 178%;
	left: 8%;
}


#member24H {
	position: absolute;
	left: 14%;
	width: 72%;
	bottom: 11%;
}



/* accountingCenter */

.function {
	position: absolute;
	left: 3%;
	width: 94%;
	height: 8%;
	text-align: left;
	top: 39%;
	background-color: rgba(125, 102, 94, 1);
	border: 0px;
}

.function img {
	position: absolute;
	width: 100%;
}

#smallBtn1 {
	width: 22%;
	top: 52%;
	left: 3%;
}

#smallBtn2 {
	width: 22%;
	top: 52%;
	left: 27%;
}

#smallBtn3 {
	width: 22%;
	top: 52%;
	left: 51%;
}

#smallBtn4 {
	width: 22%;
	top: 52%;
	left: 75%;
}

.topic {
	position: absolute;
	height: 4%;
	width: 94%;
	left: 3%;
}

.topic img {
	width: 100%;
}

#topic1 {
	top: 50%;
}

#topic2 {
	top: 60%;
}

#topic3 {
	top: 70%;
}

#table1 {
	position: absolute;
	left: 2%;
	width: 96%;
	top: 55%;
}

#table2 {
	position: absolute;
	left: 2%;
	width: 96%;
	top: 65%;
}

#table3 {
	position: absolute;
	left: 2%;
	width: 96%;
	top: 75%;
}

#backMember {
	position: absolute;
	left: 41%;
	bottom: 7%;
	font-size: 2vh;
	color: white;
}


/*  */
/* editAccount */

.editAccount {
	position: absolute;
	width: 100%;
	height: 174%;
	z-index: -1;
}

.typein {
	position: absolute;
	left: 5%;
	color: white;
	font-weight: bold;
	line-height: 1.6em;
	text-align: left;
	width: 100%;
}

.typein input {
	right: 15%;
	position: absolute;
}

#type1 {
	top: 49%;
}

#type2 {
	top: 71%;
}


#yellow {
	position: absolute;
	top: 90%;
	color: rgba(234, 239, 12, 1);
	width: 100%;
	text-align: center;
}

#type3 {
	top: 105%;
}



#line1 {
	position: absolute;
	top: 130%;
	left: 3%;
	width: 94%;
}

#type4 {
	top: 132%;
}


#line2 {
	position: absolute;
	top: 147%;
	left: 3%;
	width: 94%;
}

#type5 {
	top: 149%;
}

#topic4 {
	top: 39%;
}

#editBackMember {
	position: absolute;
	left: 41%;
	bottom: -70%;
	font-size: 2vh;
	color: white;
}

.scroll {
	position: absolute; 
	width: 100%; 
	height: 100%;
	overflow: scroll;
}

.tableTopic {
	position: absolute;
	height: 3%;
	width: 94%;
	left: 3%;
}

.tableTopic img {
	width: 100%;
}

#tableTopic1 {
	top: 45%;
}

#tableTopic2 {
	top: 67%;
}

#tableTopic3 {
	top: 95%;
	height: 9%;
}

#editSendCode {
	position: absolute;
	top: 154%;
	width: 20%;
	background-color: rgba(155, 155, 155, 1);
	left: 45%;
}

#check {
	position: absolute;
	top: 159%;
	width: 48%;
	left: 26%;
}


/*  */

/* activeAccount */

#topic7 {
	top: 70%;
}

#topic7 img {
	width: 100%;
}

#type6 {
	top: 44%;
}

/*  */

/* wallet */

 {
	position: absolute;
	width: 100%;
	height: 118%;
	z-index: -1;
}

#walletBackMember {
	position: absolute;
	left: 41%;
	bottom: 6%;
	font-size: 2vh;
	color: white;
}

#wallet24H {
	position: absolute;
	left: 14%;
	width: 72%;
	bottom: 10%;
}

#walletBackMember2 {
	position: absolute;
	left: 41%;
	bottom: -18%;
	font-size: 2vh;
	color: white;
}

#wallet24H2 {
	position: absolute;
	left: 14%;
	width: 72%;
	bottom: -14%;
}

#topic5 {
	top: 56%;
	width: 28%;
	height: 9%;
}

#topic6 {
	top: 68%;
	width: 28%;
	height: 9%;
}

#activeAccount {
	position: absolute;
	width: 48%;
	left: 26%;
	top: 60%;
}

#table4 {
	position: absolute;
	left: 2%;
	width: 96%;
	top: 75%;
}

/*  */


/* wallet */

#walletText {
	position: absolute;
	color: white;
	text-align: left;
	padding: 4%;
	top: 42%;
}

#payment {
	position: absolute;
	width: 96%;
	top: 57%;
	left: 2%;	
}

#info1 {
	position: absolute;
	width: 19%;
	bottom: 37%;
	left: 44%;
}

#info2 {
	position: absolute;
	width: 19%;
	bottom: 25%;
	left: 44%;
}

#info3 {
	position: absolute;
	width: 19%;
	bottom: 13%;
	left: 44%;
}

#info4 {
	position: absolute;
	width: 19%;
	bottom: 1%;
	left: 44%;
}

#next1 {
	position: absolute;
	width: 22%;
	bottom: 31%;
	left: 71%;
}

#next2 {
	position: absolute;
	width: 22%;
	bottom: 19%;
	left: 71%;
}

#next3 {
	position: absolute;
	width: 22%;
	bottom: 7%;
	left: 71%;
}

#next4 {
	position: absolute;
	width: 22%;
	bottom: -4%;
	left: 71%;
}


#short1 {
	position: absolute;
	width: 22%;
	bottom: 32%;
	right: 33%;
	font-size: 0.7em;
}

#short2 {
	position: absolute;
	width: 22%;
	bottom: 20%;
	right: 33%;
	font-size: 0.7em;
}

#short3 {
	position: absolute;
	width: 22%;
	bottom: 8%;
	right: 33%;
}

#short4 {
	position: absolute;
	width: 22%;
	bottom: -4%;
	right: 33%;
}

/*  */

/* offline */

#offline {
	color: white;
	text-align: left;
	width: 86%;
	left: 7%;
}

.red {
	color: red;
	display: inline-block;
}

.yellow {
	color: yellow;
	display: inline-block;
}

.orange {
	color: #e4771c;
	display: inline-block;
}

.orange a {
	color: #e4771c;
	text-decoration: none;
	cursor: pointer;
}

/*  */

.picture {
	color: white;
}
.picture img {
	width: 96%;
}

#expenseText {
	color: rgba(248, 231, 28, 1);
	margin-top: 73%;
}

#type7 {
	top: 46%;
}

#expenses {
	position: absolute;
	top: 71%;
	width: 48%;
	left: 26%;
}

#topic8 {
	top: 80%;
}

#expenseBackMember {
	position: absolute;
	left: 41%;
	bottom: -15%;
	font-size: 2vh;
	color: white;
}

#expense24H {
	position: absolute;
	left: 14%;
	width: 72%;
	bottom: -10%;
}

#table5 {
	position: absolute;
	top: 85%;
	left: 2%;
	width: 96%;
}

#type8 {
	top: 44%;
}

#withdraw {
	position: absolute;
	top: 83%;
	width: 48%;
	left: 26%;
}

#withdraw img {
	width: 100%;
}

#withdrawBackMember {
	position: absolute;
	left: 41%;
	bottom: -22%;
	font-size: 2vh;
	color: white;
}

#withdraw24H {
	position: absolute;
	left: 14%;
	width: 72%;
	bottom: -17%;
}

#table6 {
	position: absolute;
	top: 93%;
	left: 2%;
	width: 96%;
}

#explanation {
	position: absolute;
	left: 2%;
	width: 96%;
	top: 39%;
}

#topic9 {
	top: 58%;
}

#consignmentText, #consignmentText2 {
	position: absolute;
	top: 63%;
	color: white;
	text-align: left;
	left: 3%;
	width: 94%;
}

#type9 {
	top: 74%;
}

#conBackMember {
	position: absolute;
	left: 41%;
	bottom: -67%;
	font-size: 2vh;
	color: white;
}

#con24H {
	position: absolute;
	left: 14%;
	width: 72%;
	bottom: -62%;
}

#consignment {
	position: absolute;
	left: 26%;
	width: 48%;
	top: 94%;
}

#topic10 {
	top: 103%;
}

#type10 {
	top: 119%;
}

#shift {
	position: absolute;
	left: 26%;
	width: 48%;
	top: 144%;
}

#table7 {
	position: absolute;
	left: 2%;
	width: 96%;
	top: 44%;
}

#bonus {
	position: absolute;
	left: 2%;
	width: 96%;
	top: 38%;
}

#whiteTable {
	position: absolute;
	left: 2%;
	width: 96%;
	top: 44%;
}

.game {
	position: absolute;
	width: 48%;
	left: 6%;
}

#game1 {
	top: 46%;
}

#game2 {
	left: 9%;
	width: 44%;
	top: 60%;
}

#game3 {
	left: 5%;
	width: 49%;
	top: 77%;
}

.gameBtn {
	position: absolute;
	width: 28%;
	right: 8%;
}

#gameBtn1 {
	top: 47%;
}

#gameBtn2 {
	top: 53%;
}

#gameBtn3 {
	top: 61%;
}

#gameBtn4 {
	top: 67%;
}

#gameBtn5 {
	top: 77%;
}

#gameBtn6 {
	top: 83%;
}

.teach {
	color: white; 
	text-align:left; 
	font-size: 0.9em; 
	line-height: 1.2em;
	width: 86%;
	left: 7%;
}

#finishTopic {
	position: absolute;
	left: 3%;
	width: 94%;
	top: 44%;
}


/* adjustment */

body {
	background: #120312;
	margin: 0px;
	font-weight: bold;
}

input {
	margin-left: 2vw;
	border-radius: 0.2em;
	border: 0px;
}

/* input */

.adjustInput {
	height: 1.4em;
	font-size: 0.9em;
}

.signinData .adjustInput {
	width: 55%;
}

#type1 .adjustInput {
	height: 1.2em;
	
}

#type2 .adjustInput {
	height: 1.2em;
	
}

#type3 .adjustInput {
	height: 1.2em;
	
}

#type4 .adjustInput {
	height: 1.2em;
	
}

#type5 .adjustInput {
	height: 1.2em;
	
}

@media(min-height: 1200px) {
	/* pad */
	.background {
		height: 1300px;
	}
}

@media(min-height: 1400px) {
	/* smart phone */
	.background {
		height: 1650px;
	}
}



