/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/print.scss */
body {
  font-family: PingFangSC-Regular, sans-serif;
}

/* line 9, ../sass/print.scss */
.text {
  font-family: PingFangSC-Semibold, sans-serif;
  color: #3a3a3a;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
}

/* line 16, ../sass/print.scss */
.visual {
  width: 100%;
  height: 650px;
}
/* line 20, ../sass/print.scss */
.visual .logo {
  position: absolute;
  width: 28%;
  top: 18%;
  left: 17%;
}
/* line 26, ../sass/print.scss */
.visual .quote {
  position: absolute;
  height: 42%;
  width: 36%;
  left: 47%;
  top: 25%;
}
/* line 34, ../sass/print.scss */
.visual .quote #theQuote, .visual .quote #underQuote {
  font-family: PingFangSC-Semibold, sans-serif;
  position: absolute;
  color: #3a3a3a;
  font-size: 40px;
  left: 2%;
}
/* line 41, ../sass/print.scss */
.visual .quote .text {
  position: relative;
  width: 70%;
  top: 19%;
  left: 16%;
}
/* line 48, ../sass/print.scss */
.visual .quote #underQuote {
  left: 91%;
  top: 91%;
}

/* line 55, ../sass/print.scss */
.fixedBar {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1;
  font-family: PingFangSC-semiBold, sans-serif;
  background-color: white;
  height: 80px;
  font-size: 18px;
  font-weight: bold;
  line-height: 76px;
  margin-top: -80px;
}
/* line 68, ../sass/print.scss */
.fixedBar .btnGrp {
  position: absolute;
  height: 80px;
  width: 65%;
  right: 0;
}
/* line 75, ../sass/print.scss */
.fixedBar .btnGrp .btn {
  display: inline-block;
  color: #e6051c;
  width: 24%;
  text-align: center;
}

/* line 84, ../sass/print.scss */
.time {
  background: #2a2a2a;
  height: 1000px;
}
/* line 88, ../sass/print.scss */
.time .title {
  font-family: PingFangSC-Regular, sans-serif;
  position: relative;
  display: inline-block;
  color: white;
  font-size: 32px;
}
/* line 96, ../sass/print.scss */
.time .now {
  position: relative;
  font-family: PingFangSC-Regular, sans-serif;
  letter-spacing: 1px;
  color: white;
  font-size: 32px;
  width: 64%;
  left: 21%;
  top: 9%;
}
/* line 107, ../sass/print.scss */
.time .now .title {
  margin-top: 12px;
}
/* line 111, ../sass/print.scss */
.time .now #dateText {
  position: absolute;
  display: inline-block;
  line-height: 42px;
  right: 0;
  width: 76%;
}
/* line 119, ../sass/print.scss */
.time .now #timeText {
  font-family: PingFangSC-Light, sans-serif;
  position: absolute;
  display: inline-block;
  top: 110%;
  left: 52%;
}
/* line 127, ../sass/print.scss */
.time .now #lunarText {
  font-family: PingFangSC-Light, sans-serif;
  position: absolute;
  display: inline-block;
  line-height: 42px;
  top: 15%;
  left: 72%;
}
/* line 137, ../sass/print.scss */
.time .timeLine {
  position: relative;
  font-family: PingFangSC-Regular, sans-serif;
  letter-spacing: 1px;
  width: 64%;
  left: 21%;
  top: 26%;
}
/* line 146, ../sass/print.scss */
.time .timeLine .circle {
  position: absolute;
  background: #2a2a2a;
  width: 30px;
  height: 30px;
  border: 4px white solid;
  border-radius: 50%;
  z-index: 1;
}
/* line 156, ../sass/print.scss */
.time .timeLine #one {
  top: 100px;
}
/* line 160, ../sass/print.scss */
.time .timeLine #two {
  top: 450px;
}
/* line 164, ../sass/print.scss */
.time .timeLine .line {
  position: absolute;
  background: white;
  width: 4px;
  height: 1000px;
  left: 16px;
  top: 130px;
}

/* line 175, ../sass/print.scss */
.member {
  position: relative;
  width: 100%;
  height: 1170px;
  font-size: 0;
}

/* line 183, ../sass/print.scss */
.half, .quarter {
  position: relative;
  display: inline-block;
  font-family: PingFangSC-Light, sans-serif;
  color: #222222;
  height: 390px;
  border: 1px solid #e5e5e5;
  width: 50%;
  margin-left: -2px;
  font-size: 36px;
}
/* line 195, ../sass/print.scss */
.half .cadre, .quarter .cadre {
  /* deleted
  .title {
  	position: absolute;
  	width: 100%;
  	bottom: 7%;
  	text-align: center;
  }
  */
}
/* line 196, ../sass/print.scss */
.half .cadre img, .quarter .cadre img {
  position: absolute;
}

/* line 210, ../sass/print.scss */
.quarter {
  width: 25%;
}

/* line 215, ../sass/print.scss */
.footer {
  position: relative;
  width: 100%;
  height: 300px;
  background: #2a2a2a;
}
/* line 221, ../sass/print.scss */
.footer .title {
  position: absolute;
  font-family: PingFangSC-Light, sans-serif;
  color: white;
  font-size: 24px;
  top: 14%;
  left: 10%;
}
/* line 229, ../sass/print.scss */
.footer .text {
  position: absolute;
  font-family: PingFangSC-Light, sans-serif;
  color: white;
  font-size: 16px;
  line-height: 20px;
  width: 40%;
  top: 28%;
  left: 10%;
}

/* font-size */
/* line 246, ../sass/print.scss */
.small {
  display: inline-block;
  font-size: 24px;
}

/* line 251, ../sass/print.scss */
.regular {
  display: inline-block;
  font-size: 32px;
}

/* line 256, ../sass/print.scss */
.big {
  display: inline-block;
  font-size: 48px;
}

/* line 261, ../sass/print.scss */
.bigger {
  display: inline-block;
  font-size: 48px;
}

/* line 266, ../sass/print.scss */
.biggest {
  display: inline-block;
  font-size: 103px;
}
