@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
@font-face {
  font-family: 'pictureWord';
  src: url(../fonts/picture-word.ttf);
}
/* line 16, ../sass/print.scss */
body {
  font-family: PingFangSC-Regular, sans-serif, "微软雅黑", "microsoft yahei";
  background: #d8ecdf;
  height: 100vh;
  overflow: hidden;
}

/* line 23, ../sass/print.scss */
a {
  text-decoration: none;
}

/* line 27, ../sass/print.scss */
.pictureWord {
  font-family: pictureWord;
}

/* line 31, ../sass/print.scss */
.fixedBar {
  position: fixed;
  top: 0;
  width: 1280px;
}

/* line 37, ../sass/print.scss */
.cloud1, .cloud2, .cloud3 {
  position: absolute;
  width: 80px;
}

/* line 42, ../sass/print.scss */
.cloud1 {
  top: 120px;
  left: 5%;
  animation-name: cloud1;
  animation-duration: 30s;
  animation-timing-function: linear;
}

/* line 51, ../sass/print.scss */
.cloud2 {
  top: 320px;
  left: 15%;
  animation-name: cloud2;
  animation-duration: 50s;
  animation-timing-function: linear;
}

/* line 60, ../sass/print.scss */
.cloud3 {
  top: 450px;
  left: 60%;
  animation-name: cloud3;
  animation-duration: 45s;
  animation-timing-function: linear;
}

/* line 71, ../sass/print.scss */
.tree img.treeBody {
  position: absolute;
  bottom: 0;
  width: 80px;
  left: 50%;
  margin-left: -40px;
  height: 72vh;
  z-index: 2;
}
/* line 81, ../sass/print.scss */
.tree .branch {
  position: absolute;
}
/* line 85, ../sass/print.scss */
.tree .text {
  position: relative;
  width: 50%;
  left: 25%;
  color: white;
  font-size: 20px;
  line-height: 24px;
  font-family: PingFangSC-Regular, sans-serif, "微软雅黑", "microsoft yahei";
  text-align: center;
}
/* line 96, ../sass/print.scss */
.tree .treetop {
  position: absolute;
  bottom: 71%;
  height: 100px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  background: #ea5514;
  border-radius: 20px;
  z-index: 3;
  animation-delay: 0.5s;
}
/* line 109, ../sass/print.scss */
.tree .treetop .text {
  top: 25%;
}
/* line 114, ../sass/print.scss */
.tree .fruitOne {
  position: absolute;
  right: 50%;
  bottom: 55%;
  height: 150px;
}
/* line 122, ../sass/print.scss */
.tree .fruitOne .fruit {
  position: absolute;
  width: 200px;
  height: 100px;
  background: red;
  border-radius: 20px;
  background: #f39700;
  z-index: 3;
  animation-delay: 1s;
}
/* line 133, ../sass/print.scss */
.tree .fruitOne .fruit .text {
  top: 38%;
}
/* line 138, ../sass/print.scss */
.tree .fruitOne .branch {
  bottom: 0%;
  right: 0%;
  width: 200px;
}
/* line 145, ../sass/print.scss */
.tree .fruitTwo {
  position: absolute;
  left: 50%;
  bottom: 40%;
  height: 250px;
}
/* line 153, ../sass/print.scss */
.tree .fruitTwo .fruit {
  position: absolute;
  left: 25%;
  top: 0%;
  width: 200px;
  height: 100px;
  background: #8ec31f;
  z-index: 3;
  animation-delay: 1.2s;
}
/* line 165, ../sass/print.scss */
.tree .fruitTwo .fruit .text {
  width: 100%;
  top: 28%;
  left: 0;
}
/* line 172, ../sass/print.scss */
.tree .fruitTwo .fruit2 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 130px;
  height: 65px;
  border-radius: 20px;
  background: #dbe000;
  z-index: 3;
  animation-delay: 1.3s;
}
/* line 185, ../sass/print.scss */
.tree .fruitTwo .fruit2 .text {
  width: 100%;
  top: 28%;
  left: 0;
  font-size: 24px;
  color: #804f21;
}
/* line 194, ../sass/print.scss */
.tree .fruitTwo .branch {
  bottom: 0%;
  left: 0%;
  width: 280px;
}
/* line 201, ../sass/print.scss */
.tree .fruitThree {
  position: absolute;
  right: 50%;
  bottom: 30%;
  height: 130px;
}
/* line 209, ../sass/print.scss */
.tree .fruitThree .fruit {
  position: absolute;
  width: 200px;
  height: 100px;
  background: red;
  border-radius: 20px;
  background: #eae95f;
  z-index: 3;
  animation-delay: 1.5s;
}
/* line 220, ../sass/print.scss */
.tree .fruitThree .fruit .text {
  top: 38%;
  color: #804f21;
}
/* line 226, ../sass/print.scss */
.tree .fruitThree .branch {
  bottom: 0%;
  right: 0%;
  width: 150px;
}
/* line 234, ../sass/print.scss */
.tree .fruitFour {
  position: absolute;
  right: 50%;
  bottom: 15%;
  height: 130px;
}
/* line 241, ../sass/print.scss */
.tree .fruitFour .fruit {
  position: absolute;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  background: #2fa8e1;
  z-index: 3;
  animation-delay: 1.8s;
}
/* line 251, ../sass/print.scss */
.tree .fruitFour .fruit .text {
  top: 38%;
}
/* line 256, ../sass/print.scss */
.tree .fruitFour .branch {
  bottom: 0%;
  right: 0%;
  width: 350px;
}
/* line 263, ../sass/print.scss */
.tree .fruitFive {
  position: absolute;
  left: 50%;
  bottom: 15%;
  height: 180px;
}
/* line 270, ../sass/print.scss */
.tree .fruitFive .fruit {
  position: absolute;
  right: 0;
  width: 200px;
  height: 100px;
  z-index: 3;
  animation-delay: 1.7s;
}
/* line 280, ../sass/print.scss */
.tree .fruitFive .branch {
  bottom: 0%;
  left: 0%;
  width: 350px;
}

/* line 288, ../sass/print.scss */
.activity {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 230px;
  height: 280px;
  background: white;
}
/* line 296, ../sass/print.scss */
.activity .title {
  font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
  position: relative;
  width: 100%;
  margin-top: 20px;
  color: #804f21;
  text-align: center;
}

/* line 306, ../sass/print.scss */
.letterbox {
  position: absolute;
  width: 100px;
  bottom: 0;
  right: 50px;
  z-index: 2;
}

/* line 314, ../sass/print.scss */
.grass {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 323, ../sass/print.scss */
.treeBodyAni {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
  height: 72%;
  width: 200px;
  overflow: hidden;
  animation-name: treeBody;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* line 337, ../sass/print.scss */
.branchOneAni {
  overflow: hidden;
  animation-name: branchOneAni;
  animation-duration: 0.7s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

/* line 345, ../sass/print.scss */
.branchTwoAni {
  overflow: hidden;
  animation-name: branchTwoAni;
  animation-duration: 0.7s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

/* line 353, ../sass/print.scss */
.branchThreeAni {
  overflow: hidden;
  animation-name: branchThreeAni;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

/* line 361, ../sass/print.scss */
.branchFourAni {
  overflow: hidden;
  animation-name: branchFourAni;
  animation-duration: 0.7s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

/* line 369, ../sass/print.scss */
.branchFiveAni {
  overflow: hidden;
  animation-name: branchFiveAni;
  animation-duration: 0.7s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes cloud1 {
  from {
    left: 5%;
  }
  to {
    left: 100%;
  }
}
@keyframes cloud2 {
  from {
    left: 15%;
  }
  to {
    left: 100%;
  }
}
@keyframes cloud3 {
  from {
    left: 60%;
  }
  to {
    left: 100%;
  }
}
@keyframes treeBody {
  from {
    height: 0;
  }
  to {
    height: 72%;
  }
}
@keyframes branchOneAni {
  from {
    width: 0;
  }
  to {
    width: 330px;
  }
}
@keyframes branchTwoAni {
  from {
    width: 0;
  }
  to {
    width: 430px;
  }
}
@keyframes branchThreeAni {
  from {
    width: 0;
  }
  to {
    width: 280px;
  }
}
@keyframes branchFourAni {
  from {
    width: 0;
  }
  to {
    width: 520px;
  }
}
@keyframes branchFiveAni {
  from {
    width: 0;
  }
  to {
    width: 450px;
  }
}
