/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

$color: #009e95;
$color2: #595757;

@import "base/font";

body {
	font-family: PingFangSC-Regular, sans-serif, "微软雅黑", "microsoft yahei";
	background: #d8ecdf;
	overflow: scroll;
	margin: 0;
}

.fixedBar {
	// position: absolute;
}

.title {
	position: absolute;
	width: 270px;
	top: 107px;
	left: 5%;
}

.container {
	position: relative;
	background: white;
	width: 90%;
	padding-bottom: 70px;
	margin-top: 184px;
	margin-bottom: 70px;
	left: 5%;
	border-radius: 15px;

	.decoration {
		position: relative;
		width: 92%;
		left: 4%;
	}

	.gameSet {
		position: relative;
		// background: red;
		width: 80%;
		left: 10%;
		top: 40px;

		.game {
			display: inline-block;
			margin-right: 18px;
			width: 170px;
			text-align: center;

			img {
				cursor: pointer;
				width: 100%;
			}
			.text {
				font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
				margin-top: 20px;
				font-size: 18px;
				color: $color;
			}
		}
	}

	.dialog {
		position: relative;
		width: 80%;
		left: 10%;
		background: #eef7f0;
		border: #5fb7b0 1.5px solid;
		border-radius: 10px;
		margin-top: 115px;
		
		img.dialogImg {
			position: absolute;
			width: 92px;
			top: -51px;
			left: 39px;
			z-index: 2;
		}

		.dialogContent{ 
			padding: 50px 5%;

			.picture {
				position: relative;
				display: inline-block;
				width: 28%;
				margin-left: 2%;
				vertical-align: top;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	
	.container {
		width: 100%;
		left: 0;
		border-radius: 0;
	}

}


