/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/style.scss */
body {
  font-family: PingFangSC-light, sans-serif;
  margin: 0;
}

/* line 11, ../sass/style.scss */
.logo {
  position: absolute;
  width: 150px;
  top: 280px;
  left: 15%;
}

/* line 18, ../sass/style.scss */
.container {
  position: relative;
  width: 70%;
  left: 30%;
  padding-bottom: 50px;
  background-image: url("../img/light.png");
  background-size: 100% 100%;
}
/* line 26, ../sass/style.scss */
.container .text {
  position: relative;
  width: 70%;
  left: 30%;
  font-size: 1.15em;
}
/* line 32, ../sass/style.scss */
.container .text .title {
  font-family: PingFangSC-regular, sans-serif;
  width: 200px;
  height: 50px;
  font-size: 28px;
  border-bottom: black 2px solid;
}
/* line 41, ../sass/style.scss */
.container .text .worker {
  width: 50%;
  margin-left: 40%;
}

/* line 48, ../sass/style.scss */
.layerTwo {
  position: relative;
  width: 80%;
  left: 10%;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  border: rgba(0, 0, 0, 0.7) 2px solid;
}

/* line 58, ../sass/style.scss */
.layerThree {
  position: relative;
  width: 80%;
  left: 10%;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: left;
  padding-bottom: 50px;
  background: #3b3a39;
  color: white;
}
/* line 70, ../sass/style.scss */
.layerThree .title {
  font-family: PingFangSC-regular, sans-serif;
  width: 200px;
  height: 50px;
  font-size: 28px;
  border-bottom: white 2px solid;
}
/* line 78, ../sass/style.scss */
.layerThree .letter {
  position: absolute;
  width: 60%;
  left: 20%;
  z-index: -1;
}
/* line 84, ../sass/style.scss */
.layerThree img {
  position: absolute;
  width: 40%;
  left: 50%;
  margin-top: -100px;
}
/* line 91, ../sass/style.scss */
.layerThree .content {
  margin-left: 10%;
}
