@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
@font-face {
  font-family: 'pictureWord';
  src: url(../fonts/PICNESE-ONLY_ASCII.ttf);
}
@font-face {
  font-family: 'ZUYIN';
  src: url(../fonts/ZUYIN.ttf);
}
/* line 20, ../sass/base/_font.scss */
.pictureWord {
  font-family: pictureWord;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
/* line 6, ../sass/base/_bar.scss */
body {
  font-family: PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb !important;
}

/* line 15, ../sass/base/_bar.scss */
.fixedBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.5);
}
/* line 24, ../sass/base/_bar.scss */
.fixedBar .logo {
  position: relative;
  left: 2%;
  top: 15px;
  width: 130px;
}
/* line 31, ../sass/base/_bar.scss */
.fixedBar .btnGrp {
  position: absolute;
  top: 0;
  right: 2%;
  height: 100%;
  font-size: 0;
}
/* line 40, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn {
  font-weight: bold;
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  color: #804f21;
  text-decoration: none;
}
/* line 55, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn img {
  width: 20px;
  vertical-align: middle;
}
/* line 60, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn .circle {
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  background: red;
}
/* line 73, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn .circle img {
  width: 100%;
  vertical-align: top;
}

/* line 83, ../sass/base/_bar.scss */
footer {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  background: #91ceb3;
  opacity: 0.9;
  color: white;
}
/* line 92, ../sass/base/_bar.scss */
footer .logo {
  position: relative;
  -webkit-filter: brightness(100);
  margin-top: 20px;
  margin-left: 60px;
}
/* line 99, ../sass/base/_bar.scss */
footer .linkArea {
  position: relative;
  margin-top: 40px;
  width: 88%;
  left: 12%;
  font-size: 14px;
  line-height: 26px;
}
/* line 107, ../sass/base/_bar.scss */
footer .linkArea .grp {
  display: inline-block;
  vertical-align: top;
  padding-right: 3%;
  height: 132px;
  padding-left: 10px;
  border-left: white 1px solid;
  margin-bottom: 50px;
}
/* line 117, ../sass/base/_bar.scss */
footer .linkArea .grp b {
  font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
}
/* line 121, ../sass/base/_bar.scss */
footer .linkArea .grp a {
  font-family: PingFangSC-light, sans-serif, "微软雅黑", "microsoft yahei";
  color: white;
  text-decoration: none;
}
/* line 126, ../sass/base/_bar.scss */
footer .linkArea .grp a:hover {
  text-decoration: underline;
}
/* line 131, ../sass/base/_bar.scss */
footer .linkArea .grp img {
  width: 15px;
}
/* line 135, ../sass/base/_bar.scss */
footer .linkArea .grp .line {
  width: 100%;
  height: 1px;
  margin: 12px 0;
  background: white;
}
/* line 147, ../sass/base/_bar.scss */
footer .linkArea .final {
  padding-right: 0;
}
/* line 152, ../sass/base/_bar.scss */
footer .context {
  color: #595757;
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

@media screen and (max-width: 1000px) {
  /* line 162, ../sass/base/_bar.scss */
  .fixedBar {
    width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 171, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 7%;
  }
}
@media screen and (min-width: 1281px) {
  /* line 181, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 4%;
  }
}
@media screen and (max-width: 400px) {
  /* line 191, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 2%;
  }
}
@font-face {
  font-family: 'pinyin';
}
/* line 17, ../sass/music_each.scss */
body {
  background: #e4d9d9;
  width: 1280px;
}

/* line 22, ../sass/music_each.scss */
.pictureWord {
  font-family: pictureWord !important;
}

/* line 26, ../sass/music_each.scss */
.pinyin {
  font-family: pinyin;
}

/* line 30, ../sass/music_each.scss */
.rwd {
  position: relative;
  width: 1280px;
}

/* line 36, ../sass/music_each.scss */
.sideBtn {
  position: relative;
  display: inline-block;
  margin-top: 100px;
  margin-left: 7%;
  margin-right: 1.5%;
  width: 7.5%;
  text-align: center;
}
/* line 46, ../sass/music_each.scss */
.sideBtn .btn {
  position: relative;
  display: inline-block;
  font-weight: lighter;
  color: grey;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 35px;
}
/* line 56, ../sass/music_each.scss */
.sideBtn .btn img {
  width: 90%;
  margin-bottom: 4px;
}
/* line 62, ../sass/music_each.scss */
.sideBtn .secondBtn {
  margin-bottom: 45px;
}
/* line 65, ../sass/music_each.scss */
.sideBtn .secondBtn img {
  margin-bottom: 11px;
}
/* line 71, ../sass/music_each.scss */
.sideBtn .backBtn img {
  width: 70%;
  margin-bottom: 10px;
}

/* line 78, ../sass/music_each.scss */
.allMusic {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 300px;
  margin-left: 4%;
  margin-top: 80px;
  margin-bottom: 300px;
}
/* line 89, ../sass/music_each.scss */
.allMusic .each {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 28%;
  height: 184px;
  margin-left: 3%;
  margin-bottom: 65px;
  font-size: 0;
  cursor: pointer;
}
/* line 100, ../sass/music_each.scss */
.allMusic .each img {
  width: 100%;
}
/* line 104, ../sass/music_each.scss */
.allMusic .each .title {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  font-size: 22px;
  letter-spacing: 5px;
  margin-bottom: -36px;
  color: grey;
}
/* line 116, ../sass/music_each.scss */
.allMusic .each .small {
  display: none;
  margin-top: 20px;
}
/* line 122, ../sass/music_each.scss */
.allMusic .each:hover .haveMusic {
  display: none;
}
/* line 126, ../sass/music_each.scss */
.allMusic .each:hover .small {
  display: block;
}
/* line 134, ../sass/music_each.scss */
.allMusic .page {
  width: 100%;
  letter-spacing: 5px;
  font-size: 22px;
  text-align: center;
}
/* line 140, ../sass/music_each.scss */
.allMusic .page a {
  color: white;
  text-decoration: none;
}
/* line 145, ../sass/music_each.scss */
.allMusic .page .grey {
  display: inline-block;
  color: grey;
  font-size: 18px;
  vertical-align: 10%;
}

/* line 154, ../sass/music_each.scss */
.musicImg {
  vertical-align: top;
  display: inline-block;
  width: 20%;
  margin-top: 130px;
  margin-left: 3%;
}

/* line 162, ../sass/music_each.scss */
.content {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 68vw;
  margin-left: 4%;
  margin-top: 80px;
  margin-bottom: 300px;
}
/* line 178, ../sass/music_each.scss */
.content img {
  position: absolute;
  width: 100%;
}
/* line 183, ../sass/music_each.scss */
.content .context {
  position: relative;
  width: 46%;
  font-size: 2.5vw;
  line-height: 4vw;
  letter-spacing: 0.8vw;
  color: white;
  text-align: center;
  padding-top: 40px;
}
/* line 197, ../sass/music_each.scss */
.content .context .topic {
  font-size: 2.8vw;
  margin-bottom: 1vw;
}
/* line 206, ../sass/music_each.scss */
.content .context .text {
  padding-top: 1vw;
}
/* line 211, ../sass/music_each.scss */
.content .context .text a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
/* line 217, ../sass/music_each.scss */
.content .context .text a:hover {
  font-size: 3vw;
}
/* line 227, ../sass/music_each.scss */
.content .pictureWord {
  letter-spacing: 0.7vw;
}

/* line 235, ../sass/music_each.scss */
.switch {
  position: absolute;
  top: 40vw;
  margin-top: 80px;
  right: 8vw;
  width: 9vw;
  cursor: pointer;
}
/* line 245, ../sass/music_each.scss */
.switch img {
  width: 100%;
}

/* line 251, ../sass/music_each.scss */
.star .context {
  left: 40%;
}
/* line 254, ../sass/music_each.scss */
.star .context .text {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
}

/* line 263, ../sass/music_each.scss */
.tiger .context {
  left: 12%;
  padding-top: 6vw;
  color: #5b0f02;
}
/* line 270, ../sass/music_each.scss */
.tiger .context .topic {
  background: #faf494;
  display: inline-block;
  padding-right: 10%;
  padding-left: 10%;
  border-radius: 30px;
}
/* line 279, ../sass/music_each.scss */
.tiger img {
  width: 94%;
}

/* line 284, ../sass/music_each.scss */
footer {
  background: #B29393;
  margin-top: 90px;
}

@media screen and (min-width: 1281px) {
  /* line 291, ../sass/music_each.scss */
  body {
    width: 100%;
  }

  /* line 295, ../sass/music_each.scss */
  .rwd {
    width: 100%;
  }

  /* line 300, ../sass/music_each.scss */
  .allMusic .each {
    height: 14vw;
  }
}
