@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/print.scss */
body {
  font-family: PingFangSC-Regular, sans-serif;
  background: #709ba8;
}

/* line 12, ../sass/print.scss */
.container {
  position: fixed;
  width: 1280px;
  height: 860px;
  overflow: hidden;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* line 28, ../sass/print.scss */
.fixedBar {
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
}

/* line 35, ../sass/print.scss */
.backgroundImg {
  position: absolute;
  width: 100%;
}

/* line 41, ../sass/print.scss */
.word .theWord {
  position: absolute;
  background-image: url("../img/word.png");
  background-size: cover;
  width: 188px;
  height: 194px;
  top: 270px;
  left: 400px;
  animation-iteration-count: infinite;
}
/* line 52, ../sass/print.scss */
.word .theWord .wordEx {
  position: relative;
  width: 65%;
  top: 5%;
  left: 18%;
}
/* line 59, ../sass/print.scss */
.word .theWord .mainWord {
  font-family: "微软雅黑", "microsoft yahei";
  font-weight: bold;
  position: absolute;
  font-size: 30px;
  left: 42%;
  color: white;
}
/* line 68, ../sass/print.scss */
.word .wordShadow {
  position: absolute;
  top: 470px;
  left: 360px;
  animation-iteration-count: infinite;
}
/* line 76, ../sass/print.scss */
.word .originalWord {
  font-family: "微软雅黑", "microsoft yahei";
  font-weight: bold;
  position: absolute;
  font-size: 28px;
  color: white;
}
/* line 84, ../sass/print.scss */
.word .one {
  background-image: url("../img/one.png");
  background-size: cover;
  position: absolute;
  cursor: pointer;
  top: 80px;
  left: 360px;
  width: 175px;
  height: 229px;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-duration: 1s;
}
/* line 98, ../sass/print.scss */
.word .one .originalWord {
  top: 35px;
  left: 72px;
}
/* line 103, ../sass/print.scss */
.word .one img {
  z-index: 2;
  width: 40%;
  transform: translateX(65px) translateY(95px);
}
/* line 107, ../sass/print.scss */
.word .one img:hover {
  transform: translateX(65px) translateY(85px);
}
/* line 113, ../sass/print.scss */
.word .two {
  background-image: url("../img/two.png");
  background-size: cover;
  position: absolute;
  cursor: pointer;
  top: 170px;
  left: 260px;
  width: 198px;
  height: 183px;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-duration: 0.8s;
}
/* line 127, ../sass/print.scss */
.word .two .originalWord {
  top: 23px;
  left: 34px;
}
/* line 132, ../sass/print.scss */
.word .two img {
  z-index: 2;
  width: 36%;
  transform: translateX(65px) translateY(60px);
}
/* line 136, ../sass/print.scss */
.word .two img:hover {
  transform: translateX(65px) translateY(50px);
}
/* line 142, ../sass/print.scss */
.word .three {
  background-image: url("../img/three.png");
  background-size: cover;
  position: absolute;
  cursor: pointer;
  top: 250px;
  left: 170px;
  width: 287px;
  height: 206px;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-duration: 1.2s;
}
/* line 156, ../sass/print.scss */
.word .three .originalWord {
  top: 38px;
  left: 25px;
}
/* line 161, ../sass/print.scss */
.word .three img {
  z-index: 2;
  width: 36%;
  transform: translateX(50px) translateY(45px);
}
/* line 165, ../sass/print.scss */
.word .three img:hover {
  transform: translateX(50px) translateY(35px);
}
/* line 170, ../sass/print.scss */
.word .four {
  background-image: url("../img/four.png");
  background-size: cover;
  position: absolute;
  cursor: pointer;
  top: 370px;
  left: 110px;
  width: 381px;
  height: 135px;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-duration: 0.7s;
}
/* line 184, ../sass/print.scss */
.word .four .originalWord {
  top: 36px;
  left: 24px;
}
/* line 189, ../sass/print.scss */
.word .four img {
  z-index: 2;
  width: 18%;
  transform: translateX(75px) translateY(35px);
}
/* line 193, ../sass/print.scss */
.word .four img:hover {
  transform: translateX(75px) translateY(25px);
}

/* line 201, ../sass/print.scss */
.wall .wallImg {
  position: absolute;
  background-image: url("../img/wall.png");
  background-size: cover;
  cursor: pointer;
  width: 30%;
  right: -3%;
  top: 320px;
  opacity: 0.7;
  transform: skewX(-5deg) skewY(35deg);
  animation-name: prompt;
}
/* line 213, ../sass/print.scss */
.wall .wallImg img#wallImg {
  position: absolute;
  width: 100%;
}
/* line 218, ../sass/print.scss */
.wall .wallImg img {
  position: relative;
  width: 8%;
  margin: 2%;
  z-index: 1;
  margin-bottom: -45%;
}
/* line 225, ../sass/print.scss */
.wall .wallImg img:hover {
  width: 10%;
}
/* line 231, ../sass/print.scss */
.wall:hover {
  transform: scale(1.1) translateX(-50px) translateY(-50px);
}

/* line 236, ../sass/print.scss */
.dialog {
  position: absolute;
  width: 26%;
  top: 60%;
  left: 20%;
}
/* line 242, ../sass/print.scss */
.dialog img {
  position: absolute;
  opacity: 0.1;
  /* default */
}
/* line 247, ../sass/print.scss */
.dialog img.dialogImg {
  opacity: 1;
  display: none;
}
/* line 252, ../sass/print.scss */
.dialog .dialogContent {
  font-family: "微软雅黑", "microsoft yahei";
  font-weight: bold;
  font-size: 18px;
  position: relative;
  left: 20%;
  margin-top: 20%;
  line-height: 24px;
  display: none;
  /* default */
}

/* line 264, ../sass/print.scss */
.goBack {
  font-family: PingFangSC-Regular, sans-serif;
  position: absolute;
  height: 860px;
  width: 200px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 110vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.45) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.45) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.45) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
  /* IE6-9 */
  display: none;
  animation-iteration-count: infinite;
}
/* line 285, ../sass/print.scss */
.goBack img {
  width: 7%;
  vertical-align: 0.35%;
}

/* animation control */
/* can delete
.explore {
	animation-name: explore;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.antiExplore {
	animation-name: antiExplore;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}*/
/* line 308, ../sass/print.scss */
.prompt {
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* line 315, ../sass/print.scss */
.move {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* line 321, ../sass/print.scss */
.enlarge {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* line 326, ../sass/print.scss */
.watchDialog {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes explore {
  from {
    transform: skewX(0deg) skewY(0deg);
    width: 1280px;
    height: 860px;
    right: 0;
  }
  to {
    transform: skewX(0deg) skewY(-17deg);
    width: 2600px;
    height: 1200px;
    right: 0;
  }
}
@keyframes antiExplore {
  from {
    transform: skewX(0deg) skewY(-17deg);
    width: 2600px;
    height: 1200px;
    right: 0;
  }
  to {
    transform: skewX(0deg) skewY(0deg);
    width: 1280px;
    height: 860px;
    right: 0;
  }
}
@keyframes prompt {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes move {
  from {
    top: 320px;
    opacity: 0.7;
    transform: skewX(-5deg) skewY(35deg);
  }
  to {
    top: 420px;
    opacity: 1;
    transform: skewX(0deg) skewY(32deg);
  }
}
@keyframes antiMove {
  from {
    top: 420px;
    opacity: 1;
    transform: skewX(0deg) skewY(32deg);
  }
  to {
    top: 320px;
    opacity: 0.7;
    transform: skewX(-5deg) skewY(35deg);
  }
}
@keyframes enlarge {
  from {
    width: 30%;
  }
  to {
    width: 32%;
  }
}
@keyframes watchDialog {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-155px);
  }
}
@keyframes antiWatchDialog {
  from {
    transform: translateY(-155px);
  }
  to {
    transform: translateY(0px);
  }
}
