@charset "UTF-8";
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
/* line 6, ../sass/base/_bar.scss */
body {
  font-family: PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb !important;
}

/* line 15, ../sass/base/_bar.scss */
.fixedBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.5);
}
/* line 24, ../sass/base/_bar.scss */
.fixedBar .logo {
  position: relative;
  left: 2%;
  top: 15px;
  width: 130px;
}
/* line 31, ../sass/base/_bar.scss */
.fixedBar .btnGrp {
  position: absolute;
  top: 0;
  right: 2%;
  height: 100%;
  font-size: 0;
}
/* line 40, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn {
  font-weight: bold;
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  color: #804f21;
  text-decoration: none;
}
/* line 55, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn img {
  width: 20px;
  vertical-align: middle;
}
/* line 60, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn .circle {
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  background: red;
}
/* line 73, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn .circle img {
  width: 100%;
  vertical-align: top;
}

/* line 83, ../sass/base/_bar.scss */
footer {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  background: #91ceb3;
  opacity: 0.9;
  color: white;
}
/* line 92, ../sass/base/_bar.scss */
footer .logo {
  position: relative;
  -webkit-filter: brightness(100);
  margin-top: 20px;
  margin-left: 60px;
}
/* line 99, ../sass/base/_bar.scss */
footer .linkArea {
  position: relative;
  margin-top: 40px;
  width: 88%;
  left: 12%;
  font-size: 14px;
  line-height: 26px;
}
/* line 107, ../sass/base/_bar.scss */
footer .linkArea .grp {
  display: inline-block;
  vertical-align: top;
  padding-right: 3%;
  height: 132px;
  padding-left: 10px;
  border-left: white 1px solid;
  margin-bottom: 50px;
}
/* line 117, ../sass/base/_bar.scss */
footer .linkArea .grp b {
  font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
}
/* line 121, ../sass/base/_bar.scss */
footer .linkArea .grp a {
  font-family: PingFangSC-light, sans-serif, "微软雅黑", "microsoft yahei";
  color: white;
  text-decoration: none;
}
/* line 126, ../sass/base/_bar.scss */
footer .linkArea .grp a:hover {
  text-decoration: underline;
}
/* line 131, ../sass/base/_bar.scss */
footer .linkArea .grp img {
  width: 15px;
}
/* line 135, ../sass/base/_bar.scss */
footer .linkArea .grp .line {
  width: 100%;
  height: 1px;
  margin: 12px 0;
  background: white;
}
/* line 147, ../sass/base/_bar.scss */
footer .linkArea .final {
  padding-right: 0;
}
/* line 152, ../sass/base/_bar.scss */
footer .context {
  color: #595757;
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

@media screen and (max-width: 1000px) {
  /* line 162, ../sass/base/_bar.scss */
  .fixedBar {
    width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 171, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 7%;
  }
}
@media screen and (min-width: 1281px) {
  /* line 181, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 4%;
  }
}
@media screen and (max-width: 400px) {
  /* line 191, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 2%;
  }
}
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
/* line 5, ../sass/base/_barRWD.scss */
.menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  top: 0;
  box-shadow: 4px 4px 3px rgba(51, 51, 102, 0.2);
}
/* line 15, ../sass/base/_barRWD.scss */
.menu .menuContent {
  background: rgba(255, 255, 255, 0.9);
  width: 48%;
  height: 100vh;
}
/* line 20, ../sass/base/_barRWD.scss */
.menu .menuContent .threeLine {
  position: absolute;
  right: 53%;
  width: 27px;
  height: 25px;
  margin-top: 12px;
  font-size: 22px;
  color: #8d452d;
  cursor: pointer;
}
/* line 42, ../sass/base/_barRWD.scss */
.menu .menuContent .itemSet {
  padding-top: 30px;
  letter-spacing: 3px;
}
/* line 46, ../sass/base/_barRWD.scss */
.menu .menuContent .itemSet a {
  text-decoration: none;
}
/* line 50, ../sass/base/_barRWD.scss */
.menu .menuContent .itemSet .item {
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  padding-left: 10%;
  margin-left: 3%;
  color: #8d452d;
  display: block;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1.5px solid rgba(50, 50, 50, 0.1);
}
/* line 62, ../sass/base/_barRWD.scss */
.menu .menuContent .itemSet .item img.arrow {
  position: absolute;
  width: 26px;
  right: 55%;
  margin-top: 4px;
}
/* line 69, ../sass/base/_barRWD.scss */
.menu .menuContent .itemSet .item:hover {
  color: rgba(141, 69, 45, 0.7);
}
/* line 73, ../sass/base/_barRWD.scss */
.menu .menuContent .itemSet .item .subItemSet {
  position: absolute;
  display: none;
  background: rgba(255, 255, 255, 0.9);
  left: 48%;
  padding-top: 2px 0;
  width: 40%;
  margin-top: -37px;
  z-index: 4;
  border-left: 1px solid rgba(141, 69, 45, 0.1);
}
/* line 84, ../sass/base/_barRWD.scss */
.menu .menuContent .itemSet .item .subItemSet .subItem {
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  padding-left: 15%;
  margin: 0 3%;
  color: #8d452d;
  display: block;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1.5px solid rgba(50, 50, 50, 0.1);
}
/* line 95, ../sass/base/_barRWD.scss */
.menu .menuContent .itemSet .item .subItemSet .subItem:hover {
  color: rgba(141, 69, 45, 0.7);
}
/* line 101, ../sass/base/_barRWD.scss */
.menu .menuContent .itemSet .item .circle {
  position: relative;
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
}
/* line 114, ../sass/base/_barRWD.scss */
.menu .menuContent .itemSet .item .circle img {
  width: 100%;
}
/* line 122, ../sass/base/_barRWD.scss */
.menu .menuContent .itemSet div.item:hover .subItemSet {
  display: block;
}
/* line 129, ../sass/base/_barRWD.scss */
.menu .menuContent .fb {
  position: absolute;
  bottom: 18px;
  left: 15px;
  width: 45px;
  opacity: 0.9;
}
/* line 136, ../sass/base/_barRWD.scss */
.menu .menuContent .fb img {
  width: 100%;
}

/* line 143, ../sass/base/_barRWD.scss */
.moreClick {
  display: none;
}

/* line 147, ../sass/base/_barRWD.scss */
.phone {
  display: none !important;
}

@media screen and (max-width: 1000px) {
  /* line 156, ../sass/base/_barRWD.scss */
  .desktop {
    display: none !important;
  }

  /* line 160, ../sass/base/_barRWD.scss */
  .phone {
    display: block !important;
  }

  /* line 165, ../sass/base/_barRWD.scss */
  .fixedBar {
    width: 100%;
    background: #ffb833 !important;
  }
  /* line 169, ../sass/base/_barRWD.scss */
  .fixedBar .logo {
    left: 50%;
    margin-left: -65px;
    -webkit-filter: brightness(100);
  }
  /* line 175, ../sass/base/_barRWD.scss */
  .fixedBar .btnGrp {
    width: 100px;
    left: 0;
  }
  /* line 179, ../sass/base/_barRWD.scss */
  .fixedBar .btnGrp .more {
    position: absolute;
    left: 18px;
    width: 25px;
    height: 25px;
    margin-top: 19px;
  }
  /* line 187, ../sass/base/_barRWD.scss */
  .fixedBar .btnGrp .more .line {
    width: 100%;
    margin-bottom: 4px;
    height: 4px;
    background: white;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.9;
  }
  /* line 198, ../sass/base/_barRWD.scss */
  .fixedBar .btnGrp .btn {
    display: none;
  }

  /* line 206, ../sass/base/_barRWD.scss */
  .moreClick {
    display: none;
    background: #ffb833;
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 31px;
    opacity: 0.9;
  }
  /* line 215, ../sass/base/_barRWD.scss */
  .moreClick .btn {
    position: relative;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  /* line 228, ../sass/base/_barRWD.scss */
  .moreClick .btn:hover {
    background: white;
    color: #ffb833;
  }
}
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
@font-face {
  font-family: 'pictureWord';
  src: url(../fonts/PICNESE-ONLY_ASCII.ttf);
}
@font-face {
  font-family: 'ZUYIN';
  src: url(../fonts/ZUYIN.ttf);
}
/* line 20, ../sass/base/_font.scss */
.pictureWord {
  font-family: pictureWord;
}

/* line 9, ../sass/retrieval.scss */
body {
  background: #fdfce6;
  font-size: 0;
  margin: 0;
}

/* line 15, ../sass/retrieval.scss */
.fixedBar {
  background: white;
  z-index: 3;
}
/* line 20, ../sass/retrieval.scss */
.fixedBar p {
  font-weight: bold;
  font-size: 12px;
  margin-left: 18%;
}
/* line 24, ../sass/retrieval.scss */
.fixedBar p a {
  color: #804f21;
  text-decoration: none;
}

/* line 31, ../sass/retrieval.scss */
.searchBar {
  position: relative;
  width: 200px;
  height: 25px;
  background: white;
  border: #e4855c 5px solid;
  border-radius: 20px;
  left: 50%;
  margin-left: -100px;
  margin-top: 80px;
}
/* line 42, ../sass/retrieval.scss */
.searchBar input.search {
  margin-left: 12px;
  margin-top: 3px;
  width: 150px;
  border: 0;
  font-size: 13px;
  color: #9fa0a0;
}
/* line 51, ../sass/retrieval.scss */
.searchBar input.searchBtn {
  position: absolute;
  width: 25px;
  height: 25px;
  vertical-align: top;
  border: 0;
  cursor: pointer;
  background: transparent;
}
/* line 61, ../sass/retrieval.scss */
.searchBar img {
  vertical-align: top;
}

/* line 66, ../sass/retrieval.scss */
.grass {
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
  overflow: hidden;
}
/* line 73, ../sass/retrieval.scss */
.grass img {
  width: 1280px;
}
@media screen and (min-width: 1280px) {
  /* line 77, ../sass/retrieval.scss */
  .grass .grass {
    width: 100%;
  }
}

/* line 83, ../sass/retrieval.scss */
.firstLayer {
  position: relative;
  display: inline-block;
  width: 22vw;
  margin-left: 4%;
  margin-top: 5px;
  text-align: center;
  line-height: 65px;
  color: #595757;
  font-size: 34px;
}
/* line 97, ../sass/retrieval.scss */
.firstLayer .construct {
  position: relative;
  width: 100%;
  height: 115px;
  text-align: center;
}
/* line 104, ../sass/retrieval.scss */
.firstLayer .construct .topic {
  width: 100%;
  height: 40px;
  background: #f8b62d;
  color: white;
  text-align: center;
  border-radius: 30px;
}
/* line 112, ../sass/retrieval.scss */
.firstLayer .construct .topic div {
  letter-spacing: 10px;
  font-size: 16px;
  line-height: 40px;
  margin-left: 5px;
}
/* line 120, ../sass/retrieval.scss */
.firstLayer .construct .each {
  position: relative;
  display: block;
  background: white;
  padding: 0px;
  width: 80%;
  left: 10%;
  margin-top: 20px;
  cursor: pointer;
  color: #595757;
  text-decoration: none;
}
/* line 134, ../sass/retrieval.scss */
.firstLayer .pictureWord {
  display: inline-block;
  font-size: 44px;
}

/* line 140, ../sass/retrieval.scss */
.secondLayer {
  position: relative;
  display: inline-block;
  width: 44vw;
  margin-top: 0px;
  margin-left: 1vw;
  vertical-align: top;
  color: #595757;
  font-size: 0;
}
/* line 153, ../sass/retrieval.scss */
.secondLayer .word {
  position: relative;
  display: inline-block;
  background: white;
  width: 20vw;
  height: 10vw;
  margin-top: 2vw;
  margin-left: 5%;
}
/* line 165, ../sass/retrieval.scss */
.secondLayer .word .picture {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 11vw;
  height: 10vw;
  line-height: 9.5vw;
  font-size: 9vw;
  text-align: center;
  margin-top: 0.5vw;
  border-right: #dcdddd 1px solid;
}
/* line 184, ../sass/retrieval.scss */
.secondLayer .word .traditional {
  font-family: "標楷體", DFKai-sb !important;
  position: relative;
  display: inline-block;
  width: 7.5vw;
  height: 5vw;
  margin-top: 0.5vw;
  padding-left: 1vw;
  border-bottom: #dcdddd 1px solid;
  font-size: 3.3vw;
  line-height: 5vw;
}
/* line 204, ../sass/retrieval.scss */
.secondLayer .word .traditional .simplified {
  font-family: "標楷體", DFKai-sb !important;
  position: relative;
  display: inline-block;
  line-height: 2.2vw;
  border: white 0.2vw solid;
  font-size: 1.7vw;
  text-align: center;
}
/* line 218, ../sass/retrieval.scss */
.secondLayer .word .listen {
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  height: 50px;
  line-height: 2.2vw;
  font-size: 1.8vw;
  margin-top: 0.5vw;
}
/* line 231, ../sass/retrieval.scss */
.secondLayer .word .listen .phonetic {
  position: relative;
  display: inline-block;
  font-size: 1.6vw;
  margin-left: 0px;
  margin-top: 0.5vw;
  line-height: 1.6vw;
}
/* line 242, ../sass/retrieval.scss */
.secondLayer .word .listen .pinYin {
  position: relative;
  display: inline-block;
  font-size: 1.3vw;
  margin-left: 0.3vw;
}
/* line 253, ../sass/retrieval.scss */
.secondLayer .typeWord {
  position: relative;
  width: 21.5vw;
  margin-left: 1.5vw;
  margin-top: 1vw;
}
/* line 264, ../sass/retrieval.scss */
.secondLayer .typeWord .type {
  display: inline-block;
  text-align: center;
  width: 31%;
  margin: 0 1%;
  vertical-align: top;
}
/* line 275, ../sass/retrieval.scss */
.secondLayer .typeWord .type .typeName {
  font-weight: lighter;
  background: #f8db89;
  height: 2.5vw;
  line-height: 2.5vw;
  border-radius: 20px;
  font-size: 1.25vw;
  color: #c2722a;
}
/* line 288, ../sass/retrieval.scss */
.secondLayer .typeWord .type .typeImg {
  font-family: Arial;
  position: relative;
  left: 12%;
  width: 50%;
  padding: 0% 6%;
  margin: 8%;
  margin-bottom: 10px;
  background: white;
  height: 5vw;
  line-height: 5vw;
  font-size: 4.2vw;
}
/* line 304, ../sass/retrieval.scss */
.secondLayer .typeWord .type .typeImg img {
  height: 3vw;
}
/* line 313, ../sass/retrieval.scss */
.secondLayer .draw {
  position: absolute;
  display: inline-block;
  width: 16vw;
  text-align: center;
  vertical-align: top;
  margin-top: 2vw;
  margin-left: 5%;
  padding: 10px;
}
/* line 330, ../sass/retrieval.scss */
.secondLayer .draw img {
  width: 100%;
}
/* line 337, ../sass/retrieval.scss */
.secondLayer .topic a {
  letter-spacing: 0.2vw;
  display: inline-block;
  background: #f8b62d;
  width: 7.2vw;
  height: 2.6vw;
  line-height: 2.6vw;
  font-size: 1.2vw;
  color: white;
  text-align: center;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  border: #f8b62d 1px solid;
  cursor: pointer;
}
/* line 359, ../sass/retrieval.scss */
.secondLayer .topic #unactive {
  background: white;
  border: 0px;
  color: #f8b62d;
  cursor: pointer;
}
/* line 367, ../sass/retrieval.scss */
.secondLayer .scrollFrame {
  position: relative;
  width: 94%;
  border: #f8b62d 1px solid;
  background: white;
  margin-bottom: 20px;
}
/* line 375, ../sass/retrieval.scss */
.secondLayer .explanation {
  position: relative;
  width: 88%;
  padding: 15px 5% 0px 5%;
  padding-bottom: 75px;
  height: 100px;
  font-size: 16px;
  line-height: 22px;
  overflow-y: scroll;
  color: black;
  background: white;
}
/* line 390, ../sass/retrieval.scss */
.secondLayer .explanation::-webkit-scrollbar {
  background-color: white;
  width: 1.2em;
}
/* line 399, ../sass/retrieval.scss */
.secondLayer .explanation::-webkit-scrollbar-thumb {
  background-color: #f3d091;
  border: 3px solid white;
  border-radius: 10px;
}
/* line 409, ../sass/retrieval.scss */
.secondLayer .explanation .main {
  font-weight: lighter;
  font-size: 26px;
  line-height: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 418, ../sass/retrieval.scss */
.secondLayer .explanation p {
  font-size: 18px;
  margin-top: 6px;
}
/* line 424, ../sass/retrieval.scss */
.secondLayer .displayNone {
  display: none;
}
/* line 428, ../sass/retrieval.scss */
.secondLayer .btnGrp {
  position: absolute;
  right: 15px;
}
/* line 432, ../sass/retrieval.scss */
.secondLayer .btnGrp .btn {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  text-align: center;
  color: #c2722a;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
}
/* line 449, ../sass/retrieval.scss */
.secondLayer .btnGrp .btn img {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}
/* line 457, ../sass/retrieval.scss */
.secondLayer .btnGrp .btn div {
  margin-left: -8px;
}
/* line 463, ../sass/retrieval.scss */
.secondLayer .btnGrp #btn1 img {
  margin-top: -10px;
}
/* line 468, ../sass/retrieval.scss */
.secondLayer .btnGrp #btn2 img {
  margin-top: 0px;
}

/* line 475, ../sass/retrieval.scss */
.thirdLayer {
  position: relative;
  display: inline-block;
  width: 22%;
  margin-top: 0px;
  margin-left: 1%;
  vertical-align: top;
  color: #595757;
  margin-bottom: 180px;
}
/* line 487, ../sass/retrieval.scss */
.thirdLayer .topic {
  width: 100%;
  height: 40px;
  background: #f8b62d;
  color: white;
  font-size: 17px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  letter-spacing: 10px;
}
/* line 499, ../sass/retrieval.scss */
.thirdLayer .derivative {
  position: relative;
  width: 93%;
  left: 5%;
  margin-top: 15px;
}
/* line 508, ../sass/retrieval.scss */
.thirdLayer .derivative::-webkit-scrollbar {
  background-color: white;
  width: 1.2em;
  font-size: 16px;
}
/* line 514, ../sass/retrieval.scss */
.thirdLayer .derivative::-webkit-scrollbar-thumb {
  background-color: #f3d091;
  border: 3px solid white;
  border-radius: 10px;
}
/* line 520, ../sass/retrieval.scss */
.thirdLayer .derivative .word {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 46px;
  width: 44px;
  line-height: 42px;
  background: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 6px;
  margin-left: 6px;
}

/* line 536, ../sass/retrieval.scss */
footer {
  margin-top: 4.5vw;
  background: #F7B52C;
}

@media screen and (max-width: 1000px) {
  /* line 545, ../sass/retrieval.scss */
  .searchBar {
    border: #e4855c 3px solid;
  }

  /* line 550, ../sass/retrieval.scss */
  .firstLayer {
    display: block;
    width: 96%;
    margin-top: 20px;
  }
  /* line 556, ../sass/retrieval.scss */
  .firstLayer .construct {
    width: 94%;
    left: 3%;
    height: auto;
    text-align: left;
  }
  /* line 562, ../sass/retrieval.scss */
  .firstLayer .construct .topic {
    display: inline-block;
    width: 35px;
    height: auto;
    background: #f8b62d;
    color: white;
    text-align: center;
    border-radius: 15px;
  }
  /* line 571, ../sass/retrieval.scss */
  .firstLayer .construct .topic div {
    margin: 0;
    letter-spacing: 0;
    line-height: 20px;
    padding: 7px 0px;
  }
  /* line 579, ../sass/retrieval.scss */
  .firstLayer .construct .each {
    display: inline-block;
    vertical-align: top;
    background: white;
    padding: 0px;
    width: 58px;
    height: 58px;
    line-height: 56px;
    left: 0%;
    margin-top: 0px;
    cursor: pointer;
    color: #595757;
    text-decoration: none;
    text-align: center;
    font-size: 0;
  }
  /* line 595, ../sass/retrieval.scss */
  .firstLayer .construct .each .pictureWord {
    font-size: 40px;
  }

  /* line 602, ../sass/retrieval.scss */
  .secondLayer {
    display: block;
    width: 100%;
    margin-left: 0;
    height: auto;
  }
  /* line 608, ../sass/retrieval.scss */
  .secondLayer .word {
    display: block;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    padding: 0;
    height: auto;
    margin-top: 10px;
  }
  /* line 617, ../sass/retrieval.scss */
  .secondLayer .word .picture {
    width: 150px;
    height: 140px;
    line-height: 140px;
    font-size: 130px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: #dcdddd 1px solid;
  }
  /* line 628, ../sass/retrieval.scss */
  .secondLayer .word .traditional {
    width: 145px;
    height: 80px;
    margin-top: 10px;
    padding-left: 10px;
    border-bottom: #dcdddd 1px solid;
    font-size: 64px;
    line-height: 74px;
  }
  /* line 637, ../sass/retrieval.scss */
  .secondLayer .word .traditional .simplified {
    line-height: 26px;
    border: white 0.2vw solid;
    font-size: 32px;
    text-align: center;
  }
  /* line 644, ../sass/retrieval.scss */
  .secondLayer .word .listen {
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    height: 50px;
    line-height: 26px;
    font-size: 20px;
    margin-top: 8px;
  }
  /* line 653, ../sass/retrieval.scss */
  .secondLayer .word .listen .phonetic {
    position: relative;
    display: inline-block;
    font-size: 20px;
    margin-top: 5px;
    line-height: 22px;
  }
  /* line 660, ../sass/retrieval.scss */
  .secondLayer .word .listen .pinYin {
    position: relative;
    display: inline-block;
    font-size: 16px;
    margin-left: 3px;
  }
  /* line 669, ../sass/retrieval.scss */
  .secondLayer .typeWord {
    left: 50%;
    width: 320px;
    margin-left: -160px;
    height: auto;
    margin-top: 20px;
  }
  /* line 677, ../sass/retrieval.scss */
  .secondLayer .typeWord .type {
    vertical-align: top;
  }
  /* line 680, ../sass/retrieval.scss */
  .secondLayer .typeWord .type .typeName {
    font-weight: lighter;
    background: #f8db89;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    font-size: 16px;
    color: #c2722a;
  }
  /* line 690, ../sass/retrieval.scss */
  .secondLayer .typeWord .type .typeImg {
    width: 60%;
    left: 20%;
    padding: 0;
    margin: 10px 0;
    height: 58px;
    line-height: 62px;
    font-size: 52px;
  }
  /* line 700, ../sass/retrieval.scss */
  .secondLayer .typeWord .type .typeImg img {
    height: 40px;
  }
  /* line 707, ../sass/retrieval.scss */
  .secondLayer .draw {
    position: relative;
    display: block;
    left: 50%;
    width: 240px;
    margin-left: -120px;
    margin-top: 0px;
    margin-bottom: 35px;
    padding: 0px;
  }
  /* line 717, ../sass/retrieval.scss */
  .secondLayer .draw img {
    width: 100%;
  }
  /* line 722, ../sass/retrieval.scss */
  .secondLayer .topic {
    position: relative;
    left: 5%;
    width: 90%;
  }
  /* line 727, ../sass/retrieval.scss */
  .secondLayer .topic a {
    letter-spacing: 3px;
    width: 100px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
  }
  /* line 737, ../sass/retrieval.scss */
  .secondLayer .scrollFrame {
    position: relative;
    left: 5%;
    width: 90%;
    border: #f8b62d 1px solid;
    background: white;
    margin-bottom: 20px;
  }
  /* line 747, ../sass/retrieval.scss */
  .secondLayer .btnGrp {
    display: none;
  }

  /* line 753, ../sass/retrieval.scss */
  .thirdLayer {
    display: block;
    width: 90%;
    left: 6%;
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  /* line 761, ../sass/retrieval.scss */
  .thirdLayer .topic {
    width: 35px;
    height: auto;
    background: #f8b62d;
    color: white;
    text-align: center;
    border-radius: 15px;
    letter-spacing: 0;
    line-height: 20px;
    padding: 7px 0px;
  }
  /* line 773, ../sass/retrieval.scss */
  .thirdLayer .phone {
    display: inline-block !important;
  }
  /* line 777, ../sass/retrieval.scss */
  .thirdLayer .derivative {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    left: 5%;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  /* line 788, ../sass/retrieval.scss */
  .thirdLayer .derivative .word {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 60px;
    width: 60px;
    line-height: 60px;
    background: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 6px;
  }

  /* line 804, ../sass/retrieval.scss */
  .forum {
    position: relative;
    left: 5%;
    width: 90%;
    margin-bottom: 60px;
    text-align: left;
    font-size: 14px;
    letter-spacing: 2px;
    color: #c89a6c;
  }
  /* line 814, ../sass/retrieval.scss */
  .forum .topic {
    display: inline-block;
    width: 140px;
    font-size: 15px;
    color: #c2722a;
    line-height: 30px;
    letter-spacing: 5px;
    text-align: center;
  }
  /* line 823, ../sass/retrieval.scss */
  .forum .topic img {
    position: absolute;
    z-index: -1;
    height: 40px;
    margin-left: -26px;
  }
  /* line 832, ../sass/retrieval.scss */
  .forum .discuss {
    position: relative;
    margin-top: 25px;
    left: 5%;
    width: 93%;
    text-align: left;
  }
  /* line 839, ../sass/retrieval.scss */
  .forum .discuss .user {
    display: inline-block;
    background: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px #c6925b solid;
    overflow: hidden;
  }
  /* line 848, ../sass/retrieval.scss */
  .forum .discuss .user img {
    width: 100%;
  }
  /* line 853, ../sass/retrieval.scss */
  .forum .discuss .talk {
    position: relative;
    display: inline-block;
    width: 62%;
    margin-left: 2%;
    vertical-align: top;
    font-size: 15px;
    line-height: 24px;
    color: #595757;
    background: white;
    border-radius: 20px;
    padding: 10px 5%;
  }
  /* line 876, ../sass/retrieval.scss */
  .forum .discuss .userName {
    display: inline-block;
    margin-top: 5px;
    margin-left: 22px;
  }
  /* line 881, ../sass/retrieval.scss */
  .forum .discuss .date {
    position: absolute;
    display: inline-block;
    margin-top: 5px;
    right: 0;
  }
  /* line 890, ../sass/retrieval.scss */
  .forum .discuss:nth-child(odd) .user {
    border-color: #b84984;
  }
  /* line 895, ../sass/retrieval.scss */
  .forum .link {
    display: inline-block;
    position: relative;
    color: #c2722a;
    font-size: 18px;
    width: 60%;
    left: 20%;
    height: 50px;
    line-height: 50px;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background: #f9db88;
  }
}
@media screen and (min-width: 1300px) {
  /* line 917, ../sass/retrieval.scss */
  .grass {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: visible;
  }
}
@media screen and (max-width: 950px) {
  /* line 927, ../sass/retrieval.scss */
  .fixedBar p {
    display: none;
  }
}
