@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
@font-face {
  font-family: 'pictureWord';
  src: url(../fonts/PICNESE-ONLY_ASCII.ttf);
}
@font-face {
  font-family: 'ZUYIN';
  src: url(../fonts/ZUYIN.ttf);
}
/* line 20, ../sass/base/_font.scss */
.pictureWord {
  font-family: pictureWord;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
/* line 6, ../sass/base/_bar.scss */
body {
  font-family: PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb !important;
}

/* line 15, ../sass/base/_bar.scss */
.fixedBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.5);
}
/* line 24, ../sass/base/_bar.scss */
.fixedBar .logo {
  position: relative;
  left: 2%;
  top: 15px;
  width: 130px;
}
/* line 31, ../sass/base/_bar.scss */
.fixedBar .btnGrp {
  position: absolute;
  top: 0;
  right: 2%;
  height: 100%;
  font-size: 0;
}
/* line 40, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn {
  font-weight: bold;
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  color: #804f21;
  text-decoration: none;
}
/* line 55, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn img {
  width: 20px;
  vertical-align: middle;
}
/* line 60, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn .circle {
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  background: red;
}
/* line 73, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn .circle img {
  width: 100%;
  vertical-align: top;
}

/* line 83, ../sass/base/_bar.scss */
footer {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  background: #91ceb3;
  opacity: 0.9;
  color: white;
}
/* line 92, ../sass/base/_bar.scss */
footer .logo {
  position: relative;
  -webkit-filter: brightness(100);
  margin-top: 20px;
  margin-left: 60px;
}
/* line 99, ../sass/base/_bar.scss */
footer .linkArea {
  position: relative;
  margin-top: 40px;
  width: 88%;
  left: 12%;
  font-size: 14px;
  line-height: 26px;
}
/* line 107, ../sass/base/_bar.scss */
footer .linkArea .grp {
  display: inline-block;
  vertical-align: top;
  padding-right: 3%;
  height: 132px;
  padding-left: 10px;
  border-left: white 1px solid;
  margin-bottom: 50px;
}
/* line 117, ../sass/base/_bar.scss */
footer .linkArea .grp b {
  font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
}
/* line 121, ../sass/base/_bar.scss */
footer .linkArea .grp a {
  font-family: PingFangSC-light, sans-serif, "微软雅黑", "microsoft yahei";
  color: white;
  text-decoration: none;
}
/* line 126, ../sass/base/_bar.scss */
footer .linkArea .grp a:hover {
  text-decoration: underline;
}
/* line 131, ../sass/base/_bar.scss */
footer .linkArea .grp img {
  width: 15px;
}
/* line 135, ../sass/base/_bar.scss */
footer .linkArea .grp .line {
  width: 100%;
  height: 1px;
  margin: 12px 0;
  background: white;
}
/* line 147, ../sass/base/_bar.scss */
footer .linkArea .final {
  padding-right: 0;
}
/* line 152, ../sass/base/_bar.scss */
footer .context {
  color: #595757;
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

@media screen and (max-width: 1000px) {
  /* line 162, ../sass/base/_bar.scss */
  .fixedBar {
    width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 171, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 7%;
  }
}
@media screen and (min-width: 1281px) {
  /* line 181, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 4%;
  }
}
@media screen and (max-width: 400px) {
  /* line 191, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 2%;
  }
}
/* line 11, ../sass/teaching.scss */
body {
  background: #e4d9d9;
  width: 1280px;
}

/* line 16, ../sass/teaching.scss */
.pictureWord {
  font-family: pictureWord;
}

/* line 20, ../sass/teaching.scss */
.pinyin {
  font-family: ZUYIN;
}

/* line 25, ../sass/teaching.scss */
.teachingInput {
  display: inline-block;
  vertical-align: top;
  width: 56%;
  margin-top: 50px;
  padding-left: 6%;
  padding-top: 45px;
  font-weight: lighter;
  font-size: 16px;
  color: grey;
  letter-spacing: 1px;
  margin-bottom: 20vw;
}
/* line 39, ../sass/teaching.scss */
.teachingInput .introduction {
  display: inline-block;
  font-size: 13px;
}
/* line 44, ../sass/teaching.scss */
.teachingInput input {
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 20px;
  margin: 10px 10px 20px -10px;
  font-size: 20px;
  letter-spacing: 2px;
  padding-left: 3%;
}
/* line 56, ../sass/teaching.scss */
.teachingInput textarea {
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 25px;
  margin: 10px 10px 20px -10px;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 30px;
  padding-top: 15px;
  padding-left: 3%;
}
/* line 70, ../sass/teaching.scss */
.teachingInput .bottomBtn {
  position: relative;
  width: 100%;
  left: 0;
  margin-top: 30px;
}
/* line 77, ../sass/teaching.scss */
.teachingInput .bottomBtn .btn {
  display: inline-block;
  width: 15%;
  height: 30px;
  line-height: 30px;
  color: white;
  margin: 0 3%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
/* line 92, ../sass/teaching.scss */
.teachingInput .bottomBtn .red {
  background: #f27471;
}
/* line 96, ../sass/teaching.scss */
.teachingInput .bottomBtn .blue {
  background: #6ab0d9;
}
/* line 102, ../sass/teaching.scss */
.teachingInput .follow {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  width: 24%;
  margin-top: -50px;
  right: 20%;
}

/* line 115, ../sass/teaching.scss */
.sideBtn {
  position: relative;
  display: inline-block;
  margin-top: 100px;
  margin-left: 7%;
  margin-right: 1.5%;
  width: 7.5%;
  text-align: center;
}
/* line 125, ../sass/teaching.scss */
.sideBtn .btn {
  position: relative;
  display: inline-block;
  font-weight: lighter;
  color: grey;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 35px;
}
/* line 135, ../sass/teaching.scss */
.sideBtn .btn img {
  width: 90%;
  margin-bottom: 4px;
}
/* line 141, ../sass/teaching.scss */
.sideBtn .secondBtn {
  margin-bottom: 45px;
}
/* line 144, ../sass/teaching.scss */
.sideBtn .secondBtn img {
  margin-bottom: 11px;
}
/* line 150, ../sass/teaching.scss */
.sideBtn .backBtn img {
  width: 70%;
  margin-bottom: 10px;
}

/* line 158, ../sass/teaching.scss */
.paperDivision {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 79%;
  margin-top: 70px;
  padding-bottom: 18vw;
}
/* line 160, ../sass/teaching.scss */
.paperDivision .paper {
  position: absolute;
  width: 100%;
  z-index: -1;
}
/* line 177, ../sass/teaching.scss */
.paperDivision .topic {
  font-weight: lighter;
  padding-top: 40px;
  margin-left: 5%;
  margin-bottom: 25px;
  font-size: 28px;
  letter-spacing: 2px;
  color: #58585a;
}
/* line 188, ../sass/teaching.scss */
.paperDivision .tableDivision {
  letter-spacing: 2px;
  position: relative;
  height: 50vw;
  width: 65%;
  left: 5%;
  border-radius: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 50px;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  margin-bottom: 20px;
}
/* line 217, ../sass/teaching.scss */
.paperDivision .tableDivision table {
  width: 100%;
  font-size: 14px;
  color: #58585a;
}
/* line 222, ../sass/teaching.scss */
.paperDivision .tableDivision table tr {
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  height: 60px;
}
/* line 226, ../sass/teaching.scss */
.paperDivision .tableDivision table tr td {
  text-align: center;
}
/* line 229, ../sass/teaching.scss */
.paperDivision .tableDivision table tr td .btn {
  display: inline-block;
  width: 27%;
  padding: 0 13px;
  height: 27px;
  line-height: 27px;
  color: white;
  margin: 0 3%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
/* line 243, ../sass/teaching.scss */
.paperDivision .tableDivision table tr td .red {
  background: #f27471;
}
/* line 247, ../sass/teaching.scss */
.paperDivision .tableDivision table tr td .green {
  background: #8dc434;
}
/* line 251, ../sass/teaching.scss */
.paperDivision .tableDivision table tr .left {
  text-align: left;
}
/* line 254, ../sass/teaching.scss */
.paperDivision .tableDivision table tr .grey {
  color: grey;
}
/* line 259, ../sass/teaching.scss */
.paperDivision .tableDivision table img {
  width: 35px;
  margin-right: 8px;
  vertical-align: top;
}
/* line 267, ../sass/teaching.scss */
.paperDivision .deleteBtn {
  position: relative;
  display: inline-block;
  font-size: 14px;
  width: 17%;
  height: 28px;
  line-height: 28px;
  color: white;
  margin: 0 3%;
  text-align: center;
  background: #f27471;
  left: 5%;
  cursor: pointer;
}

/* line 283, ../sass/teaching.scss */
.typingBackground {
  position: relative;
  width: 100%;
  margin-top: 80px;
}
/* line 288, ../sass/teaching.scss */
.typingBackground .backgroundImg {
  position: absolute;
  width: 100%;
}
/* line 293, ../sass/teaching.scss */
.typingBackground .stoneArea {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-left: 13%;
  margin-top: 80px;
  margin-bottom: 150px;
}
/* line 300, ../sass/teaching.scss */
.typingBackground .stoneArea .text {
  position: relative;
  width: 100%;
  height: 450px;
  font-size: 56px;
  letter-spacing: 5px;
  line-height: 74px;
  overflow-y: scroll;
  color: #3E3A39;
}
/* line 314, ../sass/teaching.scss */
.typingBackground .stoneArea .text .each {
  display: inline-block;
  cursor: pointer;
}
/* line 319, ../sass/teaching.scss */
.typingBackground .stoneArea .text::-webkit-scrollbar {
  background-color: transparent;
  width: 0.3em;
  padding-right: 100px;
}
/* line 327, ../sass/teaching.scss */
.typingBackground .stoneArea .text::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}
/* line 352, ../sass/teaching.scss */
.typingBackground .stoneArea .top {
  position: absolute;
  width: 16px;
  right: 0;
  top: -4.5%;
}
/* line 359, ../sass/teaching.scss */
.typingBackground .stoneArea .bottom {
  position: absolute;
  width: 16px;
  right: 0;
  bottom: -5.5%;
}
/* line 371, ../sass/teaching.scss */
.typingBackground .cardArea {
  position: relative;
  display: inline-block;
  width: 27%;
  height: 477px;
  margin-left: 6%;
  margin-top: 50px;
  vertical-align: top;
}
/* line 382, ../sass/teaching.scss */
.typingBackground .cardArea .hint {
  position: absolute;
  top: 4%;
  width: 68%;
  left: 17%;
  letter-spacing: 2.5px;
  font-size: 15px;
  line-height: 20px;
  color: grey;
}
/* line 394, ../sass/teaching.scss */
.typingBackground .cardArea .cardShadow {
  position: absolute;
  background: #aaa;
  width: 80%;
  height: 76%;
  top: 15%;
  left: 10%;
  margin-left: 3px;
  margin-top: 3px;
  border-radius: 10px;
}
/* line 406, ../sass/teaching.scss */
.typingBackground .cardArea .card {
  position: absolute;
  background: white;
  width: 90%;
  height: 90%;
  top: 15%;
  left: 5%;
  border-radius: 10px;
}
/* line 416, ../sass/teaching.scss */
.typingBackground .cardArea .card .text {
  position: absolute;
  width: 81%;
  height: 88%;
  top: 7%;
  padding-left: 16%;
  padding-right: 13%;
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 22px;
  overflow-y: scroll;
}
/* line 429, ../sass/teaching.scss */
.typingBackground .cardArea .card .text .title {
  position: relative;
  font-size: 42px;
  margin: 1%;
  display: inline-block;
  margin-right: 38%;
  margin-top: 12px;
}
/* line 438, ../sass/teaching.scss */
.typingBackground .cardArea .card .text .titlePinyin {
  position: relative;
  font-size: 34px;
  display: inline-block;
  vertical-align: top;
  line-height: 32px;
  text-align: center;
}
/* line 446, ../sass/teaching.scss */
.typingBackground .cardArea .card .text .titlePinyin div {
  font-size: 19px;
  margin-left: -18px;
}
/* line 452, ../sass/teaching.scss */
.typingBackground .cardArea .card .text a {
  color: black;
}
/* line 456, ../sass/teaching.scss */
.typingBackground .cardArea .card .text img {
  position: relative;
  width: 64%;
  left: 16%;
  margin-top: 9px;
  margin-bottom: 18px;
}
/* line 465, ../sass/teaching.scss */
.typingBackground .cardArea .card .text::-webkit-scrollbar {
  background-color: transparent;
  width: 0.7em;
  padding-right: 100px;
}
/* line 473, ../sass/teaching.scss */
.typingBackground .cardArea .card .text::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
/* line 480, ../sass/teaching.scss */
.typingBackground .cardArea .card .top {
  position: absolute;
  width: 16px;
  right: 0;
  top: 0;
  margin-right: -28px;
}
/* line 488, ../sass/teaching.scss */
.typingBackground .cardArea .card .bottom {
  position: absolute;
  width: 16px;
  right: 0;
  bottom: -12px;
  margin-right: -28px;
}
/* line 500, ../sass/teaching.scss */
.typingBackground .bottomBtn {
  position: absolute;
  width: 60%;
  right: 13%;
  bottom: -130px;
  text-align: right;
}
/* line 508, ../sass/teaching.scss */
.typingBackground .bottomBtn .btn {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 40px;
  color: white;
  margin: 0 3%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
/* line 523, ../sass/teaching.scss */
.typingBackground .bottomBtn .red {
  background: #f27471;
}
/* line 527, ../sass/teaching.scss */
.typingBackground .bottomBtn .blue {
  background: #6ab0d9;
}

/* line 536, ../sass/teaching.scss */
.rwd {
  position: relative;
  width: 1280px;
}

/* line 541, ../sass/teaching.scss */
footer {
  background: #B29393;
}

@media screen and (min-width: 1281px) {
  /* line 548, ../sass/teaching.scss */
  body {
    width: 100%;
  }

  /* line 552, ../sass/teaching.scss */
  .rwd {
    width: 100%;
  }

  /* line 556, ../sass/teaching.scss */
  .cardArea {
    height: 35.5vw;
  }
}
@media screen and (max-width: 1280px) {
  /* line 564, ../sass/teaching.scss */
  .cardArea {
    height: 35.5vw;
  }

  /* line 568, ../sass/teaching.scss */
  .teachingInput {
    margin-bottom: 250px;
  }

  /* line 572, ../sass/teaching.scss */
  .paperDivision {
    padding-bottom: 200px;
  }
  /* line 575, ../sass/teaching.scss */
  .paperDivision .tableDivision {
    height: 600px;
  }
}
