@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
@font-face {
  font-family: 'pictureWord';
  src: url(../fonts/PICNESE-ONLY_ASCII.ttf);
}
@font-face {
  font-family: 'ZUYIN';
  src: url(../fonts/ZUYIN.ttf);
}
/* line 20, ../sass/base/_font.scss */
.pictureWord {
  font-family: pictureWord;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
/* line 6, ../sass/base/_bar.scss */
body {
  font-family: PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb !important;
}

/* line 15, ../sass/base/_bar.scss */
.fixedBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  background: rgba(255, 255, 255, 0.5);
}
/* line 24, ../sass/base/_bar.scss */
.fixedBar .logo {
  position: relative;
  left: 2%;
  top: 15px;
  width: 130px;
}
/* line 31, ../sass/base/_bar.scss */
.fixedBar .btnGrp {
  position: absolute;
  top: 0;
  right: 2%;
  height: 100%;
  font-size: 0;
}
/* line 40, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn {
  font-weight: bold;
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0 20px;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  color: #804f21;
  text-decoration: none;
}
/* line 55, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn img {
  width: 20px;
  vertical-align: middle;
}
/* line 60, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn .circle {
  display: inline-block;
  font-size: 40px;
  line-height: 40px;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  background: red;
}
/* line 73, ../sass/base/_bar.scss */
.fixedBar .btnGrp .btn .circle img {
  width: 100%;
  vertical-align: top;
}

/* line 83, ../sass/base/_bar.scss */
footer {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  background: #91ceb3;
  opacity: 0.9;
  color: white;
}
/* line 92, ../sass/base/_bar.scss */
footer .logo {
  position: relative;
  -webkit-filter: brightness(100);
  margin-top: 20px;
  margin-left: 60px;
}
/* line 99, ../sass/base/_bar.scss */
footer .linkArea {
  position: relative;
  margin-top: 40px;
  width: 88%;
  left: 12%;
  font-size: 14px;
  line-height: 26px;
}
/* line 107, ../sass/base/_bar.scss */
footer .linkArea .grp {
  display: inline-block;
  vertical-align: top;
  padding-right: 3%;
  height: 132px;
  padding-left: 10px;
  border-left: white 1px solid;
  margin-bottom: 50px;
}
/* line 117, ../sass/base/_bar.scss */
footer .linkArea .grp b {
  font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
}
/* line 121, ../sass/base/_bar.scss */
footer .linkArea .grp a {
  font-family: PingFangSC-light, sans-serif, "微软雅黑", "microsoft yahei";
  color: white;
  text-decoration: none;
}
/* line 126, ../sass/base/_bar.scss */
footer .linkArea .grp a:hover {
  text-decoration: underline;
}
/* line 131, ../sass/base/_bar.scss */
footer .linkArea .grp img {
  width: 15px;
}
/* line 135, ../sass/base/_bar.scss */
footer .linkArea .grp .line {
  width: 100%;
  height: 1px;
  margin: 12px 0;
  background: white;
}
/* line 147, ../sass/base/_bar.scss */
footer .linkArea .final {
  padding-right: 0;
}
/* line 152, ../sass/base/_bar.scss */
footer .context {
  color: #595757;
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

@media screen and (max-width: 1000px) {
  /* line 162, ../sass/base/_bar.scss */
  .fixedBar {
    width: 1000px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 171, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 7%;
  }
}
@media screen and (min-width: 1281px) {
  /* line 181, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 4%;
  }
}
@media screen and (max-width: 400px) {
  /* line 191, ../sass/base/_bar.scss */
  footer .linkArea .grp {
    padding-right: 2%;
  }
}
/* line 10, ../sass/wordRoom.scss */
body {
  background: #fffdef;
}

/* line 14, ../sass/wordRoom.scss */
.pictureWord {
  font-family: pictureWord;
}

/* line 18, ../sass/wordRoom.scss */
.chooseCountry {
  padding-top: 140px;
  text-align: center;
  font-size: 15px;
  letter-spacing: 5px;
  text-indent: 5px;
  color: #898989;
  margin-bottom: 150px;
}
/* line 27, ../sass/wordRoom.scss */
.chooseCountry h1 {
  font-size: 27px;
  color: #595757;
  margin-bottom: 14px;
}
/* line 33, ../sass/wordRoom.scss */
.chooseCountry img {
  display: inline-block;
  width: 20%;
  margin-top: 30px;
}
/* line 39, ../sass/wordRoom.scss */
.chooseCountry .Taiwan {
  margin-right: 40px;
}
/* line 43, ../sass/wordRoom.scss */
.chooseCountry a {
  text-decoration: none;
}

/* line 48, ../sass/wordRoom.scss */
.chooseVersion {
  text-align: center;
  padding-top: 120px;
  color: #595757;
  font-size: 19px;
  line-height: 37px;
  letter-spacing: 4px;
  margin-bottom: 100px;
}
/* line 57, ../sass/wordRoom.scss */
.chooseVersion select {
  width: 50%;
}
/* line 65, ../sass/wordRoom.scss */
.chooseVersion span span span {
  height: 40px !important;
  line-height: 40px !important;
  border: 0 !important;
}
/* line 74, ../sass/wordRoom.scss */
.chooseVersion a {
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  border-radius: 20px;
  letter-spacing: 15px;
  text-indent: 15px;
  width: 8%;
  background: #80CBE8;
  color: white;
  text-decoration: none;
  margin-right: 14px;
  margin-left: 14px;
}

/* line 94, ../sass/wordRoom.scss */
span span {
  border: 0 !important;
}
/* line 98, ../sass/wordRoom.scss */
span span span input {
  font-size: 20px !important;
}

/* line 107, ../sass/wordRoom.scss */
.wordReel {
  padding-top: 60px;
  font-size: 18px;
  letter-spacing: 3px;
  color: #595757;
  margin-bottom: 120px;
}
/* line 114, ../sass/wordRoom.scss */
.wordReel .top {
  margin-left: 40px;
}
/* line 117, ../sass/wordRoom.scss */
.wordReel .top a {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  height: 28px;
  line-height: 28px;
  border-radius: 20px;
  letter-spacing: 15px;
  text-indent: 15px;
  width: 100px;
  background: #80CBE8;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}
/* line 135, ../sass/wordRoom.scss */
.wordReel .reel {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 390px;
  margin-left: 18%;
  margin-top: 20px;
}
/* line 144, ../sass/wordRoom.scss */
.wordReel .reel img {
  position: absolute;
  width: 100%;
}
/* line 149, ../sass/wordRoom.scss */
.wordReel .reel .topic {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 34px;
}
/* line 157, ../sass/wordRoom.scss */
.wordReel .reel .content {
  position: relative;
  margin-top: 10px;
  margin-left: 49px;
  width: 256px;
  top: 5px;
  padding: 13px;
  padding-top: 8px;
  height: 350px;
  font-size: 15px;
  letter-spacing: 1px;
  overflow-y: scroll;
}
/* line 172, ../sass/wordRoom.scss */
.wordReel .reel .content a {
  display: inline-block;
  line-height: 20px;
  margin-bottom: 7px;
  color: #595757;
  text-decoration: none;
}
/* line 179, ../sass/wordRoom.scss */
.wordReel .reel .content a:hover {
  text-decoration: underline;
}
/* line 186, ../sass/wordRoom.scss */
.wordReel .reel .content::-webkit-scrollbar {
  width: 1.2em;
}
/* line 190, ../sass/wordRoom.scss */
.wordReel .reel .content::-webkit-scrollbar-thumb {
  background-color: #BEE2EA;
  border: 3px solid white;
  border-radius: 10px;
}
/* line 199, ../sass/wordRoom.scss */
.wordReel .reel + .reel {
  position: absolute;
  right: 18%;
}

/* line 207, ../sass/wordRoom.scss */
.paperDivision {
  position: relative;
  width: 70%;
  left: 17%;
  margin-top: 70px;
  padding-bottom: 100px;
}
/* line 211, ../sass/wordRoom.scss */
.paperDivision .paper {
  position: absolute;
  width: 100%;
  z-index: -1;
}
/* line 226, ../sass/wordRoom.scss */
.paperDivision .topic {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #3E3A39;
  text-indent: -30px;
  letter-spacing: 3px;
  padding-top: 40px;
}
/* line 237, ../sass/wordRoom.scss */
.paperDivision .text {
  position: relative;
  width: 90%;
  padding-left: 6%;
  padding-top: 35px;
  font-weight: lighter;
  font-size: 16px;
  color: #3E3A39;
  letter-spacing: 1px;
}
/* line 247, ../sass/wordRoom.scss */
.paperDivision .text .word {
  width: 80%;
  height: 75px;
  border: 0;
  border-radius: 25px;
  margin: 10px 10px 20px -10px;
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 30px;
  padding-top: 15px;
  padding-left: 3%;
  background: white;
}
/* line 262, ../sass/wordRoom.scss */
.paperDivision .text .storyWindow {
  position: relative;
  width: 80%;
  height: 17vw;
  margin-top: 0px;
  overflow-y: scroll;
}
/* line 271, ../sass/wordRoom.scss */
.paperDivision .text .storyWindow::-webkit-scrollbar {
  background-color: white;
  width: 1.2em;
}
/* line 276, ../sass/wordRoom.scss */
.paperDivision .text .storyWindow::-webkit-scrollbar-thumb {
  background-color: #a7ebca;
  border: 3px solid white;
  border-radius: 10px;
}
/* line 282, ../sass/wordRoom.scss */
.paperDivision .text .storyWindow .each {
  width: 13%;
  margin: 1%;
  text-align: center;
  display: inline-block;
}
/* line 288, ../sass/wordRoom.scss */
.paperDivision .text .storyWindow .each img {
  width: 100%;
}
/* line 295, ../sass/wordRoom.scss */
.paperDivision .bottomBtn {
  position: relative;
  width: 85%;
  margin-top: 120px;
  text-align: center;
}
/* line 301, ../sass/wordRoom.scss */
.paperDivision .bottomBtn .btn {
  display: inline-block;
  width: 15%;
  height: 30px;
  line-height: 30px;
  color: white;
  margin: 0 3%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
/* line 316, ../sass/wordRoom.scss */
.paperDivision .bottomBtn .red {
  background: #f27471;
}
/* line 320, ../sass/wordRoom.scss */
.paperDivision .bottomBtn .blue {
  background: #6ab0d9;
}

/* line 327, ../sass/wordRoom.scss */
footer {
  background: #3ECADD;
}

@media screen and (min-width: 1280px) {
  /* line 333, ../sass/wordRoom.scss */
  .wordReel .reel {
    width: 30vw;
  }
  /* line 336, ../sass/wordRoom.scss */
  .wordReel .reel .content {
    margin-top: 2vw;
    margin-left: 5vw;
    width: 20vw;
    height: 28vw;
    padding: 0;
  }
}
@media screen and (max-width: 1280px) {
  /* line 350, ../sass/wordRoom.scss */
  .reel + .reel {
    position: relative !important;
    margin-left: 2% !important;
    right: 0 !important;
  }
}
@media screen and (max-width: 1024px) {
  /* line 360, ../sass/wordRoom.scss */
  body {
    width: 1024px;
  }

  /* line 364, ../sass/wordRoom.scss */
  .storyWindow {
    height: 174.08px !important;
  }
}
