@charset "UTF-8";
/* line 9, ../sass/style.scss */
body {
  font-family: PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb !important;
}

/* line 13, ../sass/style.scss */
.yellow {
  color: #F7EFAE;
}

/* line 17, ../sass/style.scss */
.blue {
  color: #191E7D;
}

/* line 21, ../sass/style.scss */
.purple {
  color: #7A7AFF;
}

/* line 25, ../sass/style.scss */
.grey {
  color: #DEE0E0;
}

/* line 29, ../sass/style.scss */
.red {
  color: #FF6D70;
}

/* line 33, ../sass/style.scss */
.green {
  color: #29B5B6;
}

/* line 37, ../sass/style.scss */
.text {
  position: absolute;
  top: 10vw;
  left: 51vw;
  width: 38vw;
  letter-spacing: 0.15vw;
}
/* line 44, ../sass/style.scss */
.text .sub_title {
  font-size: 1.6vw;
  font-weight: bold;
  font-style: italic;
}
/* line 49, ../sass/style.scss */
.text .title {
  font-size: 2.6vw;
  font-weight: bold;
  font-style: italic;
  margin-top: 0.7vw;
}
/* line 55, ../sass/style.scss */
.text .content {
  font-size: 1.2vw;
  font-weight: bold;
  line-height: 1.7vw;
  margin-top: 3.5vw;
}
/* line 61, ../sass/style.scss */
.text .content .small_title {
  font-size: 1.5vw;
  margin-bottom: 0.4vw;
}

/* line 69, ../sass/style.scss */
.projectW {
  position: absolute;
  width: 100vw;
  height: 450vw;
  overflow: hidden;
}
/* line 75, ../sass/style.scss */
.projectW .background {
  position: absolute;
  width: 100vw;
}
/* line 82, ../sass/style.scss */
.projectW .first_sec .p2018 {
  position: absolute;
  width: 10vw;
  top: 4vw;
  left: 5vw;
}
/* line 89, ../sass/style.scss */
.projectW .first_sec .logo {
  position: absolute;
  width: 27vw;
  top: 6vw;
  left: 37vw;
}
/* line 96, ../sass/style.scss */
.projectW .first_sec .boy {
  position: absolute;
  width: 28vw;
  top: 9.2vw;
  left: -1.8vw;
}
/* line 103, ../sass/style.scss */
.projectW .first_sec .girl {
  position: absolute;
  width: 22.4vw;
  top: 25.2vw;
  left: 16.8vw;
}
/* line 110, ../sass/style.scss */
.projectW .first_sec .deer {
  position: absolute;
  width: 22vw;
  top: 25.2vw;
  left: 40.2vw;
}
/* line 117, ../sass/style.scss */
.projectW .first_sec .go_booking {
  position: absolute;
  width: 15.5vw;
  left: 79.5vw;
  top: 29.7vw;
}
/* line 123, ../sass/style.scss */
.projectW .first_sec .go_booking img {
  position: absolute;
  width: 100%;
}
/* line 128, ../sass/style.scss */
.projectW .first_sec .go_booking img + img {
  display: none;
}
/* line 133, ../sass/style.scss */
.projectW .first_sec .go_booking:hover img {
  display: none;
}
/* line 136, ../sass/style.scss */
.projectW .first_sec .go_booking:hover img + img {
  display: block;
}
/* line 142, ../sass/style.scss */
.projectW .first_sec .life_design {
  position: absolute;
  width: 46vw;
  top: 36.5vw;
  left: 65vw;
  cursor: pointer;
}
/* line 149, ../sass/style.scss */
.projectW .first_sec .life_design img {
  position: absolute;
  width: 100%;
}
/* line 154, ../sass/style.scss */
.projectW .first_sec .life_design img + img {
  display: none;
}
/* line 159, ../sass/style.scss */
.projectW .first_sec .life_design:hover img {
  display: none;
}
/* line 162, ../sass/style.scss */
.projectW .first_sec .life_design:hover img + img {
  display: block;
}
/* line 168, ../sass/style.scss */
.projectW .first_sec .with_life_design {
  position: absolute;
  width: 10vw;
  top: 34.3vw;
  left: 64vw;
}
/* line 175, ../sass/style.scss */
.projectW .first_sec .slide {
  position: fixed;
  width: 13vw;
  bottom: 2vw;
  left: 44vw;
  animation-iteration-count: 3;
}
/* line 184, ../sass/style.scss */
.projectW .second_sec {
  position: absolute;
  width: 100vw;
  top: 52vw;
}
/* line 191, ../sass/style.scss */
.projectW .second_sec .draw {
  position: absolute;
  width: 42vw;
  left: 6.3vw;
  top: 8vw;
  cursor: pointer;
}
/* line 198, ../sass/style.scss */
.projectW .second_sec .draw img {
  position: absolute;
  width: 100%;
  display: none;
}
/* line 204, ../sass/style.scss */
.projectW .second_sec .draw .default {
  display: block;
}
/* line 208, ../sass/style.scss */
.projectW .second_sec .draw .control_one {
  position: absolute;
  width: 15vw;
  height: 35vw;
  top: 0;
  left: 0;
}
/* line 217, ../sass/style.scss */
.projectW .second_sec .draw .control_two {
  position: absolute;
  width: 11vw;
  height: 35vw;
  top: 0;
  left: 15vw;
}
/* line 226, ../sass/style.scss */
.projectW .second_sec .draw .control_three {
  position: absolute;
  width: 15vw;
  height: 35vw;
  top: 0;
  left: 26vw;
}
/* line 236, ../sass/style.scss */
.projectW .second_sec .text {
  display: none;
}
/* line 240, ../sass/style.scss */
.projectW .second_sec #text_default {
  display: block;
}
/* line 245, ../sass/style.scss */
.projectW .third_sec {
  position: absolute;
  top: 105.2vw;
  width: 100vw;
}
/* line 252, ../sass/style.scss */
.projectW .third_sec .text {
  top: 11.5vw;
  left: 10vw;
  width: 35vw;
}
/* line 258, ../sass/style.scss */
.projectW .third_sec .text .content img {
  margin-bottom: 0.4vw;
}
/* line 262, ../sass/style.scss */
.projectW .third_sec .text .content img + .small_title {
  margin-bottom: 1.4vw;
}
/* line 266, ../sass/style.scss */
.projectW .third_sec .text .content + .content {
  margin-top: 3vw;
  margin-bottom: 4.7vw;
}
/* line 272, ../sass/style.scss */
.projectW .third_sec .shock {
  position: absolute;
  top: 4vw;
  width: 17vw;
  left: 43.5vw;
}
/* line 280, ../sass/style.scss */
.projectW .fourth_sec {
  position: absolute;
  top: 188.4vw;
  width: 100vw;
}
/* line 288, ../sass/style.scss */
.projectW .fifth_sec {
  position: absolute;
  top: 253.8vw;
  width: 100vw;
}
/* line 295, ../sass/style.scss */
.projectW .fifth_sec .p_spec {
  position: absolute;
  width: 11vw;
  top: 3.7vw;
  left: 3.2vw;
}
/* line 302, ../sass/style.scss */
.projectW .fifth_sec .logo {
  position: absolute;
  width: 28vw;
  top: 5vw;
  left: 14.5vw;
}
/* line 309, ../sass/style.scss */
.projectW .fifth_sec .persona {
  position: absolute;
  width: 42vw;
  top: 14vw;
  left: 55vw;
}
/* line 316, ../sass/style.scss */
.projectW .fifth_sec .btn {
  position: absolute;
  width: 29vw;
  left: 13vw;
  top: 41vw;
}
/* line 322, ../sass/style.scss */
.projectW .fifth_sec .btn img {
  position: absolute;
  width: 100%;
}
/* line 327, ../sass/style.scss */
.projectW .fifth_sec .btn img + img {
  display: none;
}
/* line 332, ../sass/style.scss */
.projectW .fifth_sec .btn:hover img {
  display: none;
}
/* line 335, ../sass/style.scss */
.projectW .fifth_sec .btn:hover img + img {
  display: block;
}
/* line 342, ../sass/style.scss */
.projectW .sixth_sec {
  position: absolute;
  top: 304.5vw;
  width: 100vw;
}
/* line 349, ../sass/style.scss */
.projectW .sixth_sec .go_booking {
  position: absolute;
  width: 21vw;
  left: 13vw;
  top: 37vw;
}
/* line 355, ../sass/style.scss */
.projectW .sixth_sec .go_booking img {
  position: absolute;
  width: 100%;
}
/* line 360, ../sass/style.scss */
.projectW .sixth_sec .go_booking img + img {
  display: none;
}
/* line 365, ../sass/style.scss */
.projectW .sixth_sec .go_booking:hover img {
  display: none;
}
/* line 368, ../sass/style.scss */
.projectW .sixth_sec .go_booking:hover img + img {
  display: block;
}
/* line 375, ../sass/style.scss */
.projectW .seventh_sec {
  position: absolute;
  top: 355.2vw;
  width: 100vw;
}
/* line 382, ../sass/style.scss */
.projectW .seventh_sec .left {
  position: absolute;
  width: 48vw;
  left: -18.3vw;
  top: -2vw;
}
/* line 389, ../sass/style.scss */
.projectW .seventh_sec .right {
  position: absolute;
  width: 48vw;
  right: -18.3vw;
  top: -1.6vw;
}
/* line 396, ../sass/style.scss */
.projectW .seventh_sec .p_about {
  position: absolute;
  width: 20vw;
  top: 5.8vw;
  left: 40vw;
}
/* line 404, ../sass/style.scss */
.projectW .footer {
  position: absolute;
  top: 406vw;
  width: 100vw;
}
/* line 409, ../sass/style.scss */
.projectW .footer .logo {
  position: absolute;
  width: 25.5vw;
  left: 66vw;
  top: 6.5vw;
}
/* line 416, ../sass/style.scss */
.projectW .footer .facebook {
  position: absolute;
  width: 3.5vw;
  left: 66vw;
  top: 37.7vw;
  cursor: pointer;
}
/* line 423, ../sass/style.scss */
.projectW .footer .facebook img {
  position: absolute;
  width: 100%;
}
/* line 428, ../sass/style.scss */
.projectW .footer .facebook img + img {
  display: none;
}
/* line 433, ../sass/style.scss */
.projectW .footer .facebook:hover img {
  display: none;
}
/* line 436, ../sass/style.scss */
.projectW .footer .facebook:hover img + img {
  display: block;
}
/* line 442, ../sass/style.scss */
.projectW .footer .instagram {
  position: absolute;
  width: 3.5vw;
  left: 71vw;
  top: 37.7vw;
  cursor: pointer;
}
/* line 449, ../sass/style.scss */
.projectW .footer .instagram img {
  position: absolute;
  width: 100%;
}
/* line 454, ../sass/style.scss */
.projectW .footer .instagram img + img {
  display: none;
}
/* line 459, ../sass/style.scss */
.projectW .footer .instagram:hover img {
  display: none;
}
/* line 462, ../sass/style.scss */
.projectW .footer .instagram:hover img + img {
  display: block;
}
