/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

@import "member/background";
@import "base/bar";

.container {
	
	.type {
		top: 18vw;
		// background: red;

		.title {
			color: white;
			font-size: 20px;
			line-height: 30px;
		}
	}
}
