/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

$color: #709ba8;

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);

@font-face {
	font-family: 'pictureWord';
	src: url(../fonts/picture-word.ttf);
}

body {
	font-family: PingFangSC-Regular, sans-serif, "微软雅黑", "microsoft yahei";
	background: #d8ecdf;
	height: 100vh;
	overflow: hidden;
}

a {
	text-decoration: none;
}

.pictureWord {
    font-family: pictureWord;
}

.fixedBar {
	position: fixed;
	top: 0;
	width: 1280px;
}

.cloud1, .cloud2, .cloud3 {
	position: absolute;
	width: 80px;
}

.cloud1 {
	top: 120px;
	left: 5%;

	animation-name: cloud1;
	animation-duration: 30s;
	animation-timing-function: linear;
}

.cloud2 {
	top: 320px;
	left: 15%;

	animation-name: cloud2;
	animation-duration: 50s;
	animation-timing-function: linear;
}

.cloud3 {
	top: 450px;
	left: 60%;

	animation-name: cloud3;
	animation-duration: 45s;
	animation-timing-function: linear;
}

.tree {

	img.treeBody {
		position: absolute;
		bottom: 0;
		width: 80px;
		left: 50%;
		margin-left: -40px;
		height: 72vh;
		z-index: 2;
	}

	.branch {
		position: absolute;
	}

	.text {
		position: relative;
		width: 50%;
		left: 25%;
		color: white;
		font-size: 20px;
		line-height: 24px;
		font-family: PingFangSC-Regular, sans-serif, "微软雅黑", "microsoft yahei";
		text-align: center;
	}

	.treetop {
		position: absolute;
		bottom: 71%;
		height: 100px;
		width: 200px;
		left: 50%;
		margin-left: -100px;
		background: #ea5514;
		border-radius: 20px;
		z-index: 3;

		animation-delay: 0.5s;

		.text {
			top: 25%;
		}
	}

	.fruitOne {
		position: absolute;
		//width: 330px;
		right: 50%;
		bottom: 55%;
		height: 150px;
		//background: red;

		.fruit {
			position: absolute;
			width: 200px;
			height: 100px;
			background: red;
			border-radius: 20px;
			background: #f39700;
			z-index: 3;

			animation-delay: 1s;

			.text {
				top: 38%;
			}
		}

		.branch {
			bottom: 0%;
			right: 0%;
			width: 200px;
		}
	}

	.fruitTwo {
		position: absolute;
		//width: 430px;
		left: 50%;
		bottom: 40%;
		height: 250px;
		//background: red;

		.fruit {
			position: absolute;
			left: 25%;
			top: 0%;
			width: 200px;
			height: 100px;
			//border-radius: 10px;
			background: #8ec31f;
			z-index: 3;

			animation-delay: 1.2s;

			.text {
				width: 100%;
				top: 28%;
				left: 0;
			}
		}

		.fruit2 {
			position: absolute;

			left: 50%;
			top: 50%;
			width: 130px;
			height: 65px;
			border-radius: 20px;
			background: #dbe000;
			z-index: 3;

			animation-delay: 1.3s;

			.text {
				width: 100%;
				top: 28%;
				left: 0;
				font-size: 24px;
				color: #804f21;
			}
		}

		.branch {
			bottom: 0%;
			left: 0%;
			width: 280px;
		}
	}

	.fruitThree {
		position: absolute;
		//width: 280px;
		right: 50%;
		bottom: 30%;
		height: 130px;
		//background: red;

		.fruit {
			position: absolute;
			width: 200px;
			height: 100px;
			background: red;
			border-radius: 20px;
			background: #eae95f;
			z-index: 3;

			animation-delay: 1.5s;

			.text {
				top: 38%;
				color: #804f21;
			}
		}

		.branch {
			bottom: 0%;
			right: 0%;
			width: 150px;
		}
	}


	.fruitFour {
		position: absolute;
		//width: 520px;
		right: 50%;
		bottom: 15%;
		height: 130px;

		.fruit {
			position: absolute;
			width: 200px;
			height: 100px;
			border-radius: 20px;
			background: #2fa8e1;
			z-index: 3;

			animation-delay: 1.8s;

			.text {
				top: 38%;
			}
		}

		.branch {
			bottom: 0%;
			right: 0%;
			width: 350px;
		}
	}

	.fruitFive {
		position: absolute;
		//width: 450px;
		left: 50%;
		bottom: 15%;
		height: 180px;

		.fruit {
			position: absolute;
			right: 0;
			width: 200px;
			height: 100px;
			z-index: 3;

			animation-delay: 1.7s;
		}

		.branch {
			bottom: 0%;
			left: 0%;
			width: 350px;
		}
	}
}

.activity {
	position: absolute;
	top: 80px;
	right: 20px;
	width: 230px;
	height: 280px;
	background: white;

	.title {
		font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
		position: relative;
		width: 100%;
		margin-top: 20px;
		color: #804f21;
		text-align: center;
	}
}

.letterbox {
	position: absolute;
	width: 100px;
	bottom: 0;
	right: 50px;
	z-index: 2;
}

.grass {
	position: absolute;
	bottom: 0;
	width: 100%;
}


// animation

.treeBodyAni {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -100px;
	height: 72%;
	width: 200px;
	overflow: hidden;

	animation-name: treeBody;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.branchOneAni {
	overflow: hidden;
	animation-name: branchOneAni;
	animation-duration: 0.7s;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
}

.branchTwoAni {
	overflow: hidden;
	animation-name: branchTwoAni;
	animation-duration: 0.7s;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
}

.branchThreeAni {
	overflow: hidden;
	animation-name: branchThreeAni;
	animation-duration: 0.7s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

.branchFourAni {
	overflow: hidden;
	animation-name: branchFourAni;
	animation-duration: 0.7s;
	animation-delay: 0.6s;
	animation-fill-mode: forwards;
}

.branchFiveAni {
	overflow: hidden;
	animation-name: branchFiveAni;
	animation-duration: 0.7s;
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
}

@keyframes cloud1 {
	// grow up
	from {
		left: 5%;
	}
	to {
		left: 100% ;
	}
}

@keyframes cloud2 {
	// grow up
	from {
		left: 15%;
	}
	to {
		left: 100% ;
	}
}

@keyframes cloud3 {
	// grow up
	from {
		left: 60%;
	}
	to {
		left: 100% ;
	}
}

@keyframes treeBody {
	// grow up
	from {
		height: 0;
	}
	to {
		height: 72%;
	}
}

@keyframes branchOneAni {
	// grow up
	from {
		width: 0;
	}
	to {
		width: 330px;
	}
}

@keyframes branchTwoAni {
	// grow up
	from {
		width: 0;
	}
	to {
		width: 430px;
	}
}

@keyframes branchThreeAni {
	// grow up
	from {
		width: 0;
	}
	to {
		width: 280px;
	}
}

@keyframes branchFourAni {
	// grow up
	from {
		width: 0;
	}
	to {
		width: 520px;
	}
}

@keyframes branchFiveAni {
	// grow up
	from {
		width: 0;
	}
	to {
		width: 450px;
	}
}


// @keyframes treetop {
// 	// appear
// 	from {
// 		opacity
// 	}
// 	to {
// 		height: 72%;
// 	}
// }
