/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

@import "base/bar";
@import "base/font";

body {
	background: #fdfce6;
	font-size: 0;
	margin: 0;
}

.fixedBar {
	// height: 60px;
	background: white;
	z-index: 99999;

	p {
		font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
		font-size: 12px;
		margin-left: 18%;
		a {
			color: $color;
			text-decoration: none;
		}
	}
}

.searchBar {
	position: relative;
	width: 200px;
	height: 25px;
	background: white;
	border: #e4855c 5px solid;
	border-radius: 20px;
	left: 50%;
	margin-left: -100px;
	margin-top: 80px;

	input.search {
		margin-left: 12px;
		margin-top: 3px;
		width: 150px;
		border: 0;
		font-size: 13px;
		color: #9fa0a0;
	}

	input.searchBtn {
		position: absolute;
		// background-image: url('../../img/page/retrieval/searchBtn.png');
		width: 25px;
		height: 25px;
		vertical-align: top;
		border: 0;
		cursor: pointer;
		background: rgba(0, 0, 0, 0);
	}
	img {
		vertical-align: top;
	}
}

.grass {
	position: relative;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 0;
	overflow: hidden;

	img {
		width: 1280px;
	}
		@media screen and (min-width: 1280px) {
		.grass {
			width: 100%;
		}
	}
}

.firstLayer {
	position: relative;
	display: inline-block;
	// background: red;
	width: 22%;
	margin-left: 4%;
	// height: 510px;
	margin-top: 25px;
	// word
	text-align: center;
	line-height: 65px;
	color: #595757;
	font-size: 34px;

	.construct {
		position: relative;
		width: 100%;
		height: 115px;
		text-align: center;
		// background: red;

		.topic {
			font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
			width: 100%;
			height: 40px;
			background: #f8b62d;
			color: white;
			text-align: center;
			border-radius: 30px;

			div {
				letter-spacing: 10px;
				font-size: 16px;
				line-height: 40px;
				margin-left: 5px;
			}
		}

		.each {
			position: relative;
			display: block;
			background: white;
			padding: 0px;
			width: 80%;
			left: 10%;
			margin-top: 20px;
			cursor: pointer;
			color: #595757;
			text-decoration: none;
		}
	}

	.pictureWord {
		display: inline-block;
		font-size: 44px;
	}
}

.secondLayer {
	position: relative;
	display: inline-block;
	// background: red;
	// width: 540px;
	width: 44%;
	// height: 510px;
	margin-top: 20px;
	margin-left: 1%;
	vertical-align: top;
	color: #595757;
	font-size: 0;

	.word {
		position: relative;
		display: inline-block;
		background: white;
		width: 250px;
		height: 130px;
		margin-top: 30px;
		margin-left: 5%;

		.picture {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 130px;
			height: 120px;
			line-height: 120px;
			// background: red;
			font-size: 120px;
			text-align: center;
			margin-top: 5px;
			border-right: #dcdddd 1px solid;
		}

		.traditional {
			font-family: sans-serif;
			position: relative;
			display: inline-block;
			width: 100px;
			height: 60px;
			margin-top: 5px;
			padding-left: 10px;
			// background: red;
			border-bottom: #dcdddd 1px solid;
			font-size: 50px;
			line-height: 60px;
			// text-align: center;

			.simplified {
				font-family: sans-serif;
				position: relative;
				display: inline-block;
				line-height: 26px;
				// background: blue;
				border: white 2px solid;
				font-size: 20px;
				text-align: center;
				// vertical-align: 30%;
			}
		}
		.listen {
			font-family: sans-serif;
			position: relative;
			display: inline-block;
			height: 50px;
			line-height: 26px;
			// border: black 2px solid;
			font-size: 20px;
			margin-top: 8px;

			.phonetic {
				position: relative;
				display: inline-block;
				font-size: 20px;
				margin-left: 0px;
				margin-top: 5px;
				line-height: 20px;
			}
			.pinYin {
				position: relative;
				display: inline-block;
				font-size: 16px;
				margin-left: 3px;
			}
		}
	}

	.draw {
		position: relative;
		display: inline-block;
		width: 180px;
		height: 180px;
		border: white 2px solid;
		text-align: center;
		vertical-align: top;
		margin-top: 30px;
		margin-left: 5%;
		padding: 10px;
		background: white;

		img {
			width: 100%;
		}
	}

	.topic {
		background: #f8b62d;
		width: 100%;
		height: 45px;
		line-height: 45px;
		font-size: 17px;
		margin-top: 20px;
		color: white;
		text-align: center;
		border-radius: 20px;
		div {
			letter-spacing: 10px;
			margin-left: 5px;
		}
	}
	
	.explanation {
		font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
		position: relative;
		width: 89%;
		left: 8%;
		height: 100px;
		margin-top: 20px;
		margin-bottom: 30px;
		font-size: 16px;
		overflow-y: scroll;
		color: black;
		// background: red;
		// -webkit-box-sizing: border-box;

		&::-webkit-scrollbar {
			background-color: white;
		    width: 1.2em;
		}
		 
		&::-webkit-scrollbar-track {
		    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color: #f3d091;
		  border: 3px solid white;
		  border-radius: 10px;
		}

		&::-webkit-scrollbar-button {
			// ;
		}

		.main {
			font-family: PingFangSC-light, sans-serif, "微软雅黑", "microsoft yahei";
			display: inline-block;
			font-size: 26px;
		}
	}
	.btnGrp {
		position: absolute;
		right: 15px;

		.btn {
			font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
			position: relative;
			display: inline-block;
			width: 120px;
			height: 30px;
			line-height: 30px;
			font-size: 13px;
			text-align: center;
			// background: #f8db89;
			color: #c2722a;
			border-radius: 20px;
			margin-left: 5px;
			margin-right: 5px;
			letter-spacing: 2px;
			cursor: pointer;

			img {
				position: absolute;
				width: 100%;
				top: 0;
				right: 0;
				z-index: -1;
			}

			div {
				margin-left: -8px;
			}
		}
		#btn1 {
			img {
				margin-top: -10px;
			}
		}
		#btn2 {
			img {
				margin-top: 0px;
			}
		}
	}
}

.thirdLayer {
	position: relative;
	display: inline-block;
	// background: red;
	width: 22%;
	// height: 510px;
	margin-top: 25px;
	margin-left: 1%;
	vertical-align: top;
	color: #595757;

	.topic {
		font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
		width: 100%;
		height: 40px;
		background: #f8b62d;
		color: white;
		font-size: 17px;
		text-align: center;
		line-height: 40px;
		border-radius: 20px;
	}
	
	.derivative {
		position: relative;
		width: 93%;
		left: 5%;
		margin-top: 15px;
		height: 390px;
		overflow-y: scroll;
		// background: red;

		&::-webkit-scrollbar {
			background-color: white;
		    width: 1.2em;
		    font-size: 16px;
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color: #f3d091;
		  border: 3px solid white;
		  border-radius: 10px;
		}

		.word {
			position: relative;
			display: inline-block;
			vertical-align: top;
			height: 42px;
			width: 40px;
			line-height: 42px;
			background: white;
			font-size: 34px;
			text-align: center;
			margin-bottom: 6px;
			margin-left: 6px;
		}
	}
}




@media screen and (max-width: 950px) {
	.fixedBar p {
		display: none;
	}
}
