/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

$alpha_grey: #F4F7F9;
$alpha_red: #E05656;
$alpha_blue: #1D2088;
$alpha_dgrey: #536771;
$alpha_lblue: #BBBCDE;


@font-face {
	font-family: "regular";
	src: url(NotoSansCJKtc-Regular.otf);
}

@font-face {
	font-family: "bold";
	src: url(NotoSansCJKtc-Bold.otf);
}

@font-face {
	font-family: "fuckoff";
	src: url('futura medium condensed bt.ttf');
}


body {
	position: relative;
	font-family: "regular", PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb;
	background: $alpha_grey;
	color: $alpha_blue;
	width: 100vw;
	overflow-x: hidden;
}

.topic {
	position: relative;
	font-size: 32px;
	// font-style: italic;
	letter-spacing: 1px;

	.large {
		font-size: 86px;
	}
}


#bar {
	position: fixed;
	width: 100%;
	height: 70px;
	z-index: 99999999;
	cursor: pointer;
	// background: red;

	#bar_logo {
		position: relative;
		width: 124px;
		margin-left: 30px;
		margin-top: 26px;
	}

	.btn_grp {
		position: absolute;
		right: 0;
		display: inline-block;
		width: 512px;
		height: 100%;
		// background: blue;

		.btn {
			position: relative;
			display: inline-block;
			// background: yellow;
			top: 14px;
			padding: 18px;
			font-size: 26px;
			letter-spacing: 0.5px;
			font-family: "fuckoff";
		}
	}
}

.bar {
	// position: absolute;
	// background: red;
	position: fixed;
	z-index: 9;
	text-align: left;
	top: 120px;
	// margin-top: 0;
	// width: 30%;

	.logo {
		position: relative;
		width: 110px;
		top: 10px;
		left: 30px;
	}

	.btn_grp {
		// background: red;
		position: relative;
		height: 208px;
		top: 70px;
		left: 40px;
		font-size: 14px;
		// color: $alpha_dgrey;
	}

	.line {
		position: absolute;
		left: 0;
		top: 0;
		width: 2px;
		height: 100%;
		background: $alpha_blue;
		// background: $alpha_dgrey;
	}

	.btn {
		position: relative;
		width: 200px;
		top: -4px;
		cursor: pointer;
		margin-bottom: 53px;

		.dot {
			position: relative;
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: $alpha_blue;
			// background: $alpha_dgrey;
			margin-left: -5px;
			margin-right: 20px;

		}

		font-weight: bold;
		font-style: italic;
	}
}

#index {
	position: relative;
	width: 100%;
	overflow-x: hidden;

	#landing {
		position: relative;
		height: 100vh;
		background: $alpha_blue;
		text-align: center;
		overflow: hidden;

		.bar {
			color: $alpha_grey;

			.logo {
				-webkit-filter: brightness(98);
			}

			.line {
				background: $alpha_grey;
			}

			.btn {

				.dot {
					background: $alpha_grey;
				}
			}
		}

		#index_logo {
			position: relative;
			margin-top: 36vh;
			height: 12vh;
			animation-duration: 1.5s;
			animation-delay: 0.5s;
			animation-timing-function: cubic-bezier();
		}

		.mask {
			position: absolute;
			display: inline-block;
			margin-top: 36vh;
			height: 12vh;
			width: 50vh;
			left: 50%;
			margin-left: -25vh;
			// background: red;
			// opacity: 0.2;

			#A {
				position: absolute;
				background: $alpha_blue;
				left: 62%;
				top: 9%;
				height: 41%;
				width: 11%;
			}

			#l {
				position: absolute;
				background: $alpha_blue;
				left: 72.5%;
				top: 9%;
				height: 41%;
				width: 3.5%;
			}

			#p {
				position: absolute;
				background: $alpha_blue;
				left: 75.5%;
				top: 20%;
				height: 45%;
				width: 7.7%;
			}

			#h {
				position: absolute;
				background: $alpha_blue;
				left: 83%;
				top: 9%;
				height: 41%;
				width: 7.3%;
			}

			#a {
				position: absolute;
				background: $alpha_blue;
				left: 90.5%;
				top: 20%;
				height: 33%;
				width: 8%;
			}

			#T {
				position: absolute;
				background: $alpha_blue;
				left: 62%;
				top: 53.5%;
				height: 42%;
				width: 7%;

				#TT {
					position: absolute;
					background: $alpha_blue;
					left: 91%;
					top: 0%;
					height: 26%;
					width: 50%;
				}
			}

			#e {
				position: absolute;
				background: $alpha_blue;
				left: 69.5%;
				top: 66.5%;
				height: 29%;
				width: 7%;
			}

			#a_2 {
				position: absolute;
				background: $alpha_blue;
				left: 76.5%;
				top: 65%;
				height: 31%;
				width: 7%;
			}

			#m {
				position: absolute;
				background: $alpha_blue;
				left: 84%;
				top: 65%;
				height: 31%;
				width: 11.5%;
			}

			#_ {
				position: absolute;
				background: $alpha_blue;
				left: 95.5%;
				top: 83%;
				height: 14%;
				width: 4.5%;
				// animation-name: slash;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
			}

			@keyframes slash {
				from {
					opacity: 0;
				}

				49% {
					opacity: 0;
				}

				50% {
					opacity: 1;
				}

				99% {
					opacity: 1;
				}

				to {
					opacity: 0;
				}
			}
		}

		.spirit {
			position: relative;
		  text-align: center;
		  top: 12vh;
		  font-size: 16px;
		  letter-spacing: 1px;
		  // text-indent: 30px;
		  color: white;
		  animation-delay: 2.6s;
		  animation-duration: 1s;
			line-height: 42px;
			font-weight: lighter;


			.main_topic {
				font-size: 28px;
			}
		}

	}
	//
	// .about {
	// 	position: relative;
	// 	width: 100%;
	// 	padding-bottom: 0px;
	// 	text-align: center;
	//
	// 	.text {
	// 		position: relative;
	// 	  top: 150px;
	// 	  margin-top: 70px;
	// 	  text-align: left;
	// 	  left: 39%;
	// 	  line-height: 44px;
	// 	  height: 400px;
	// 	}
	//
	// 	.read_more {
	// 		position: relative;
	// 		left: 9.8%;
	// 		margin-top: 20px;
	// 		text-decoration: underline;
	// 		cursor: pointer;
	// 		font-size: 18px;
	// 		height: 20px;
	// 	}
	//
	// 	.more_text {
	// 		display: none;
	// 	  position: relative;
	// 	  top: 50px;
	// 	  // margin-top: 130px;
	// 	  /* margin-bottom: 130px; */
	// 	  padding: 0% 5%;
	// 	  padding-left: 2%;
	// 	  // padding-bottom: 20px;
	// 	  height: 150px;
	// 	  animation-name: read;
	// 	  animation-duration: 1.5s;
	// 		animation-fill-mode: both;
	// 	  overflow: hidden;
	//
	// 		.title {
	// 			display: inline-block;
	// 			width: 10%;
	// 			font-size: 15px;
	// 		}
	//
	// 		.content {
	// 			display: inline-block;
	// 			width: 70%;
	// 			margin-left: 5%;
	// 			vertical-align: middle;
	// 			font-size: 15px;
	// 			line-height: 22px;
	// 			text-align: left;
	// 		}
	//
	// 		.bottom {
	// 			position: absolute;
	// 			bottom: 0;
	// 			width: 100%;
	//
	// 			.line {
	// 				display: inline-block;
	// 				height: 5px;
	// 				width: 78%;
	// 				background: #1D2088;
	// 			}
	// 		}
	// 	}
	//
	// 	@keyframes read {
	// 	  from {
	// 	    height: 0;
	// 	    // padding-bottom: 0;
	// 	  }
	// 	  to {
	// 	    height: 150px;
	// 	    // padding-bottom: 0px;
	// 	  }
	// 	}
	//
	// 	@keyframes unread {
	// 	  from {
	// 	    height: 150;
	// 	    // padding-bottom: 0;
	// 	  }
	// 	  to {
	// 	    height: 0px;
	// 	    // padding-bottom: 0px;
	// 	  }
	// 	}
	//
	// 	.topic {
	// 		top: 150px;
	// 	}
	// }
	//
	// #ourwork {
	// 	position: relative;
	// 	padding: 70px 15%;
	//
	// 	.topic {
	// 		margin-bottom: 80px;
	// 	}
	//
	// 	.project {
	// 		display: none;
	// 	}
	//
	// 	.display {
	// 		display: block;
	// 	}
	//
	// 	.project_each {
	// 		position: relative;
	// 		margin-bottom: 60px;
	//
	// 		.cover {
	// 			width: 24vw;
	// 		}
	//
	// 		.content {
	// 			position: relative;
	// 			display: inline-block;
	// 			vertical-align: top;
	// 			font-size: 14px;
	// 			line-height: 20px;
	// 			width: 40vw;
	// 			margin-left: 3vw;
	//
	// 			.title {
	// 				position: relative;
	// 				font-size: 20px;
	// 				line-height: 40px;
	// 			}
	// 		}
	// 	}
	// }
	//
	// #project {
	// 	position: relative;
	// 	padding: 0px 15%;
	// 	padding-top: 40px;
	// 	padding-bottom: 130px;
	// 	text-align: center;
	//
	// 	.topic {
	// 		text-align: left;
	// 		margin-bottom: 50px;
	// 	}
	//
	// 	.project_each {
	// 		position: relative;
	// 		display: inline-block;
	// 		vertical-align: top;
	// 		text-align: left;
	// 		width: 27%;
	// 		margin: 0 3%;
	// 		height: 300px;
	// 		background: $alpha_blue;
	//
	// 		.content {
	// 			position: relative;
	// 			color: $alpha_grey;
	// 			margin: 2vw;
	// 			font-size: 14px;
	// 			line-height: 20px;
	//
	// 			.title {
	// 				position: relative;
	// 				font-size: 16px;
	// 				font-weight: bold;
	// 				line-height: 30px;
	// 			}
	//
	// 			.subtitle {
	// 				display: inline-block;
	// 				font-weight: bold;
	// 				margin-bottom: 10px;
	// 			}
	// 		}
	// 	}
	//
	// 	#number {
	// 		position: relative;
	// 		margin-top: 50px;
	// 		font-size: 18px;
	// 		letter-spacing: 0.5px;
	//
	// 		.item {
	// 			display: inline-block;
	// 			margin: 0 4%;
	//
	// 			.num {
	// 				display: inline-block;
	// 				font-size: 30px;
	// 				font-weight: bold;
	// 				margin: 0 10px;
	// 			}
	// 		}
	// 	}
	// }
}

.topic {
	font-size: 50px;
	font-family: "bold";
	font-weight: bold;

	.subtitle {
		font-size: 24px;
		font-family: "regular";
		// font-weight: normal;
		margin-top: 24px;
		color: $alpha_dgrey;
	}
}

.what_we_do {
	position: relative;
	padding: 50px 0;
	text-align: center;
	margin-top: 100px;

	.intro {
		position: relative;
		width: 46%;
		left: 27%;
		margin-top: 50px;
		line-height: 30px;
		color: $alpha_dgrey;
	}

	.pic_show {
		margin-top: 35px;
		width: 46%;
	}

	.sentence {
		margin-top: 55px;
		font-size: 22px;

		.big {
			// font-size: 28px;
			// margin: 3px;
			// letter-spacing: 1px;
			font-family: "bold"
		}
	}

	.four_project {
		margin-top: 180px;
		padding: 100px 0;
		text-align: center;
		background: $alpha_blue;

		.title {
			font-size: 34px;
			letter-spacing: 10px;
			// color: $alpha_dgrey;
			color: $alpha_grey;
			margin-bottom: 70px;
			// font-family: "bold";
			font-weight: bold;
		}

		.project {
			position: relative;
			display: inline-block;
			text-align: center;
			width: 220px;
			height: 320px;
			margin: 0 1%;
			// background: $alpha_blue;
			// background: $alpha_grey;
			// background: #dbdbdb;
			border: 4px solid $alpha_grey;
			color: $alpha_grey;
			border-radius: 40px;
			vertical-align: top;
			z-index: 10;

			.project_name {
				// color: $alpha_grey;
				margin-top: 38px;
				margin-bottom: 26px;
				font-family: "bold";
				line-height: 24px;
			}

			&:hover {
				.before {
					display: none;
				}

				.after {
					display: block;
				}
			}

			.before {
				// display: none;
				.icon {
					margin-top: 95px;
					width: 50%;
				}
			}

			.after {
				display: none;
				color: $alpha_grey;
				// color: $alpha_blue;
				font-size: 14px;
				line-height: 20px;
				padding: 0 7%;
			}

		}
	}
}

.ourworks {
	position: relative;
	padding: 50px 0;
	text-align: center;
	margin-top: 70px;

	.category {
		position: relative;
		text-align: center;
		padding-top: 60px;

		.group {
			display: inline-block;
			border: 2px solid #1D2088;
			/* alpha blue */
			// width: 240px;
			/* height: 100px; */
			border-radius: 40px;
			padding: 13px 38px;
			// text-align: left;
			font-size: 15px;
			line-height: 22px;
			margin: 0 0.7%;
			cursor: pointer;

			&:hover {
				background: #1D2088;
				color: white;
			}

			.title {
				// font-weight: bold;
				font-size: 18px;
				// margin-bottom: 8px;
			}
		}

		.default {
			background: #1D2088;
			color: white;
		}
	}

	.project {
		margin-top: 50px;
		padding: 0 5%;
		// margin-right: 7%;
		padding-top: 50px;
		// display: none;
		// text-align: right;
		text-align: center;

		.each_project {
			display: inline-block;
			display: none;
			// border-bottom: 6px solid #1D2088;
			text-align: left;
			font-size: 14px;
			line-height: 22px;
			margin: 0 2%;
			margin-bottom: 100px;
			// font-weight: bold;

			.scale {
				display: inline-block;
				width: 230px;
				height: 370px;
				cursor: pointer;
				vertical-align: top;

				// background: $alpha_lblue;
				background: #dbdbdb;
				padding: 14px;
				color: $alpha_dgrey;
			}

			&:hover {
				.scale {
					transform: scale(1.05);
					transition: 0.5s;
				}
			}

			.img_mask {
				width: 100%;
				height: 150px;
				overflow: hidden;
				// border-bottom: 7px solid #EA5550;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&:hover {
				// opacity: 0.7;
			}
		}

		.display {
			display: inline-block;
		}

		.title {
			// font-family: bold;
			font-size: 18px;
			// font-weight: bold;
			margin-top: 18px;
			line-height: 20px;

			color: $alpha_blue;
		}

		.subtitle {
			font-size: 12px;
			margin-top: 0px;
			margin-bottom: 10px;
			// color: #F6AB00;

			border-bottom: 1px solid $alpha_blue;
			padding-bottom: 7px;
			color: $alpha_blue;
		}

		.hashtag {
			margin-top: 30px;
			font-size: 12px;
			line-height: 17px;
		}
	}

	.project_two .each_project .img_mask {
		// border-bottom: 7px solid #EDA70F;
	}

	.project_three .each_project .img_mask {
		// border-bottom: 7px solid #0AB7B1;
	}

	.project_intro {
		position: relative;
		display: inline-block;
		height: 450px;
		width: 270px;
		background: #EA5550;
		color: white;
		text-align: left;
		padding-left: 15px;
		line-height: 22px;
		font-size: 14px;
		margin: 0 2%;
		margin-bottom: 100px;

		.title {
			font-size: 26px;
			margin-top: 160px;
			font-family: regular;
			font-weight: lighter;
			margin-bottom: 15px;
		}
	}

	.project_two .project_intro {
		background: #EDA70F;
	}

	.project_three .project_intro {
		background: #0AB7B1;
	}

	.display {
		display: block;
	}

}

// ver old, project position adjustment
@media screen and (max-width: 1150px) {

	.ourworks {
		.project {
			// padding: 0;
			// margin-right: 5%;
		}
	}
}
@media screen and (max-width: 1000px) {

	.ourworks {
		.project {
			// padding: 0;
			// margin-right: 0;
		}
	}
}
@media screen and (max-width: 950px) {

	.ourworks {
		.project {
			// padding: 0 5%;
			// text-align: center;
		}
	}
}

.ourworks_content {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 11;
	// display: none;
	// animation-name: work_slide;
	// animation-duration: 1.5s;
	// top: 4vh;
	// left: 2vw;
	// width: 450px;
	// height: 91vh;
	// position: fixed;
	// top: 0;
	// width: 80vw;
	// left: 10vw;
	// height: 100vh;
	// z-index: 10;
	// background: $alpha_grey;
	// color: $alpha_dgrey;
	// border-radius: 60px;
	// border: 4px solid $alpha_blue;

	// img {
	// 	position: relative;
	// 	width: 20%;
	// 	margin-left: 5%;
	// 	margin-top: 50px;
	// 	margin-bottom: 10px;
	// 	border-radius: 20px;
	// }

	.black_mask {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.3);
	}

	.each {
		// display: none;
		// position: absolute;
		// width: 100%;
		// height: 100%;
		position: fixed;
		top: 0;
		width: 80vw;
		left: 10vw;
		padding-top: 5vh;
		height: 95vh;
		z-index: 10;
		background: $alpha_grey;
		color: $alpha_dgrey;
		overflow: scroll;

		.close {
			position: fixed;
			top: 2vh;
			right: 12vw;
			font-size: 26px;
			cursor: pointer;
		}
	}

	// img {
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	object-fit: cover;
	// 	// border-radius: 50px;
	// }

	.blue_mask {
		position: absolute;
		width: 100%;
		height: 100%;
		// border-radius: 50px;
		background: $alpha_blue;
		opacity: 0.8;
	}

	.content {
		// background: white;
		// color: $alpha_grey;
		color: $alpha_dgrey;
		position: relative;
		top: 50px;
		left: 13%;
		width: 75%;
		font-size: 14px;
		font-weight: bold;
		line-height: 24px;
		padding-bottom: 170px;
		// height: 80%;

		.title {
			font-size: 42px;
			line-height: 56px;
			font-family: "bold";
			// font-weight: bold;

			.intro {
				font-size: 17px;
				font-family: "regular";
				color: $alpha_blue;
			}
		}

		.partner {
			position: absolute;
			right: 0;
			text-align: right;
			margin-top: -100px;
			font-size: 15px;
			line-height: 26px;

			b {
				font-family: "bold";
				// font-weight: bold;
			}
		}

		.carousel {
			position: relative;
			margin-top: 20px;
			width: 70%;
			height: 300px;

			a img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			a {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				filter: alpha(opacity=0);
				animation: silder 12s linear infinite;
			}
		}

		.carousel>a:nth-child(1) {
			-webkit-animation-delay: 0s;
			animation-delay: 0s;
		}

		.carousel>a:nth-child(2) {
			-webkit-animation-delay: 3s;
			animation-delay: 3s;
		}

		.carousel>a:nth-child(3) {
			-webkit-animation-delay: 6s;
			animation-delay: 6s;
		}

		.carousel>a:nth-child(4) {
			-webkit-animation-delay: 9s;
			animation-delay: 9s;
		}

		.heading {
			text-align: center;
			margin-top: 60px;
			margin-bottom: 20px;

			span {
				display: inline-block;
				color: $alpha_blue;
				border-bottom: 2px solid $alpha_blue;
				font-size: 16px;
			}
		}

		.number {
			color: $alpha_blue;
			text-align: center;
			margin-top: 70px;
			margin-bottom: 105px;
			font-size: 12px;

			.each_num {
				width: 40%;
				text-align: left;
				margin: 0 3%;
			}

			.big {
				font-size: 60px;
				font-family: "bold";
			}
		}

		.special {
			text-align: center;

			.each_spec {
				display: inline-block;
				width: 25.5%;
				margin: 0 3%;
				margin-top: 10px;
				vertical-align: top;

				b {
					display: inline-block;
					position: relative;
					font-weight: "bold";
					padding-bottom: 10px;
					color: black;
					font-size: 15px;
				}

				.align_left {
					text-align: left;
				}
			}
		}

		iframe {
			position: relative;
			width: 60%;
			left: 20%;
			height: 260px;
			margin-top: 10px;
			margin-bottom: 50px;
		}

		.link {
			text-align: center;

			a {
				// color: $alpha_red;
				// color: #0AB7B1;
				padding: 10px 20px;
				margin: 0 3%;
				border-radius: 30px;
				border: 2px solid $alpha_dgrey;
				color: $alpha_dgrey;
				text-decoration: none;
				cursor: pointer;

				&:hover {
					background: $alpha_dgrey;
					color: $alpha_grey;
				}
			}
		}

		// .text {
		// 	margin-top: 35px;
		// }
	}
}

@keyframes silder {
	3% {
			opacity: 1;
			filter: alpha(opacity=100);
	}
	27% {
			opacity: 1;
			filter: alpha(opacity=100);
	}
	30% {
			opacity: 0;
			filter: alpha(opacity=0);
	}
}

// @keyframes work_slide {
// 	from {
// 		margin-left: -475px;
// 	}
// 	to {
// 		margin-left: 0;
// 	}
//
// }

.client {
	position: relative;
	width: 100%;
	padding: 60px 0;
	text-align: center;
	background: $alpha_blue;
	color: $alpha_grey;

	.topic {
		color: $alpha_grey;
	}

	.content {
		margin-top: 100px;
		text-align: center;
		font-size: 20px;
		line-height: 54px;

		b {
			font-size: 40px;
			font-family: "bold";
		}

		.each_content {
			display: inline-block;
			width: 22%;
			margin: 0%;

			img {
				height: 100px;
			}

			.small {
				height: auto;
				width: 50%;
				vertical-align: 40%;
			}
		}
	}

}

.logo_wall {
	position: relative;
	// width: 100%;
	padding: 70px 8%;
	word-break: break-all;
	text-align: center;
	// background: $alpha_blue;

	.logo_img {
		position: relative;
		display: inline-block;
		width: 15%;
		height: 3.5vw;
		margin: 20px 3%;
		text-align: center;
	}

	img {
		// height: 3vw;
		// margin: 0 2%;
		max-width: 100%;
		max-height: 100%;
		// filter: grayscale(100%) brightness(100);
		-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
	}
}

.how_we_do {
		position: relative;
		width: 100%;
		text-align: center;
		padding: 100px 0;
		background: $alpha_blue;
		color: $alpha_grey;

		.topic, .subtitle {
			color: $alpha_grey;
		}

		.text {
			display: inline-block;
			margin-top: 60px;
			width: 43%;
			line-height: 24px;
		}

		.triangle {
			width: 60%;
			margin-top: 50px;
		}
}

#team_members {
	position: relative;
	width: 100%;
	padding: 100px 0;
	padding-bottom: 200px;
	// overflow-x: hidden;
	// overflow-y: visible;
	// background: blue;
	// height: 500px;
	text-align: center;



	.all_members {
		position: relative;
		// padding: 0 21%;
		padding-top: 100px;
		width: 55%;
		left: 6%;
		// background: red;

		.each_member {
			position: relative;
			display: inline-block;
			vertical-align: top;
			// width: 7.5%;
			width: 130px;
			height: 130px;
			// margin: 0 5%;
			// border-radius: 50%;
			// overflow: hidden;
			cursor: pointer;
			// margin-bottom: 70px;
			margin: 35px 2.5%;

			.bighead {
				// position: absolute;
				position: relative;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				// opacity: 0.8;
				left: 0;
				object-fit: cover;
			}

			.member_name {
				margin-top: 15px;
				font-size: 17px;
				color: $alpha_dgrey;
				letter-spacing: 1px;
			}

			.mask {
				display: none;
				position: absolute;
				background: $alpha_blue;
				height: 100%;
				width: 100%;
				left: 0;
				color: white;
				font-size: 18px;
				// font-weight: bold;
				line-height: 50px;
			}

			.underline {
				position: absolute;
				bottom: 12px;
				width: 56%;
				left: 22%;
				height: 2.5px;
				background: white;
			}

			&:hover {
				.mask {
					display: block;
				}
			}

			.display {
				animation-name: memberSlide;
				animation-duration: 1s;
				display: none;
				position: fixed;
				right: 1vw;
				top: 32vh;
				width: 40vw;
				height: 20vw;
				text-align: left;
				// background: red;

				.person {
					position: relative;
					width: 50%;
				}

				.text {
					position: relative;
					display: inline-block;
					width: 40%;
					vertical-align: top;
					color: $alpha_dgrey;
					font-size: 13px;
					line-height: 17px;
					margin-top: 24px;

					.name {
						border-bottom: 1px solid $alpha_dgrey;
						padding-bottom: 10px;
						font-size: 16px;
						margin-bottom: 10px;
					}
				}
			}

		}
		// .display {
		// 	position: relative;
		// 	display: none;
		// 	text-align: left;
		// 	width: 100%;
		// 	height: 330px;
		// 	overflow: hidden;
		// 	animation-name: shit;
		// 	animation-duration: 1.2s;
		// 	animation-fill-mode: forwards;
		//
		// 	.content {
		// 		position: absolute;
		// 		display: none;
		// 		// background: red;
		// 		border: #b5b4d4 3px solid;
		// 		top: 7px;
		// 		right: -2%;
		// 		width: 92%;
		// 		height: 316px;
		// 		border-top-left-radius: 200px;
		// 		border-bottom-left-radius: 200px;
		//
		// 		.circle {
		// 			position: relative;
		// 			display: inline-block;
		// 			left: 5vw;
		// 			top: 46px;
		// 			width: 205px;
		// 			height: 205px;
		// 			// background: red;
		// 			vertical-align: top;
		//
		// 			img {
		// 				width: 100%;
		// 				height: 100%;
		// 				object-fit: cover;
		// 				// overflow: hidden;
		// 				border-radius: 50%;
		// 			}
		// 		}
		//
		// 		.persona {
		// 			position: relative;
		// 			display: inline-block;
		// 			vertical-align: top;
		// 			width: 16vw;
		// 			height: 100%;
		// 			margin-left: 8vw;
		// 			// background: red;
		//
		// 			.name {
		// 				margin-top: 70px;
		// 				font-size: 18px;
		// 				font-weight: bold;
		//
		// 				.sub {
		// 					font-size: 12px;
		// 					font-weight: normal;
		// 					color: #F6AB00;
		// 					margin-top: 8px;
		// 				}
		// 			}
		//
		// 			.go_die {
		// 				margin-top: 30px;
		// 				font-size: 12px;
		// 				line-height: 20px;
		// 			}
		//
		// 			.mail {
		// 				margin-top: 24px;
		// 				font-size: 12px;
		// 			}
		// 		}
		//
		// 		.intro {
		// 			position: relative;
		// 			display: inline-block;
		// 			vertical-align: top;
		// 			width: 40vw;
		// 			height: 100%;
		// 			// background: blue;
		//
		// 			.sentence {
		// 				margin-top: 68px;
		// 				font-size: 24px;
		// 				font-family: serif;
		// 				font-weight: bold;
		// 				font-style: italic;
		// 			}
		//
		// 			.text {
		// 				margin-top: 40px;
		// 				font-size: 12px;
		// 				line-height: 20px;
		// 			}
		// 		}
		// 	}
		//
		//
		// }
	}
}

@keyframes memberSlide {
	from {
		margin-right: -40vw;
		opacity: 0;
	}

	to {
		margin-right: 0;
		opacity: 1;
	}
}

// @keyframes shit {
// 	from {
// 		height: 0;
// 	}
// 	to {
// 		height: 330px;
// 	}
// }
//
// @keyframes shit_reverse {
// 	from {
// 		height: 330px;
// 	}
// 	to {
// 		height: 0;
// 	}
// }

#contact {
	position: relative;
	padding: 70px 0;
	padding-bottom: 100px;
	background: $alpha_blue;
	color: white;

	.topic {
		color: $alpha_grey;

		.subtitle {
			color: $alpha_grey;
		}
	}

	.type_machine {
		color: white;
		padding: 100px;

		.typer {
			// define in html
		}
	}

	.info {
		display: inline-block;
		text-align: left;
		// margin-top: 0px;
	}

	.mail {
		// display: inline-block;
		// padding: 0px 30px;
		// height: 42px;
		line-height: 36px;
		// background: $alpha_blue;
		// color: $alpha_grey;
		// border-radius: 50px;
		// font-weight: bold;
		font-style: italic;
		font-size: 18px;
		letter-spacing: 0.5px;
		margin-bottom: 7px;
		color: white;
		text-decoration: none;

		img {
			height: 30px;
			margin-right: 20px;
			vertical-align: -24%;
		}

		div {
			display: none;
		}
	}
}


#footer {
	position: relative;
	width: 100%;
	height: 30px;
	background: $alpha_blue;
	color: $alpha_grey;


	// ver 圓角
	// width: 92vw;
	// height: 250px;
	// margin: 4vw;
	// margin-bottom: 40px;
	// border-radius: 1000px;

	#copyright {
		position: relative;
		margin-bottom: 12px;
		// left: 2%;
		font-size: 11px;
		letter-spacing: 0.5px;
		text-align: center;
	}
}

@media screen and (min-width: 1280px) {
	#team_members .all_members .each_member {
		// width: 7.5%;
	}
}


@media screen and (max-width: 1000px) {

	.ourworks {
		.category {
			.group {
				width: auto;
				padding: 24px 40px;
			}
		}
	}
}

@media screen and (max-width: 800px) {

	.topic {
		.subtitle {
			font-size: 18px;
			padding: 0 8%;
			line-height: 24px;
		}
	}

	#index {
		.about {
			.new_bar {
				display: none;
			}
			.text {
				width: 100%;
				left: 0;
				text-align: center;
			}

			.read_more {
				// left: 0%;
				display: none;
			}

			.more_text {
				display: none;
			}
		}
	}

	.ourworks {
		.category {
			.group {
				padding: 24px 20px;
			}
		}
	}

	#team_members {
		.all_members {
			.display {
				.content {
					.persona {
						width: 45vw;
						margin-left: 13vw;
					}

					.intro {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.ourworks {
		.category {
			display: none;
		}

		.project {
			.project_intro {
				width: 80%;
				height: 250px;
				margin-bottom: 70px;

				.title {
					margin-top: 70px;
				}
			}

			.each_project {
				width: 80%;
				margin-bottom: 70px;
			}
		}

		.project_two, .project_three {
			display: block
		}
	}

	#team_members {
		.all_members {
			padding: 100px 21%;
			.display {
				// overflow: visible;
				width: 180%;
				left: -39%;

				.content {
					// right: -38%;
					// width: 162%;

					.circle {
						top: 90px;
						width: 126px;
						height: 126px;
						left: 9vw;
					}

					.persona {
						width: 33vw;
						margin-left: 16vw;
					}

				}
			}
		}
	}

	#contact {
		.type_machine {
			padding: 100px 0;

			span {
				font-size: 24px !important;
			}
		}

		.info {
			padding: 0 10%;

			.mail {
				div {
					display: inline-block;
					width: 80%;
					vertical-align: top;
					line-height: 30px;
				}

				span {
					display: none;
				}
			}
		}
	}

	.logo_wall {
		.logo_img {
			width: 36%;
			height: 14vw;
			margin: 20px 6%;
		}
	}
}

@media screen and (max-width: 500px) {
	#index {
		#temp {
			#index_logo {
				height: 8vh;
			}

			.mask {
				height: 8vh;
				width: 32.86vh;
				margin-left: -16.2vh;
			}
		}
	}
}



// @keyframes fly {
// 	from {
// 		left: -20vw;
// 	}
//
// 	to {
// 		left: 100vw;
// 	}
// }


// @media screen and (max-width: 700px) {
//
// }
