/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

$alpha_grey: #F4F5F5;
$alpha_red: #E05656;
$alpha_blue: #1D2088;


@font-face {
	font-family: "regular";
	src: url(NotoSansCJKtc-Regular.otf);
}

@font-face {
	font-family: "bold";
	src: url(NotoSansCJKtc-Bold.otf);
}


body {
	position: relative;
	font-family: "regular", PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb;
	background: $alpha_grey;
	color: $alpha_blue;
	width: 100vw;
	overflow-x: hidden;
}

.topic {
	position: relative;
	font-size: 32px;
	// font-style: italic;
	letter-spacing: 1px;

	.large {
		font-size: 86px;
	}
}


#bar {
	position: fixed;
	width: 100%;
	height: 30px;

	#bar_logo {
		position: relative;
		height: 100%;
		margin-left: 4vw;
		margin-top: 20px;
	}
}

#index {
	position: relative;

	#temp {
		position: relative;
		height: 100vh;
		background: $alpha_blue;
		text-align: center;

		#index_logo {
			position: relative;
			margin-top: 43vh;
			height: 12vh;
			animation-duration: 3s;
		}
	}

	#ourwork {
		position: relative;
		padding: 70px 15%;

		.topic {
			margin-bottom: 80px;
		}

		.project_each {
			position: relative;
			margin-bottom: 60px;

			.cover {
				width: 24vw;
			}

			.content {
				position: relative;
				display: inline-block;
				vertical-align: top;
				font-size: 14px;
				line-height: 20px;
				width: 40vw;
				margin-left: 3vw;

				.title {
					position: relative;
					font-size: 20px;
					line-height: 40px;
				}
			}
		}
	}

	#project {
		position: relative;
		padding: 0px 15%;
		padding-top: 40px;
		padding-bottom: 130px;
		text-align: center;

		.topic {
			text-align: left;
			margin-bottom: 50px;
		}

		.project_each {
			position: relative;
			display: inline-block;
			vertical-align: top;
			text-align: left;
			width: 27%;
			margin: 0 3%;
			height: 300px;
			background: $alpha_blue;

			.content {
				position: relative;
				color: $alpha_grey;
				margin: 2vw;
				font-size: 14px;
				line-height: 20px;

				.title {
					position: relative;
					font-size: 16px;
					font-weight: bold;
					line-height: 30px;
				}

				.subtitle {
					display: inline-block;
					font-weight: bold;
					margin-bottom: 10px;
				}
			}
		}

		#number {
			position: relative;
			margin-top: 50px;
			font-size: 18px;
			letter-spacing: 0.5px;

			.item {
				display: inline-block;
				margin: 0 4%;

				.num {
					display: inline-block;
					font-size: 30px;
					font-weight: bold;
					margin: 0 10px;
				}
			}
		}
	}
}

#contact {
	position: relative;
	padding: 70px 0;
	padding-bottom: 190px;

	.mail {
		display: inline-block;
		padding: 0px 30px;
		height: 42px;
		line-height: 36px;
		background: $alpha_blue;
		color: $alpha_grey;
		border-radius: 50px;
		margin-top: 50px;
	}
}


#footer {
	position: relative;
	width: 100%;
	height: 100px;
	background: $alpha_blue;
	color: $alpha_grey;

	// ver 圓角
	// width: 92vw;
	// height: 250px;
	// margin: 4vw;
	// margin-bottom: 40px;
	// border-radius: 1000px;

	#copyright {
		position: absolute;
		bottom: 12px;
		left: 2%;
		font-size: 11px;
		letter-spacing: 0.5px;
	}
}



// @keyframes fly {
// 	from {
// 		left: -20vw;
// 	}
//
// 	to {
// 		left: 100vw;
// 	}
// }


// @media screen and (max-width: 700px) {
//
// }
