/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/print.scss */
body {
  font-family: PingFangSC-Regular, sans-serif;
  background: #f7f7f7;
  color: #313131;
}

/* line 11, ../sass/print.scss */
.logo {
  position: relative;
  width: 14%;
  left: 43%;
  top: 30px;
}

/* line 18, ../sass/print.scss */
.bar {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 55px;
}
/* line 25, ../sass/print.scss */
.bar .btnGrp {
  position: relative;
  height: 100%;
  width: 60%;
  left: 20%;
  font-size: 0;
  border-left: #dadada 2px solid;
  border-right: #dadada 2px solid;
}
/* line 35, ../sass/print.scss */
.bar .btnGrp .line {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 0.2%;
  vertical-align: top;
  background: #dadada;
}
/* line 44, ../sass/print.scss */
.bar .btnGrp .btn {
  position: relative;
  display: inline-block;
  line-height: 50px;
  height: 100%;
  width: 33.2%;
  font-family: PingFangSC-Regular, sans-serif;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
