/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

body {
	font-family: PingFangSC-Regular, sans-serif, "微软雅黑", "microsoft yahei";
	background: #d8ecdf;
	// overflow: scroll;
}


.cloud1 {
	position: absolute;
	width: 100px;
	top: 70px;
	left: 32%;
}

.cloud2 {
	position: absolute;
	width: 70px;
	top: 30px;
	left: 55%;
}

.cloud3 {
	position: absolute;
	width: 80px;
	top: 80px;
	left: 90%;
}

.context {
	color: grey;
	font-size: 9px;
	position: absolute;
	bottom: 3px;
	right: 5px;
}