
$yellow: #F7EFAE;
$blue: #191E7D;
$purple: #7A7AFF;
$grey: #DEE0E0;
$deepgrey: #707979;
$red: #FF6D70;
$green: #29B5B6;
$deepgreen: #004762;

body {
	font-family: PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb !important;
}

.yellow {
	color: $yellow;
}

.blue {
	color: $blue;
}

.purple {
	color: $purple;
}

.grey {
	color: $grey;
}

.red {
	color: $red;
}

.green {
	color: $green;
}

.deepgreen {
	color: $deepgreen;
}

.deepgrey {
	color: $deepgrey;
}

.text {
	position: absolute;
	top: 10vw;
	left: 51vw;
	width: 38vw;
	letter-spacing: 0.15vw;

	.sub_title {
		font-size: 1.6vw;
		font-weight: bold;
		font-style: italic;
	}
	.title {
		font-size: 2.6vw;
		font-weight: bold;
		font-style: italic;
		margin-top: 0.7vw;
	}
	.content {
		font-size: 1.2vw;
		font-weight: bold;
		line-height: 1.7vw;
		margin-top: 3.5vw;

		.small_title {
			font-size: 1.5vw;
			margin-bottom: 0.4vw;
		}

		.big {
			font-size: 1.6vw;
		}

		.small {
			font-size: 1vw;
		}
	}
}


.projectW {
	position: absolute;
	width: 100vw;
	height: 450vw;
	overflow: hidden;

	.background {
		position: absolute;
		width: 100vw;
	}

	.first_sec {

		.p2018 {
			position: absolute;
			width: 10vw;
			top: 4vw;
			left: 5vw;
		}

		.logo {
			position: absolute;
			width: 27vw;
			top: 6vw;
			left: 37vw;
		}
		
		.boy {
			position: absolute;
			width: 28vw;
			top: 9.2vw;
			left: -1.8vw;
		}

		.girl {
			position: absolute;
			width: 22.4vw;
			top: 25.2vw;
			left: 16.8vw;
		}

		.deer {
			position: absolute;
			width: 22vw;
			top: 25.2vw;
			left: 40.2vw;
		}

		.go_booking {
			position: absolute;
			width: 15.5vw;
			left: 79.5vw;
			top: 29.7vw;

			img {
				position: absolute;
				width: 100%;
			}

			img+img {
				display: none;
			}

			&:hover {
				img {
					display: none;
				}
				img+img {
					display: block;
				}
			}
		}

		.life_design {
			position: absolute;
			width: 46vw;
			top: 36.5vw;
			left: 65vw;
			cursor: pointer;

			img {
				position: absolute;
				width: 100%;
			}

			img+img {
				display: none;
			}

			&:hover {
				img {
					display: none;
				}
				img+img {
					display: block;
				}
			}
		}

		.with_life_design {
			position: absolute;
			width: 10vw;
			top: 34.3vw;
			left: 64vw;
		}

		.slide {
			position: fixed;
			width: 13vw;
			bottom: 2vw;
			left: 44vw;
			animation-iteration-count: 3;
		}
	}

	.second_sec {
		position: absolute;
		width: 100vw;
		top: 52vw;
		// height: 53.2vw;
		// background: red;

		.draw {
			position: absolute;
			width: 42vw;
			left: 6.3vw;
			top: 8vw;
			cursor: pointer;

			img {
				position: absolute;
				width: 100%;
				display: none;
			}

			.default {
				display: block;
			}

			.control_one {
				position: absolute;
				width: 15vw;
				height: 35vw;
				top: 0;
				left: 0;
				// background: red;
			}

			.control_two {
				position: absolute;
				width: 11vw;
				height: 35vw;
				top: 0;
				left: 15vw;
				// background: blue;
			}

			.control_three {
				position: absolute;
				width: 15vw;
				height: 35vw;
				top: 0;
				left: 26vw;
				// background: yellow;
			}
		}

		.text {
			display: none;

			.big_title {
				font-size: 3.8vw;
				letter-spacing: 0.4vw;
				font-weight: bold;
				margin-top: 1vw;
			}
		}

		#text_default {
			display: block;
		}
	}

	.third_sec {
		position: absolute;
		top: 105.2vw;
		width: 100vw;
		// height: 83.2vw;
		// background: red;

		.text {
			top: 11.5vw;
			left: 10vw;
			width: 35vw;

			.content {
				img {
					margin-bottom: 0.4vw;
				}

				img + .small_title {
					margin-bottom: 1.4vw;
				}
			}
			.content + .content {
				margin-top: 3vw;
				margin-bottom: 4.7vw;
			}
		}

		.shock {
			position: absolute;
			top: 4vw;
			width: 17vw;
			left: 43.5vw;
		}
	}

	.fourth_sec {
		position: absolute;
		top: 188.4vw;
		width: 100vw;
		// height: 65.4vw;
		// background: red;

		.draw {
			position: absolute;
			width: 80vw;
			left: 10vw;
			top: 17vw;
		}

		.text {
			width: 23vw;
			top: 50vw;

			.sub_title {
				font-style: normal;
			}

			.content {
				margin-top: 2vw;
			}
		}

		.left {
			left: 12vw;
		}

		.middle {
			left: 40vw;
		}

		.right {
			left: 67vw;
		}


	}

	.fifth_sec {
		position: absolute;
		top: 253.8vw;
		width: 100vw;
		// height: 50.7vw;
		// background: red;

		.p_spec {
			position: absolute;
			width: 11vw;
			top: 3.7vw;
			left: 3.2vw;
		}

		.logo {
			position: absolute;
			width: 28vw;
			top: 5vw;
			left: 14.5vw;
		}

		.text {
			top: 19vw;
			left: 10vw;
			width: 36vw;
			letter-spacing: 0.1vw;
			text-align: center;

			.sub_title {
				font-style: normal;
			}

			.content {
				margin-top: 1.5vw;
				text-align: left;

				.small {
					text-align: center;
				}
			}
		}

		.persona {
			position: absolute;
			width: 42vw;
			top: 14vw;
			left: 55vw;
		}

		.btn {
			position: absolute;
			width: 29vw;
			left: 13vw;
			top: 41vw;

			img {
				position: absolute;
				width: 100%;
			}

			img+img {
				display: none;
			}

			&:hover {
				img {
					display: none;
				}
				img+img {
					display: block;
				}
			}
		}
	}

	.sixth_sec {
		position: absolute;
		top: 304.5vw;
		width: 100vw;
		// height: 50.7vw;
		// background: red;

		.text {
			top: 6.5vw;
			left: 10vw;
			width: 35vw;

			.title {
				margin-top: 0;
			}

			.sub_title {
				margin-top: 1vw;
			}

			.content {
				.small {
					margin-top: 0.5vw;
					margin-bottom: 0.3vw;
				}
			}
		}

		.go_booking {
			position: absolute;
			width: 21vw;
			left: 10vw;
			top: 37vw;

			img {
				position: absolute;
				width: 100%;
			}

			img+img {
				display: none;
			}

			&:hover {
				img {
					display: none;
				}
				img+img {
					display: block;
				}
			}
		}
	}

	.seventh_sec {
		position: absolute;
		top: 355.2vw;
		width: 100vw;
		// height: 50.8vw;
		// background: red;

		.left {
			position: absolute;
			width: 48vw;
			left: -18.3vw;
			top: -2vw;
		}

		.right {
			position: absolute;
			width: 48vw;
			right: -18.3vw;
			top: -1.6vw;
		}

		.p_about {
			position: absolute;
			width: 20vw;
			top: 5.8vw;
			left: 40vw;
		}

		.text {
			top: 32vw;
			left: 25.5vw;
			width: 49vw;
		}
	}

	.footer {
		position: absolute;
		top: 406vw;
		width: 100vw;

		.logo {
			position: absolute;
			width: 25.5vw;
			left: 66vw;
			top: 6.5vw;
		}

		.facebook {
			position: absolute;
			width: 3.5vw;
			left: 66vw;
			top: 37.7vw;
			cursor: pointer;

			img {
				position: absolute;
				width: 100%;
			}

			img+img {
				display: none;
			}

			&:hover {
				img {
					display: none;
				}
				img+img {
					display: block;
				}
			}
		}

		.instagram {
			position: absolute;
			width: 3.5vw;
			left: 71vw;
			top: 37.7vw;
			cursor: pointer;

			img {
				position: absolute;
				width: 100%;
			}

			img+img {
				display: none;
			}

			&:hover {
				img {
					display: none;
				}
				img+img {
					display: block;
				}
			}
		}
	}

}