/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/style.scss */
body {
  font-family: PingFangSC-Regular, sans-serif;
  margin: 0;
}

/* line 11, ../sass/style.scss */
.img {
  position: absolute;
  width: 60%;
  top: 0vh;
  height: 100vh;
  left: 20%;
  overflow: hidden;
}
/* line 19, ../sass/style.scss */
.img img {
  width: 100%;
}
/* line 23, ../sass/style.scss */
.img .up {
  position: absolute;
  width: 8%;
  left: 46%;
  top: 2%;
}
/* line 30, ../sass/style.scss */
.img .hands {
  height: 100%;
}
/* line 35, ../sass/style.scss */
.img .five {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 0;
}

/* line 43, ../sass/style.scss */
.container {
  position: absolute;
  width: 50%;
  top: 15vh;
  left: 25%;
  padding-bottom: 100px;
}
/* line 53, ../sass/style.scss */
.container .text {
  width: 100%;
  font-size: 1.15em;
  margin-bottom: 100px;
}
/* line 60, ../sass/style.scss */
.container .text .worker {
  position: relative;
  width: 80%;
  left: 10%;
}
/* line 65, ../sass/style.scss */
.container .text .five {
  width: 100%;
}

/* line 79, ../sass/style.scss */
.btn {
  position: absolute;
  width: 100%;
  height: 20vh;
  top: 40vh;
}
/* line 86, ../sass/style.scss */
.btn .left {
  background: black;
  position: absolute;
  width: 14vh;
  height: 14vh;
  top: 3vh;
  left: 15%;
  cursor: pointer;
}
/* line 96, ../sass/style.scss */
.btn .right {
  background: black;
  position: absolute;
  width: 14vh;
  height: 14vh;
  top: 3vh;
  right: 15%;
  cursor: pointer;
}

@media screen and (max-height: 580px) {
  /* line 109, ../sass/style.scss */
  .container {
    width: 80%;
    top: 5vh;
    height: 90vh;
    left: 10%;
  }
  /* line 115, ../sass/style.scss */
  .container .text {
    font-size: 1.05em;
  }
}
