/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */


.tree {

	.branch { position: absolute; }

	.trunk {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -100px;
		width: 200px;
		height: 81%; // in animation
		// background: red;

		img.trunk {
			position: absolute;
			bottom: 0;
			width: 120px;
			left: 50%;
			margin-left: -60px; // with width
			height: 100%;
			z-index: 2;

			animation: trunkGrow 0.5s;
		}

		@keyframes trunkGrow {
			// grow up
			from {
				height: 120%;
			}
			to {
				height: 100%;
			}
		}
	}

	.trunkMask {
		overflow: hidden;
		animation: trunkMask 0.5s forwards;
		// name, duration, fill-mode
	}

	@keyframes trunkMask {
		// grow up
		from {
			height: 0;
		}
		to {
			height: 81%;
		}
	}

	.treetop {
		position: absolute;
		bottom: 77%;
		left: 50%;
		width: 115px;
		margin-left: -61px;
		z-index: 3;
		cursor: pointer;

		animation-delay: 0.5s;
	}

	.branchOne {
		position: absolute;
		right: 50%;
		bottom: 55%;
		height: 26%;
		width: 245px; // in animation
		// background: red;

		img.branch {
			position: absolute;
			bottom: 0%;
			right: 0%;
			width: 245px; // with animation
		}
	}

	.branchOneMask {
		overflow: hidden;
		animation: branchOneMask 0.7s 0.3s backwards;
		// name, duration, delay, fill-mode
	}

	@keyframes branchOneMask {
		// grow up
		from {
			width: 0;
		}
		to {
			width: 245px;
		}
	}

	.fruitOne {
		position: absolute;
		bottom: 61%;
		left: 50%;
		margin-left: -220px;
		width: 155px;
		animation-delay: 1s;
		z-index: 3;

		img.cooperation {
			width: 100%;
			cursor: pointer;
		}
	}

	.branchTwo {
		position: absolute;
		left: 50%;
		bottom: 35%;
		height: 52%;
		width: 330px;
		// background: red;

		.branch {
			bottom: 0%;
			left: 0%;
			width: 330px;
			height: 60%;
		}
	}

	.branchTwoMask {
		overflow: hidden;
		animation: branchTwoMask 0.7s 0.4s backwards;
		// name, duration, delay, fill-mode
	}

	@keyframes branchTwoMask {
		// grow up
		from {
			width: 0;
		}
		to {
			width: 330px;
		}
	}

	.fruitTwo_one {
		position: absolute;
		left: 50%;
		bottom: 55%;
		margin-left: 10px;
		width: 200px;
		animation-delay: 1.2s;
		z-index: 3;

		img.retrieval {
			width: 100%;
			cursor: pointer;
		}

		input.search {
			position: absolute;
			top: 75%;
			left: 12%;
			width: 125px;
			height: 18px;
			border: 0px;
			border-radius: 15px;
			background: rgba(0, 0, 0, 0);
			// background: red;
		}

		input.searchBtn {
			position: absolute;
			top: 74.5%;
			left: 78%;
			width: 21px;
			height: 21px;
			background: rgba(0, 0, 0, 0);
			// background: red;
			border: 0px;
			cursor: pointer;
		}
	}

	.fruitTwo_two {
		position: absolute;
		left: 50%;
		bottom: 37%;
		margin-left: 150px;
		width: 180px;
		animation-delay: 1.3s;

		img.explore {
			width: 100%;
			cursor: pointer;
		}
	}

	.branchThree {
		position: absolute;
		right: 50%;
		bottom: 33%;
		height: 130px;
		width: 300px;
		//background: red;

		.branch {
			bottom: 0%;
			right: 0%;
			width: 300px;
		}
	}

	.branchThreeMask {
		overflow: hidden;
		animation: branchThreeMask 0.7s 0.5s backwards;
		// name, duration, delay, fill-mode
	}

	@keyframes branchThreeMask {
		// grow up
		from {
			width: 0;
		}
		to {
			width: 300px;
		}
	}

	.fruitThree {
		position: absolute;
		left: 50%;
		bottom: 45%;
		margin-left: -230px;
		width: 180px;
		animation-delay: 1.5s;
		z-index: 3;

		img.guess {
			width: 100%;
			cursor: pointer;
		}
	}



	.branchFour {
		position: absolute;
		//width: 520px;
		right: 50%;
		bottom: 15%;
		width: 400px;
		height: 130px;

		.branch {
			bottom: 0%;
			right: 0%;
			width: 400px;
		}
	}

	.branchFourMask {
		overflow: hidden;
		animation: branchFourMask 0.7s 0.6s backwards;
		// name, duration, delay, fill-mode
	}

	@keyframes branchFourMask {
		// grow up
		from {
			width: 0;
		}
		to {
			width: 400px;
		}
	}

	.fruitFour {
		position: absolute;
		left: 50%;
		bottom: 26%;
		margin-left: -390px;
		width: 190px;
		animation-delay: 1.8s;
		z-index: 3;
		
		img.tableGame {
			width: 100%;
			cursor: pointer;
		}
	}


	.branchFive {
		position: absolute;
		//width: 450px;
		left: 50%;
		bottom: 10%;
		width: 400px;
		height: 180px;

		.branch {
			bottom: 0%;
			left: 0%;
			width: 400px;
		}
	}

	.branchFiveMask {
		overflow: hidden;
		animation: branchFiveMask 0.7s 0.7s backwards;
		// name, duration, delay, fill-mode
	}

	@keyframes branchFiveMask {
		// grow up
		from {
			width: 0;
		}
		to {
			width: 400px;
		}
	}

	.fruitFive {
		position: absolute;
		left: 50%;
		bottom: 20%;
		margin-left: 230px;
		width: 140px;
		animation-delay: 1.7s;
		z-index: 3;

		.HanZi {
			width: 100%;
			cursor: pointer;
		}
	}
}
