/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

@import "base/bar";
@import "member/center";

.container {
	.btnGrp {
		// background: red;
		position: relative;
		display: inline-block;
		width: 150px;
		margin-top: 20px;
		left: 7%;

		a {
			cursor: pointer;
			img {
				width: 100%;
				margin-bottom: 10px; 
				cursor: pointer;
			}
		}

		.arrow {
			position: absolute;
			top: -10px;
		}
	}

}


.content {

	a {
		&:hover {
			text-decoration: underline;
		}
	}

	.userPic {
		width: 100px;
		height: 100px;
		background: #cacaca;
	}

	.editPic {
		position: absolute;
		// left: 50px;
		left: 7.8%;
		display: inline-block;
		width: 100px;
		height: 18px;
		background: #bde2ec;
		margin-top: 10px;
		border-radius: 15px;
		text-align: center;
		font-size: 12px;
		line-height: 18px;
		color: grey;
		cursor: pointer;
	}

	input {
		position: absolute;
		left: 200px;
		margin-top: 10px;
		border: #bde2ec 1.5px solid;
		border-radius: 15px;
		padding-left: 10px;
	}

	.default {
		position: absolute;
		left: 200px;
	}

	.select2 {
		position: absolute !important;
		left: 200px !important;
		margin-top: 7px !important;
		width: 150px !important;
		// height: 10px !important;
	}

	.select2-selection {
		border: #bde2ec 1.5px solid !important;
		border-radius: 15px !important;
		padding-left: 10px !important;
		font-size: 13px !important;
	}

	.editPassword {
		position: absolute;
		left: 370px;
		display: inline-block;
		width: 100px;
		height: 18px;
		background: #bde2ec;
		margin-top: 10px;
		border-radius: 15px;
		text-align: center;
		font-size: 12px;
		line-height: 18px;
		color: grey;
		cursor: pointer;
	}

	.checkbox {
		position: absolute;
		margin-top: 0px;
		left: 320px;

		input {
			border: #bde2ec 1.5px solid;
			position: relative;
			left: 0;
		}
	}

	.example {
		position: absolute;
		margin-top: 0px;
		left: 330px;
		font-size: 11px;
	}

	.save {
		position: relative;
		display: inline-block;
		top: 30px;
		left: 300px;
		width: 150px;
		height: 22px;
		background: #bde2ec;
		margin-top: 10px;
		border-radius: 15px;
		text-align: center;
		font-size: 13px;
		line-height: 22px;
		cursor: pointer;
		color: grey;
	}
}


.forgotFrame {
	display: none;
	position: absolute;
	width: 100%;
	height: 100vh;
	// background: black;
	top: 0;

	.forgotWindow {
		position: absolute;
		width: 40%;
		padding: 0 5%;
		height: 400px;
		background: rgba(255, 255, 255, 1);
		border: #d8ecdf 7px solid;
		left: 25%;
		top: 130px;
		border-radius: 20px;
		font-size: 15px;
		letter-spacing: 2px;
		box-shadow: 0px 4px 30px rgba(20%, 20%, 20%, 0.15);

		.topic {
			text-align: center;
			font-size: 22px;
			letter-spacing: 15px;
			text-indent: 15px;
			margin-top: 40px;
		}

		.alarm {
			margin-left: 18px;
			font-size: 12px;
			color: red;
		}

		input {
			width: 90%;
			margin: 15px;
			font-size: 22px;
			border-radius: 15px;
			border: 1px #B4B4B5 solid;
			padding-left: 10px;
		}

		.btn {
			display: inline-block;
			position: relative;
			width: 90px;
			// padding: 0 15px;
			left: 50%;
			margin-left: -45px;
			height: 34px;
			background: linear-gradient(#c1e4ef, #93d3e5);
			border-radius: 10px;
			font-size: 14px;
			line-height: 34px;
			color: #186896;
			cursor: pointer;
			text-decoration: none;
			text-align: center;
			letter-spacing: 0.1vw;
		}
	}

	.okayWindow {
		display: none;
		letter-spacing: 2px;

		.topic {
			color: #2ea7e0;
			text-indent: 25px;

			img {
				vertical-align: -70%;
			}
		}
	}
}


@media screen and (max-width: 1000px) {

	.container {
		margin-bottom: 0;
	}

	.content {
		input {
			left: 100px;
		}
		.editPic {
			left: 6%;
		}
		.default {
			left: 100px;
		}
		.editPassword {
			left: 230px;
			width: 75px;
		}
		.checkbox {
			left: 220px;
		}
		.example {
			display: none;
		}
		.select2 {
			left: 100px !important;
		}
		.save {
			left: 165px;
			width: 120px;
		}
	}

}