/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

@import "member/background";
@import "base/bar";

.container {

	// width: 44%;
	// height: 44vw;
	// left: 28%;
	// top: 37px;

	
	.type {
		// top: 6vw;
		top: 65px;

		.title {
			line-height: 24px;
			// margin-bottom: 2vw;
			margin-bottom: 8px;
		}

		.content {
			// background: red;
			position: relative;
			// width: 32.5vw;
			// height: 22.5vw;
			// width: 450px;
			width: 92%;
			height: 340px;
			left: 4%;
			overflow-y: scroll;
			font-size: 13px;
			line-height: 18px;
			text-align: left;
			// padding-right: 1.5vw;

			&::-webkit-scrollbar {
				background-color: white;
			    width: 1.2em;
			}
			 
			&::-webkit-scrollbar-track {
			    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			}
			 
			&::-webkit-scrollbar-thumb {
			  background-color: #2ea7e0;
			  border: 3px solid white;
			  border-radius: 10px;
			}

			&::-webkit-scrollbar-button {
				// ;
			}
		}
	}
}
