/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

@import "base/bar";
@import "base/font";

body {
	background: #fafbe5;
	font-size: 0;
	margin: 0;
}

.fixedBar {
	// height: 60px;
	background: white;
	z-index: 99999;

	p {
		font-size: 12px;
		margin-left: 18%;
		a {
			color: $color;
			text-decoration: none;
		}
	}
}

.banner {
	position: relative;
	width: 56%;
	left: 22%;
	margin-top: 74px;
	margin-bottom: 14px;
	background: white;
	height: 120px;

	.logo {
		position: absolute;
		right: 5%;
		height: 120px;
		line-height: 120px;
		font-family: Arial;
		font-size: 70px;

		img {
			height: 50px;
		}
	}

	.topic {
		position: absolute;
		left: 2px;
		bottom: 2px;
		// background: red;
		font-size: 36px;
		letter-spacing: 5px;
		color: #933314;
		margin-left: 0;
	}
}

.content {
	position: relative;
	width: 52%; /* minus padding */
	left: 22%;
	background: white;
	padding: 20px 2% 50px 2%;
	margin-bottom: 50px;
	font-size: 15px;

	.searchArea {
		position: relative;
		width: 100%;

		.search {
			width: 52%;
			border-width: 2px;
			height: 22px;
			font-size: 16px;
			margin-bottom: 25px;
		}

		img {
			width: 20px;
			margin-left: -35px;
			margin-top: -4px;
			vertical-align: middle;
		}

		.searchBtn {
			background: red;
			width: 24px;
			height: 24px;
			margin-left: -26px;
			opacity: 0;
			cursor: pointer;
		}

	}

	.sendBtn {
		position: absolute;
		right: 5%;
		width: 16%;
		top: 22px;
	}

	.btnGrp {
		position: relative;
		margin-bottom: 10px;
		// margin-left: 12px;
		// width: 100%;

		.btn {
			position: relative;
			display: inline-block;
			border: 1px #F39800 solid;
			border-radius: 5px;
			font-size: 13px;
			letter-spacing: 1px;
			background: white;
			padding: 5px;
			width: 84px;
			text-align: center;
			cursor: pointer;
			color: #7F4F21;
			margin-right: 5px;

			&:hover {
				background: #F39800;
				color: white;
			}
		}

		.active {
			background: #F39800;
			color: white;
		}
	}

	.crack {

		input {
			width: 60px;
		}
	}

	ul {
		position: relative;
		font-size: 14px;
		// margin-left: 12px;
		margin-top: 40px;

		li {
			display: inline-block;
			list-style-type: none;
			color: #7F4F21;
			// vertical-align: middle;
			margin: 0px 2px;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;

			&:hover {
				// vertical-align: middle;
				background: #fbdb8a;
				border-radius: 50%;
				text-align: center;
			}

			a {
				color: #7F4F21;

				// &:hover {
				// 	text-decoration: underline;
				// }
			}
		}

		.active {
			vertical-align: middle;
			background: #fbdb8a;
			border-radius: 50%;
			text-align: center;
		}

		a {
			text-decoration: none;
			vertical-align: middle;
		}

		.goBack {
			position: relative;
			display: inline-block;
			height: 30px;

			img {
				height: 100%;
			}
		}

		.nav {
			position: relative;
			display: inline-block;
			background: #f9db88;
			height: 30px;
			margin: 0px 3px;

			img {
				height: 100%;
			}
		}
	}

	table {
		font-size: 13px;
		position: relative;
		letter-spacing: 1px;
		width: 100%;
		// left: 1%;
		margin: 40px 0px;

		tr {
			height: 70px;
			line-height: 20px;
			background: #fbfbe5;

			td {
				text-align: center;
				border-bottom: 4px white solid;

				a {
					color: black;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				img {
					height: 50px;
					vertical-align: middle;
				}
			}

			.left {
				text-align: left;
			}

			.pictureWord {
				font-size: 50px;
			}

		}

		.odd {
			background: #ffebc1;
		}

		.header {
			background: white;
			height: 30px;
			letter-spacing: 5px;
		}
	}

	textarea {
		position: relative;
		width: 95%;
		left: 2%;
		height: 300px;
		margin-top: 50px;
		border-color: grey;
	}

	.postBtn {
		position: relative;
		left: 2%;
		margin-top: 15px;

		.btn {
			display: inline-block;
			background: #ffb732;
			color: white;
			padding: 5px 15px;
			text-decoration: none;
		}
	}
}




// post

.backForum {
	position: relative;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 8px;
	width: 100px;
	left: 22%;
	cursor: pointer;

	font-size: 14px;
	// for <br>

	img {
		width: 100%;
	}
}

.topic {
	font-size: 26px;
	width: 78%;
	margin-left: 22%;
	// margin-top: 20px;
	// margin-bottom: 0px;
	letter-spacing: 5px;
	color: #7F4F21;
}


// each

.bread {
	font-size: 16px;
	color: grey;
	margin-left: 22%;
	line-height: 30px;

	.backForum {
		left: 10%;
		width: 80px;
		vertical-align: middle;
	}
}

.word {
	// position: relative;
	display: inline-block;
	background: white;
	width: 255px;
	// width: 20%;
	height: 130px;
	// height: 10vw;
	// margin-top: 30px;
	// margin-top: 6px;
	margin-left: 23%;
	color: #595758;
	// vertical-align: top;

	.picture {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 130px;
		// width: 11vw;
		height: 120px;
		// height: 10vw;
		line-height: 120px;
		// line-height: 9.5vw;
		// background: red;
		font-size: 120px;
		// font-size: 9vw;
		text-align: center;
		margin-top: 5px;
		// margin-top: 0.5vw;
		border-right: #dcdddd 1px solid;
	}

	.traditional {
		font-family: sans-serif;
		position: relative;
		display: inline-block;
		width: 100px;
		// width: 7.5vw;
		height: 60px;
		// height: 5vw;
		margin-top: 5px;
		// margin-top: 0.5vw;
		padding-left: 10px;
		// padding-left: 1vw;
		// background: red;
		border-bottom: #dcdddd 1px solid;
		font-size: 50px;
		// font-size: 3.8vw;
		line-height: 60px;
		// line-height: 5vw;
		// text-align: center;

		.simplified {
			font-family: sans-serif;
			position: relative;
			display: inline-block;
			line-height: 26px;
			// line-height: 2.2vw;
			// background: blue;
			border: white 0.2vw solid;
			font-size: 20px;
			// font-size: 1.8vw;
			text-align: center;
			// vertical-align: 30%;
		}
	}
	.listen {
		font-family: sans-serif;
		position: relative;
		display: inline-block;
		height: 50px;
		line-height: 26px;
		// line-height: 2.2vw;
		// border: black 2px solid;
		font-size: 20px;
		// font-size: 1.8vw;
		margin-top: 8px;
		// margin-top: 0.5vw;

		.phonetic {
			position: relative;
			display: inline-block;
			font-size: 20px;
			// font-size: 1.6vw;
			margin-left: 0px;
			margin-top: 5px;
			// margin-top: 0.5vw;
			line-height: 20px;
			// line-height: 1.6vw;
		}
		.pinYin {
			position: relative;
			display: inline-block;
			font-size: 16px;
			// font-size: 1.3vw;
			margin-left: 3px;
			// margin-left: 0.3vw;
		}
	}
}

.explanation {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	// left: 8%;
	padding: 0px 5% 0px 5%;
	// padding-bottom: 75px;
	height: 130px;
	// margin-top: 13px;
	font-size: 16px;
	line-height: 22px;
	overflow-y: scroll;
	color: black;
	// background: white;
	// -webkit-box-sizing: border-box;
	vertical-align: top;

	&::-webkit-scrollbar {
		background-color: white;
	    width: 1.2em;
	}
	 
	&::-webkit-scrollbar-track {
	    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	 
	&::-webkit-scrollbar-thumb {
	  background-color: #f3d091;
	  border: 3px solid white;
	  border-radius: 10px;
	}

	&::-webkit-scrollbar-button {
		// ;
	}

	.main {
		// display: inline-block;
		font-size: 26px;
		line-height: 32px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	p {
		font-size: 18px;
		margin-top: 6px;
	}
}

.forum_each {
	position: relative;
	margin-left: 23%;
	width: 60%;
	background: white;
	margin-top: 50px;
	margin-bottom: 150px;
	padding-bottom: 50px;

	.essayTopic {
		position: relative;
		font-size: 20px;
		letter-spacing: 1px;
		border-bottom: 2px #ffe0a7 solid;
		width: 94%; //minus padding
		left: 2%;
		height: 30px;
		padding-top: 25px;
		padding-left: 2%;
		margin-bottom: 5px;
	}

	.collect {
		position: absolute;
		font-size: 13px;
		letter-spacing: 2px;
		margin-top: 5px;
		right: 35px;
		cursor: pointer;

		img {
			width: 16px;
			vertical-align: middle;
		}
	}

	.user {
		margin-top: 30px;
		margin-left: 4%;
		line-height: 19px;
		border-bottom: 2px #efefef solid;
		padding-bottom: 25px;

		.photo {
			position: relative;
			display: inline-block;
			width: 70px;
			height: 70px;
			background: grey;
			border-radius: 50%;
		}

		.profile {
			position: relative;
			display: inline-block;
			padding-top: 13px;
			padding-left: 12px;
			height: 55px;
			vertical-align: top;

			.name {
				position: relative;
				display: inline-block;
				font-size: 16px;
				letter-spacing: 1px;
			}

			.time {
				position: relative;
				display: inline-block;
				font-size: 12.5px;
				letter-spacing: 1px;
				color: grey;
			}
		}
	}

	.essay {
		width: 92%;
		margin-left: 4%;
		margin-top: 30px;
		padding-bottom: 50px;
		border-bottom: 2px #efefef solid;

		font-size: 15px;
		line-height: 22px;
		letter-spacing: 2px;
	}

	.leaveMessage {
		width: 92%;
		margin-left: 4%;
		margin-top: 5px;
		padding-bottom: 50px;
		border-top: 2px #efefef solid;

		font-size: 15px;
		line-height: 22px;
		letter-spacing: 2px;

		.messageTopic {
			font-size: 16px;
			letter-spacing: 10px;
			position: relative;
			border-bottom: 2px #efefef solid;
			width: 100%;
			height: 30px;
			padding-top: 12px;
			padding-left: 2%;
			margin-bottom: 5px;
		}

		.love {
			position: absolute;
			font-size: 14px;
			right: 40px;
			border: 1.5px #dbdbdb solid;
			padding: 4px 10px;
			border-radius: 20px;
			margin-top: -40px;
			cursor: pointer;

			img {
				vertical-align: middle;
				width: 17px;
			}
		}

		.black {
			img {
				-webkit-filter:grayscale(1);
			}
		}

		.message {
			margin-top: 25px;
		}

		.leave {
			position: relative;
			margin-top: 28px;
			width: 100%;

			.img {
				cursor: pointer;
				width: 100px;

				img {
					width: 100%;
				}

				.leaveLittleMessage {
					position: relative;
					// width: 800%;
					width: 52.1vw;
					// dangerous
					margin-top: 18px;
					font-size: 13px;
					color: grey;

					.name {
						display: inline-block;
						font-size: 15px;
						margin-right: 5px;
						color: black;
					}

					textarea {
						width: 59.7%;
						margin-top: 6px;
						height: 100px;
						vertical-align: bottom;
						font-size: 15px;
					}

					.leaveBtn {
						display: inline-block;
						vertical-align: bottom;
						width: 60px;
						height: 23px;
						line-height: 23px;
						background: #ffb834;
						text-align: center;
						letter-spacing: 10px;
						text-indent: 10px;
						color: white;
						cursor: pointer;
						margin-left: 5px;
					}
				}

			}

			.after {
				display: none;
			}

			.littleMessage {
				background: #f7f8f8;
				width: 70%;
				margin-top: 20px;
				// height: 100px;
				padding-bottom: 8px;

				.littlePhoto {
					width: 35px;
					height: 35px;
					margin-top: 13px;
					margin-left: 15px;
				}

				.profile {
					vertical-align: top;
					padding-top: 20px;
					margin-bottom: 0;
					height: 32px;
				}

				.littleLove {
					font-size: 12px;
					right: 34%;
					border: 1px #dbdbdb solid;
					padding: 2px 11px;
					border-radius: 20px;
					margin-top: -38px;
					cursor: pointer; 
				}

				.littleMessage {
					position: relative;
					margin-top: 0;
					font-size: 13px;
					line-height: 16px;
					width: 76%;
					left: 17%;
				}
			}

			.more {
				text-decoration: none;
				margin-top: 20px;
				line-height: 15px;
				margin-left: 10%;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	ul {
		position: relative;
		font-size: 14px;
		// margin-left: 12px;
		margin-top: -20px;
		// dangerous
		margin-left: 8%;

		li {
			display: inline-block;
			list-style-type: none;
			color: #7F4F21;
			// vertical-align: middle;
			margin: 0px 2px;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;

			&:hover {
				// vertical-align: middle;
				background: #fbdb8a;
				border-radius: 50%;
				text-align: center;
			}

			a {
				color: #7F4F21;

				// &:hover {
				// 	text-decoration: underline;
				// }
			}
		}

		.active {
			vertical-align: middle;
			background: #fbdb8a;
			border-radius: 50%;
			text-align: center;
		}

		a {
			text-decoration: none;
			vertical-align: middle;
		}

		.goBack {
			position: relative;
			display: inline-block;
			height: 30px;

			img {
				height: 100%;
			}
		}

		.nav {
			position: relative;
			display: inline-block;
			background: #f9db88;
			height: 30px;
			margin: 0px 3px;

			img {
				height: 100%;
			}
		}
	}

	.addMessage {
		position: relative;
		width: 84%;
		left: 8%;
		font-size: 15px;
		letter-spacing: 10px;
		line-height: 30px;

		textarea {
			position: relative;
			width: 100%;
			height: 100px;
			font-size: 16px;
		}

		.btn {
			display: inline-block;
			vertical-align: bottom;
			border: 0;
			width: 80px;
			height: 26px;
			line-height: 21px;
			font-size: 14px;
			background: #ffb834;
			text-align: center;
			letter-spacing: 10px;
			text-indent: 10px;
			color: white;
			cursor: pointer;
			border-bottom: 1px #ff9500 solid;
			border-right: 1px #ff9500 solid;
		}
	}

}

footer {
	background: #f7b52c;
}


.inlineblock {
	display: inline-block;
}



@media screen and (max-width: 1024px) {
	body {
		width: 1024px;
	}

}

