/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

$color: #709ba8;

@import "base/font";
@import "base/bar";
@import "base/barRWD";

body {
	background: #e4d9d9;
}

.fixedBar {
	background: transparent;

	.logo {
		-webkit-filter: brightness(100);
	}

	.btnGrp {
		.btn {
			color: white;
		}
	}
}

.pictureWord {
    font-family: pictureWord;
}

.mouse {
	position: absolute;
	width: 100vw;
	// height: 100vh;	

	.background {
		position: absolute;
		top: 0;
		width: 100%;
	}

	.front {
		// z-index: 999;
	}

	.back {
		position: absolute;
		width: 8%;
		left: 2%;
		top: 2vw;
	}

	.guess {
		position: absolute;
		width: 28%;
		left: 35%;
		top: 7vw;
		cursor: pointer;
	}

	.cave {
		position: absolute;
		width: 29%;
		left: 8%;
		top: 28vw;
		cursor: pointer;
	}

	.translate {
		position: absolute;
		width: 12%;
		left: 56%;
		top: 30.3vw;
		cursor: pointer;
	}

	.story {
		position: absolute;
		width: 19%;
		left: 68%;
		top: 33vw;
	}

	.music {
		position: absolute;
		width: 17%;
		left: 60%;
		top: 43vw;
	}

	.conversation {
		position: absolute;
		width: 20%;
		left: 34%;
		top: 22vw;

		img {
			position: absolute;
			top: 0;
			width: 100%;
			display: none;
		}

		#hi {
			display: block;
		}
	}

	.mouse {
		position: absolute;
		width: 13%;
		left: 38%;
		top: 33vw;
	}

}

@media screen and (max-width: 1000px){
	.fixedBar {
		background: #B29393 !important;
	}

	.moreClick {
		background: #B29393 !important;

		.btn {
			&:hover {
				color: #B29393 !important;
			}
		}
	}
}


// @media screen and (max-width: 1024px) {
// 	body {
// 		width: 1024px;
// 	}

// 	.mouse {
// 		width: 1024px;
// 	}
// }
