/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

@import "base/bar";
@import "base/barRWD";
@import "base/font";

body {
	background: #fdfce6;
	font-size: 0;
	margin: 0;
}

.fixedBar {
	// height: 60px;
	background: white;
	z-index: 3;

	p {
		font-weight: bold;
		font-size: 12px;
		margin-left: 18%;
		a {
			color: $color;
			text-decoration: none;
		}
	}
}

.searchBar {
	position: relative;
	width: 200px;
	height: 25px;
	background: white;
	border: #e4855c 5px solid;
	border-radius: 20px;
	left: 50%;
	margin-left: -100px;
	margin-top: 80px;

	input.search {
		margin-left: 12px;
		margin-top: 3px;
		width: 150px;
		border: 0;
		font-size: 13px;
		color: #9fa0a0;
	}

	input.searchBtn {
		position: absolute;
		// background-image: url('../../img/page/retrieval/searchBtn.png');
		width: 25px;
		height: 25px;
		vertical-align: top;
		border: 0;
		cursor: pointer;
		background: rgba(0, 0, 0, 0);
	}
	img {
		vertical-align: top;
	}
}

.grass {
	position: relative;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 0;
	overflow: hidden;

	img {
		width: 1280px;
	}
		@media screen and (min-width: 1280px) {
		.grass {
			width: 100%;
		}
	}
}

.firstLayer {
	position: relative;
	display: inline-block;
	// background: red;
	width: 22vw;
	margin-left: 4%;
	// height: 510px;
	margin-top: 5px;
	// word
	text-align: center;
	line-height: 65px;
	color: #595757;
	font-size: 34px;

	.construct {
		position: relative;
		width: 100%;
		height: 115px;
		text-align: center;
		// background: red;

		.topic {
			width: 100%;
			height: 40px;
			background: #f8b62d;
			color: white;
			text-align: center;
			border-radius: 30px;

			div {
				letter-spacing: 10px;
				font-size: 16px;
				line-height: 40px;
				margin-left: 5px;
			}
		}

		.each {
			position: relative;
			display: block;
			background: white;
			padding: 0px;
			width: 80%;
			left: 10%;
			margin-top: 20px;
			cursor: pointer;
			color: #595757;
			text-decoration: none;
		}
	}

	.pictureWord {
		display: inline-block;
		font-size: 44px;
	}
}

.secondLayer {
	position: relative;
	display: inline-block;
	// background: red;
	// width: 540px;
	width: 44vw;
	// height: 510px;
	margin-top: 0px;
	margin-left: 1vw;
	vertical-align: top;
	color: #595757;
	font-size: 0;

	.word {
		position: relative;
		display: inline-block;
		background: white;
		// width: 250px;
		width: 20vw;
		// height: 130px;
		height: 10vw;
		// margin-top: 30px;
		margin-top: 2vw;
		margin-left: 5%;

		.picture {
			position: relative;
			display: inline-block;
			vertical-align: top;
			// width: 130px;
			width: 11vw;
			// height: 120px;
			height: 10vw;
			// line-height: 120px;
			line-height: 9.5vw;
			// background: red;
			// font-size: 120px;
			font-size: 9vw;
			text-align: center;
			// margin-top: 5px;
			margin-top: 0.5vw;
			border-right: #dcdddd 1px solid;
		}

		.traditional {
			font-family: "標楷體", DFKai-sb !important;
			position: relative;
			display: inline-block;
			// width: 100px;
			width: 7.5vw;
			// height: 60px;
			height: 5vw;
			// margin-top: 5px;
			margin-top: 0.5vw;
			// padding-left: 10px;
			padding-left: 1vw;
			// background: red;
			border-bottom: #dcdddd 1px solid;
			// font-size: 50px;
			font-size: 3.3vw;
			// line-height: 60px;
			line-height: 5vw;
			// text-align: center;

			.simplified {
				font-family: "標楷體", DFKai-sb !important;
				position: relative;
				display: inline-block;
				// line-height: 26px;
				line-height: 2.2vw;
				// background: blue;
				border: white 0.2vw solid;
				// font-size: 20px;
				font-size: 1.7vw;
				text-align: center;
				// vertical-align: 30%;
			}
		}
		.listen {
			font-family: sans-serif;
			position: relative;
			display: inline-block;
			height: 50px;
			// line-height: 26px;
			line-height: 2.2vw;
			// border: black 2px solid;
			// font-size: 20px;
			font-size: 1.8vw;
			// margin-top: 8px;
			margin-top: 0.5vw;

			.phonetic {
				position: relative;
				display: inline-block;
				// font-size: 20px;
				font-size: 1.6vw;
				margin-left: 0px;
				// margin-top: 5px;
				margin-top: 0.5vw;
				// line-height: 20px;
				line-height: 1.6vw;
			}
			.pinYin {
				position: relative;
				display: inline-block;
				// font-size: 16px;
				font-size: 1.3vw;
				// margin-left: 3px;
				margin-left: 0.3vw;
			}
		}
	}

	.typeWord {
		position: relative;
		// width: 270px;
		// width: 48%;
		width: 21.5vw;
		// margin-left: 3.5%;
		margin-left: 1.5vw;
		// margin-top: 10px;
		margin-top: 1vw;
		// display: inline-block;

		.type {
			display: inline-block;
			text-align: center;
			width: 31%;
			margin: 0 1%;
			// line-height: 45px;
			// line-height: 4vw;
			vertical-align: top;
			// font-size: 32px;
			// font-size: 2.5vw;

			.typeName {
				font-weight: lighter;
				background: #f8db89;
				// height: 30px;
				height: 2.5vw;
				// line-height: 30px;
				line-height: 2.5vw;
				border-radius: 20px;
				// font-size: 16px;
				font-size: 1.25vw;
				color: #c2722a;
			}

			.typeImg {
				font-family: Arial;
				position: relative;
				left: 12%;
				width: 50%;
				padding: 0% 6%;
				margin: 8%;
				margin-bottom: 10px;
				background: white;
				// height: 58px;
				height: 5vw;
				// line-height: 62px;
				line-height: 5vw;
				// font-size: 54px;
				font-size: 4.2vw;

				img {
					// width: 100%;
					// height: 42px;
					height: 3vw;
				}
			}
		}
	}

	.draw {
		position: absolute;
		display: inline-block;
		// width: 30%;
		width: 16vw;
		// width: 200px;
		// height: 180px;
		// height: 15vw;
		// border: white 2px solid;
		text-align: center;
		vertical-align: top;
		// margin-top: 30px;
		margin-top: 2vw;
		margin-left: 5%;
		padding: 10px;
		// background: white;

		img {
			width: 100%;
		}
	}

	.topic {	

		a {
			// letter-spacing: 3px;
			letter-spacing: 0.2vw;
			display: inline-block;
			background: #f8b62d;
			// width: 17%;
			width: 7.2vw;
			// height: 35px;
			height: 2.6vw;
			line-height: 2.6vw;
			// font-size: 15px;
			font-size: 1.2vw;
			// margin-top: 20px;
			// margin-top: 0.5vw;
			color: white;
			text-align: center;
			border-top-right-radius: 18px;
			border-top-left-radius: 18px;
			border: #f8b62d 1px solid;
			cursor: pointer;
		}

		#unactive {
			background: white;
			border: 0px;
			color: #f8b62d;
			cursor: pointer;
		}
	}
	
	.scrollFrame {
		position: relative;
		width: 94%;
		border: #f8b62d 1px solid;
		background: white;
		margin-bottom: 20px;
	}

	.explanation {
		position: relative;
		width: 88%;
		// left: 8%;
		padding: 15px 5% 0px 5%;
		padding-bottom: 75px;
		height: 100px;
		// margin-top: 13px;
		font-size: 16px;
		line-height: 22px;
		overflow-y: scroll;
		color: black;
		background: white;
		// -webkit-box-sizing: border-box;

		&::-webkit-scrollbar {
			background-color: white;
		    width: 1.2em;
		}
		 
		&::-webkit-scrollbar-track {
		    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color: #f3d091;
		  border: 3px solid white;
		  border-radius: 10px;
		}

		&::-webkit-scrollbar-button {
			// ;
		}

		.main {
			font-weight: lighter;
			// display: inline-block;
			font-size: 26px;
			line-height: 32px;
			margin-top: 5px;
			margin-bottom: 5px;
		}

		p {
			font-size: 18px;
			margin-top: 6px;
		}
	}

	.displayNone {
		display: none;
	}

	.btnGrp {
		position: absolute;
		right: 15px;

		.btn {
			position: relative;
			display: inline-block;
			width: 120px;
			height: 30px;
			line-height: 30px;
			font-size: 13px;
			text-align: center;
			// background: #f8db89;
			color: #c2722a;
			border-radius: 20px;
			margin-left: 5px;
			margin-right: 5px;
			letter-spacing: 2px;
			cursor: pointer;
			text-decoration: none;

			img {
				position: absolute;
				width: 100%;
				top: 0;
				right: 0;
				z-index: -1;
			}

			div {
				margin-left: -8px;
			}

		}
		#btn1 {
			img {
				margin-top: -10px;
			}
		}
		#btn2 {
			img {
				margin-top: 0px;
			}
		}
	}
}

.thirdLayer {
	position: relative;
	display: inline-block;
	// background: red;
	width: 22%;
	// height: 510px;
	margin-top: 0px;
	margin-left: 1%;
	vertical-align: top;
	color: #595757;
	margin-bottom: 180px;

	.topic {
		width: 100%;
		height: 40px;
		background: #f8b62d;
		color: white;
		font-size: 17px;
		text-align: center;
		line-height: 40px;
		border-radius: 20px;
		letter-spacing: 10px;
	}
	
	.derivative {
		position: relative;
		width: 93%;
		left: 5%;
		margin-top: 15px;
		// height: 390px;
		// overflow-y: scroll;
		// background: red;

		&::-webkit-scrollbar {
			background-color: white;
		    width: 1.2em;
		    font-size: 16px;
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color: #f3d091;
		  border: 3px solid white;
		  border-radius: 10px;
		}

		.word {
			position: relative;
			display: inline-block;
			vertical-align: top;
			height: 46px;
			width: 44px;
			line-height: 42px;
			background: white;
			font-size: 24px;
			text-align: center;
			margin-bottom: 6px;
			margin-left: 6px;
		}
	}
}

footer {
	margin-top: 4.5vw;
	background: #F7B52C;
}

@media screen and (max-width: 1000px) {



	.searchBar {
		// margin-top: 150px;
		border: #e4855c 3px solid;
	}

	.firstLayer {
		display: block;
		width: 96%;
		// margin-left 4%
		margin-top: 20px;

		.construct {
			width: 94%;
			left: 3%;
			height: auto;
			text-align: left;

			.topic {
				display: inline-block;
				width: 35px;
				height: auto;
				background: #f8b62d;
				color: white;
				text-align: center;
				border-radius: 15px;

				div {
					margin: 0;
					letter-spacing: 0;
					line-height: 20px;
					padding: 7px 0px;
				}
			}

			.each {
				display: inline-block;
				vertical-align: top;
				background: white;
				padding: 0px;
				width: 58px;
				height: 58px;
				line-height: 56px;
				left: 0%;
				margin-top: 0px;
				cursor: pointer;
				color: #595757;
				text-decoration: none;
				text-align: center;
				font-size: 0;

				.pictureWord {
					font-size: 40px;
				}
			}
		}
	}

	.secondLayer {
		display: block;
		width: 100%;
		margin-left: 0;
		height: auto;

		.word {
			display: block;
			left: 50%;
			width: 320px;
			margin-left: -160px;
			padding: 0;
			height: auto;
			margin-top: 10px;

			.picture {
				width: 150px;
				height: 140px;
				line-height: 140px;
				font-size: 130px;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 10px;
				border-right: #dcdddd 1px solid;
			}

			.traditional {
				width: 145px;
				height: 80px;
				margin-top: 10px;
				padding-left: 10px;
				border-bottom: #dcdddd 1px solid;
				font-size: 64px;
				line-height: 74px;

				.simplified {
					line-height: 26px;
					border: white 0.2vw solid;
					font-size: 32px;
					text-align: center;
				}
			}
			.listen {
				font-family: sans-serif;
				position: relative;
				display: inline-block;
				height: 50px;
				line-height: 26px;
				font-size: 20px;
				margin-top: 8px;

				.phonetic {
					position: relative;
					display: inline-block;
					font-size: 20px;
					margin-top: 5px;
					line-height: 22px;
				}
				.pinYin {
					position: relative;
					display: inline-block;
					font-size: 16px;
					margin-left: 3px;
				}
			}
		}

		.typeWord {
			left: 50%;
			width: 320px;
			margin-left: -160px;
			height: auto;
			margin-top: 20px;


			.type {
				vertical-align: top;

				.typeName {
					font-weight: lighter;
					background: #f8db89;
					height: 30px;
					line-height: 30px;
					border-radius: 20px;
					font-size: 16px;
					color: #c2722a;
				}

				.typeImg {
					width: 60%;
					left: 20%;
					padding: 0;
					margin: 10px 0;
					// background: rgba(0, 0, 0, 0);
					height: 58px;
					line-height: 62px;
					font-size: 52px;

					img {
						height: 40px;
					}
				}
			}
		}

		.draw {
			position: relative;
			display: block;
			left: 50%;
			width: 240px;
			margin-left: -120px;
			margin-top: 0px;
			margin-bottom: 35px;
			padding: 0px;

			img {
				width: 100%;
			}
		}

		.topic {	
			position: relative;
			left: 5%;
			width: 90%;

			a {
				letter-spacing: 3px;
				width: 100px;
				height: 35px;
				font-size: 16px;
				line-height: 35px;
			}

		}
		
		.scrollFrame {
			position: relative;
			left: 5%;
			width: 90%;
			border: #f8b62d 1px solid;
			background: white;
			margin-bottom: 20px;
		}


		.btnGrp {
			display: none;
		}

	}

	.thirdLayer {
		display: block;
		width: 90%;
		left: 6%;
		margin-left: 0;
		margin-top: 25px;
		margin-bottom: 20px;

		.topic {
			width: 35px;
			height: auto;
			background: #f8b62d;
			color: white;
			text-align: center;
			border-radius: 15px;
			letter-spacing: 0;
			line-height: 20px;
			padding: 7px 0px;
		}

		.phone {
			display: inline-block !important;
		}

		.derivative {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 80%;
			left: 5%;
			margin-top: 0px;
			margin-bottom: 30px;
			// height: 140px;
			// overflow-y: scroll;

			.word {
				position: relative;
				display: inline-block;
				vertical-align: top;
				height: 60px;
				width: 60px;
				line-height: 60px;
				background: white;
				font-size: 30px;
				text-align: center;
				margin-bottom: 10px;
				margin-left: 6px;
			}
		}
	}

	.forum {
		position: relative;
		left: 5%;
		width: 90%;
		margin-bottom: 60px;
		text-align: left;
		font-size: 14px;
		letter-spacing: 2px;
		color: #c89a6c;

		.topic {
			display: inline-block;
			width: 140px;
			font-size: 15px;
			color: #c2722a;
			line-height: 30px;
			letter-spacing: 5px;
			text-align: center;

			img {
				position: absolute;
				z-index: -1;
				height: 40px;
				margin-left: -26px;
				// text-indent: 0;
			}
		}

		.discuss {
			position: relative;
			margin-top: 25px;
			left: 5%;
			width: 93%;
			text-align: left;

			.user {
				display: inline-block;
				background: white;
				width: 70px;
				height: 70px;
				border-radius: 50%;
				border: 3px #c6925b solid;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.talk {
				position: relative;
				display: inline-block;
				width: 62%;
				margin-left: 2%;
				vertical-align: top;
				font-size: 15px;
				line-height: 24px;
				color: #595757;
				background: white;
				border-radius: 20px;
				padding: 10px 5%;

				// img {
				// 	position: absolute;
				// 	top: 0;
				// 	z-index: -1;
				// 	width: 100%;
				// 	height: 100%;
				// 	margin-left: -20px;
				// }
			}

			.userName {
				display: inline-block;
				margin-top: 5px;
				margin-left: 22px;
			}
			.date {
				position: absolute;
				display: inline-block;
				margin-top: 5px;
				right: 0;
			}
		}

		.discuss:nth-child(odd) {
			.user {
				border-color: #b84984;
			}
		}

		.link {
			display: inline-block;
			position: relative;
			color: #c2722a;
			font-size: 18px;
			width: 60%;
			left: 20%;
			height: 50px;
			line-height: 50px;
			margin-top: 40px;
			text-align: center;
			text-decoration: none;
			border-radius: 10px;
			background: #f9db88;
		}
	}
}



@media screen and (min-width: 1300px) {

	.grass {
		position: fixed;
		bottom: 0;
		width: 100%;
		overflow: visible;
	}
}


@media screen and (max-width: 950px) {
	.fixedBar p {
		display: none;
	}
}
