/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

@import "member/background";
@import "base/bar";

.container {

	// width: 44%;
	// height: 44vw;
	// left: 28%;
	// top: 37px;


	.type {
		top: 70px;

		.title {
			// margin-bottom: 1.6vw;
			// margin-bottom: 0;
		}

		.data {
			// margin-bottom: 1.2vw;
		}

		.contract {
			position: relative;
			font-weight: bold;
			font-size: 14px;
			// margin-bottom: 2vw;
			text-align: left;
			left: 17%;

			a {
				color: #2ea7e0;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	// smart phone

	.container {

		.type {
			top: 70px;
			
			.contract {
				left: 5px;
			}
		}
	}
}
