/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

$color: #709ba8;

@import "base/font";
@import "base/bar";

body {
	background: #a7ebca;
}

.pictureWord {
    font-family: pictureWord;
}

.sideBtn {
	position: relative;
	display: inline-block;
	margin-top: 100px;
	margin-left: 7%;
	margin-right: 1.5%;
	width: 7.5%;
	text-align: center;
	// background: red;

	.btn {
		position: relative;
		display: inline-block;
		font-weight: lighter;
		color: grey;
		text-decoration: none;
		font-size: 14px;
		letter-spacing: 2px;
		margin-bottom: 35px;
		
		img {
			width: 90%;
			margin-bottom: 4px;
		}
	}

	.secondBtn {
		margin-bottom: 45px;
		
		img {
			margin-bottom: 11px;
		}
	}

	.backBtn {
		img {
			width: 70%;
			margin-bottom: 10px;
		}
	}
}

.paperDivision {

	.paper {
		position: absolute; 
		width: 100%;
		z-index: -1;
	}

	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 79%;
	margin-top: 70px;
	// padding-bottom: 150px;
	padding-bottom: 18vw;
	// background: blue;

	.text {
		width: 90%;
		padding-left: 6%;
		padding-top: 45px;
		font-weight: lighter;
		font-size: 16px;
		color: grey;
		letter-spacing: 1px;

		.introduction {
			display: inline-block;
			font-size: 13px;
		}

		input {
			width: 45%;
			height: 40px;
			border: 0;
			border-radius: 20px;
			margin: 10px 10px 20px -10px;
			font-size: 20px;
			letter-spacing: 2px;
			padding-left: 3%;
		}

		.example {
			display: inline-block;
			font-size: 15px;

			// a {
			// 	cursor: pointer;
			// }

			img {
				width: 20%;
				vertical-align: -60%;
				margin-left: 1%;
			}
		}

		textarea {
			width: 80%;
			height: 75px;
			border: 0;
			border-radius: 25px;
			margin: 10px 10px 20px -10px;
			font-size: 22px;
			letter-spacing: 2px;
			line-height: 30px;
			padding-top: 15px;
			// padding-bottom: 15px;
			padding-left: 3%;
		}

		.storyWindow {
			position: relative;
			// background: red;
			width: 80%;
			height: 47vw;
			margin-top: 0px;
			overflow-y: scroll;


			&::-webkit-scrollbar {
				background-color: white;
			    width: 1.2em;
			}
			 
			&::-webkit-scrollbar-thumb {
			  background-color: #a7ebca;;
			  border: 3px solid white;
			  border-radius: 10px;
			}

			.each {
				width: 13%;
				margin: 1%;
				text-align: center;
				display: inline-block;

				img {
					width: 100%;
				}
			}
		}

		.bottomBtn {
			position: relative;
			width: 85%;
			margin-top: 30px;
			text-align: center;

			.btn {
				display: inline-block;
				width: 15%;
				height: 30px;
				line-height: 30px;
				// background: black;
				color: white;
				margin: 0 3%;
				cursor: pointer;

				// letter-spacing: 10px;
				text-align: center;
				text-decoration: none;
			}

			.red {
				background: #f27471;
			}

			.blue {
				background: #6ab0d9;
			}
		}
	}

	.topic {
		font-weight: lighter;
		padding-top: 40px;
		margin-left: 5%;
		margin-bottom: 25px;
		font-size: 28px;
		letter-spacing: 2px;
		color: #58585a;
	}


	.tableDivision {
		position: relative;
		height: 50vw;
		width: 65%;
		left: 5%;
		border-radius: 30px;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 30px;
		padding-bottom: 50px;
		// height: 47vw;
		overflow-y: scroll;
		background: rgba(255, 255, 255, 0.8);
		font-size: 13px;
		margin-bottom: 20px;


		// &::-webkit-scrollbar {
		// 	background-color: rgba(0, 0, 0, 0);
		//     // width: ;
		// }
		 
		// &::-webkit-scrollbar-thumb {
		//   background-color: #f3d091;
		//   border: 3px solid #fff9eb;
		//   border-radius: 10px;
		// }

		table {
			width: 100%;
			font-size: 14px;
			color: #58585a;

			tr {
				border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
				height: 60px;

				td {
					text-align: center;

					.btn {
						display: inline-block;
						width: 27%;
						height: 27px;
						line-height: 27px;
						color: white;
						margin: 0 3%;
						// letter-spacing: 10px;
						text-align: center;
						text-decoration: none;
						cursor: pointer;
					}

					.red {
						background: #f27471;
					}

					.green {
						background: #8dc434;
					}
				}
				.left {
					text-align: left;
				}
			}

			img {
				width: 35px;
				margin-right: 8px;
				vertical-align: top;
			}
		}
	}

	.deleteBtn {
		position: relative;
		display: inline-block;
		font-size: 14px;
		width: 17%;
		height: 28px;
		line-height: 28px;
		color: white;
		margin: 0 3%;
		text-align: center;
		background: #f27471;
		left: 5%;
		cursor: pointer;
	}
}

#fp-nav {
	// top: 50%;
}

#fp-nav ul li a span {
	background: #ddf7eb;
}

.fp-controlArrow.fp-prev {
	// opacity: 0;
	left: 50px;
}

#fullpage {
	color: #3e3a39;


	.introduction {
		font-weight: lighter;
		// font-family: lighter;
		background: #a8e9e4;
		font-size: 0;

		.book {
			position: absolute;
			width: 70%;
			height: 100%;
			left: 15%;
			top: -12px;
			color: #3e3a39;

			.bookImg {
				position: absolute;
				width: 100%;
			}

			.leftPage {
				position: relative;
				display: inline-block;
				vertical-align: top;
				top: 0;
				margin-left: 3%;
				width: 45%;
				// background: blue;
				text-align: left;
				padding-top: 120px;
				padding-left: 50px;
				// font-size: 180px;
				font-size: 18px;
				// line-height: 150px;
				line-height: 28px;
				letter-spacing: 3px;
				text-indent: 3px;

				.row {
					margin-top: 15px;
					margin-bottom: 50px;

					.pictureWord {
						display: inline-block;
						font-size: 50px;
						line-height: 75px;
						background: white;
						width: 75px;
						height: 75px;
						border-radius: 50%;
						text-align: center;
						text-decoration: none;
						color: #885e56;
					}
				}
				
				.pictureWord {
					display: inline-block;
					font-size: 140px;
					line-height: 140px;
				}

				.pronounce {
					display: inline-block;
					margin-top: 10px;
					margin-left: 20px;
					width: 120px;
					vertical-align: top;
					text-align: center;
					font-size: 0;

					.word {
						font-family: ZUYIN;
						// font-family: "標楷體", DFKai-sb !important;
						font-size: 82px;
						line-height: 82px;
						margin-bottom: 10px;
					}

					.small {
						display: inline-block;
						font-size: 30px;
						line-height: 25px;
						margin-left: -30px;
					}
				}

			}

			.rightPage {
				position: relative;
				display: inline-block;
				vertical-align: top;
				top: 0;
				width: 40%;
				// padding-left: 8%;
				// padding-left: 0% 0%;
				height: 62%;
				padding-top: 60px;
				margin-top: 90px;
				// background: red;
				// font-size: 32px;
				overflow-y: scroll;
				text-align: left;
				font-size: 0;

				&::-webkit-scrollbar {
					background-color: rgba(0, 0, 0, 0);
				    // width: ;
				}
				 
				&::-webkit-scrollbar-thumb {
				  background-color: #f3d091;
				  border: 3px solid #fff9eb;
				  border-radius: 10px;
				}

				.pictureWord {
					font-size: 160px;
					// margin-left: -12%;
				}

				.topic {
					font-size: 16px;
					line-height: 24px;
					letter-spacing: 3px;
					text-indent: 3px;
				}

				.mean {
					position: relative;
					width: 90%;
					left: 7%;
					margin-top: 0px;
					margin-bottom: 46px;
					font-size: 22px;
					line-height: 30px;
					letter-spacing: 3px;
					text-indent: 3px;
				}

				.making {
					font-family: "標楷體", DFKai-sb !important;
					position: relative;
					width: 90%;
					left: 7%;
					margin-top: 0px;
					margin-bottom: 46px;
					font-size: 22px;
					line-height: 28px;
					letter-spacing: 3px;
					text-indent: 3px;
				}

				.explain {
					position: relative;
					width: 90%;
					left: 5%;
					font-size: 26px;
					line-height: 32px;
					letter-spacing: 3px;
					height: 100px;
				}
			}
		}
	}

		.slide {
			position: relative;
			display: inline-block;
			width: 100vw;
			height: 100%;
			top: 0;
			margin-top: 0;
			text-align: center;

			img {
				position: relative;
				width: 28%;
				margin-top: 50px;
				margin-bottom: 20px;
			}

			.up {
				position: absolute;
				width: 40px;
				top: -27px;
				left: 50%;
				margin-left: -20px;
			}

			.down {
				position: absolute;
				width: 40px;
				bottom: 10px;
				left: 50%;
				margin-left: -20px;
			}

			.right {
				position: absolute;
				width: 25px;
				right: 30px;
				top: 50%;
				margin-top: -15px;
			}

			.left {
				position: absolute;
				width: 25px;
				left: 30px;
				top: 50%;
				margin-top: -15px;
			}

			.pictureWord {
				position: relative;
				// width: 100%;
				font-size: 100px;
				color: #3e3a39;
			}
		}
	
}

footer {
	// margin-top: 100px;
	background: #5DBAA8;
}




@media screen and (max-width: 1280px) {
	body {
		width: 1280px;
	}

	.paperDivision {
		padding-bottom: 200px;

		.text {
			.storyWindow {
				height: 499.2px;
			}
		}

		.tableDivision {
			height: 600px;
		}
	}


}

@media screen and (max-width: 1024px){
	footer {
		.linkArea {
			.grp {
				padding-right: 3% !important;
			}
		}
	}
}
