/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

@import "base/bar";
@import "base/barRWD";
@import "base/font";

body {
	background: #fdfce6;
	font-size: 0;
	margin: 0;
}

.input {
	position: relative;
	text-align: center;
	padding-top: 100px;

	input {
		font-size: 3vw;
		padding: 0.5vw;
	}
}

.typing {
	position: relative;
	width: 100vw;
	height: 100vh;
	text-align: center;
	font-size: 0;

	.scroll {
		width: 200vw;
	}

	.possibleWord {
		display: none;
		position: fixed;
		top: 42vh;
		width: 90vw;
		padding: 0 5vw;
		height: 8vh;
		background: #fdfce6;
		z-index: 5;
		text-align: left;
		overflow-x: scroll;

		.eachWord {
			display: inline-block;
			font-size: 20px;
			padding: 2.2vh 1vw;
			cursor: pointer;
		}
	}

	.chooseWord {
		display: none;
		position: fixed;
		top: 50vh;
		width: 100vw;
		height: 41.5vh;
		background: #ffb833;
		z-index: 5;
		overflow: scroll;

		.eachWord {
			display: inline-block;
			width: 14.2vw;
			font-size: 7vw;
			border: 0.25vw solid #ffb833;
			padding: 2vh 1vw;
			background: #fdfce6;
			vertical-align: top;
			cursor: pointer;

			&:hover {
				background: #ffb833;
			}
		}

		.active {
			background: #ffb833;
		}
	
	}

	.keyBoard {
		display: none;
		position: fixed;
		bottom: 0;
		width: 100vw;
		height: 50vh;
		padding-top: 0.5vh;
		background: #ffb833;
		z-index: 3;

		.key {
			position: relative;
			display: inline-block;
			width: 21vw;
			border: 0.25vw solid #ffb833;
			height: 7.5vh;
			padding: 1vh 1vw;
			vertical-align: top;
			background: #fdfce6;
			cursor: pointer;

			img {

			}

			&:hover {
				background: #ffb833;
			}
		}
	}
}

footer {
	background: #ffb833;
}


// game

.fixedBar {
	background: #b79a9a !important;
	background: #e4d9d9 !important;
}

body {
	background: #e4d9d9;
	background: #b79a9a;
}

.game {
	position: relative;
	padding-top: 20px;
	padding-bottom: 120px;

	.question {

		position: relative;
		text-align: center;
		padding-top: 0px;
		padding-right: 4vw;
		color: #e4d9d9;
		font-size: 10vw;
		// display: none;
		// background: red;

		img {
			width: 40vw;
		}

		span {
			vertical-align: 40%;
			margin-left: 0vw;
		}

		.Q {
			display: none;
		}

		.default {
			display: block;
		}

		.time {
			font-family: arial;
			position: absolute;
			// left: 46.5vw;
			right: 50vw;
			font-size: 6vw;
			line-height: 10vw;
			margin-left: 0;
		}

		#s {
			// left: 43vw;
			right: 51.5vw;
		}

		#ms {
			// left: 48.5vw;
			right: 42.5vw;
		}




		// pictureWord
		// font-size: 14vw;


	}

	.default {
		display: block;
	}

	.answer {
		position: relative;
		padding-top: 55px;
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;
		text-align: center;

		.eachAns {
			position: relative;
			display: inline-block;
			width: 13vw;
			height: 13vw;
			margin: 0.5vw;
			border: #e4d9d9 solid 4px;
			border-radius: 10px;
			text-align: center;
			font-size: 10vw;
			line-height: 13vw;
			color: #e4d9d9;
			vertical-align: top;
			cursor: pointer;

			&:hover {
				background: #e4d9d9;
				color: #b79a9a;
			}




			// pictureWord 
			// font-size: 9vw;
		}
	}
}

.window {
	display: none;
	position: fixed;
	top: 20vh;
	left: 10vw;
	width: 70vw;
	padding: 0 5vw;
	height: 60vh;
	background: #e4d9d9;
	// color: #b79a9a;
	border-radius: 20px;
	font-size: 4vw;
	text-align: center;

	.topic {
		font-size: 5vw;
		margin-bottom: 2vw;
		margin-top: 2vw;
	}

	img {
		width: 50vw;
	}

	span {
		font-size: 7vw;
	}
}

.function {
	position: fixed;
	top: 2vw;
	right: 2vw;
	font-size: 7vw;
	color: #e4d9d9;
	cursor: pointer;
}

footer {
	background: #e4d9d9;
}
