@charset "UTF-8";
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
/* line 6, ../../sass/_bar.scss */
.fixedBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}
/* line 13, ../../sass/_bar.scss */
.fixedBar .logo {
  position: relative;
  left: 2%;
  top: 15px;
  width: 130px;
}
/* line 20, ../../sass/_bar.scss */
.fixedBar .btnGrp {
  position: absolute;
  top: 0;
  right: 2%;
  height: 100%;
  width: 200px;
  font-size: 0;
}
/* line 29, ../../sass/_bar.scss */
.fixedBar .btnGrp .btn {
  font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100px;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  color: #804f21;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
@font-face {
  font-family: 'pictureWord';
  src: url(../../fonts/picture-word.ttf);
}
/* line 15, ../../sass/page/_font.scss */
.pictureWord {
  font-family: pictureWord;
}

/* line 8, ../../sass/page/retrieval.scss */
body {
  background: #f7f8f8;
}

/* line 12, ../../sass/page/retrieval.scss */
.fixedBar {
  background: white;
  z-index: 99999;
}
/* line 17, ../../sass/page/retrieval.scss */
.fixedBar p {
  font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
  font-size: 12px;
  margin-left: 18%;
}
/* line 21, ../../sass/page/retrieval.scss */
.fixedBar p a {
  color: #804f21;
  text-decoration: none;
}

/* line 28, ../../sass/page/retrieval.scss */
.searchBar {
  position: relative;
  width: 200px;
  height: 25px;
  background: white;
  border: #e4855c 5px solid;
  border-radius: 20px;
  left: 50%;
  margin-left: -100px;
  margin-top: 80px;
}
/* line 39, ../../sass/page/retrieval.scss */
.searchBar input.search {
  margin-left: 12px;
  margin-top: 3px;
  width: 150px;
  border: 0;
  font-size: 13px;
  color: #9fa0a0;
}
/* line 48, ../../sass/page/retrieval.scss */
.searchBar input.searchBtn {
  position: absolute;
  width: 25px;
  height: 25px;
  vertical-align: top;
  border: 0;
  cursor: pointer;
  background: transparent;
}
/* line 58, ../../sass/page/retrieval.scss */
.searchBar img {
  vertical-align: top;
}

/* line 63, ../../sass/page/retrieval.scss */
.firstLayer {
  position: relative;
  display: inline-block;
  width: 22%;
  margin-left: 4%;
  height: 510px;
  margin-top: 25px;
  text-align: center;
  line-height: 65px;
  color: #595757;
  font-size: 34px;
}
/* line 72, ../../sass/page/retrieval.scss */
.firstLayer .construct {
  position: relative;
  width: 100%;
  height: 115px;
}
/* line 78, ../../sass/page/retrieval.scss */
.firstLayer .construct .topic {
  font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
  width: 100%;
  height: 45px;
  background: #f8b62d;
  color: white;
  font-size: 17px;
  text-align: center;
  line-height: 45px;
}
/* line 96, ../../sass/page/retrieval.scss */
.firstLayer .pictureWord {
  display: inline-block;
  font-size: 44px;
}

/* line 102, ../../sass/page/retrieval.scss */
.secondLayer {
  position: relative;
  display: inline-block;
  width: 44%;
  height: 510px;
  margin-top: 20px;
  margin-left: 1%;
  vertical-align: top;
  color: #595757;
}
/* line 114, ../../sass/page/retrieval.scss */
.secondLayer .word {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  margin-top: 75px;
  margin-left: 12%;
}
/* line 123, ../../sass/page/retrieval.scss */
.secondLayer .word .traditional {
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: white 2px solid;
  font-size: 38px;
  text-align: center;
}
/* line 135, ../../sass/page/retrieval.scss */
.secondLayer .word .traditional .simplified {
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 26px;
  border: white 2px solid;
  font-size: 20px;
  text-align: center;
  vertical-align: 30%;
}
/* line 149, ../../sass/page/retrieval.scss */
.secondLayer .word .picture {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 83px;
  height: 83px;
  line-height: 83px;
  border: white 2px solid;
  font-size: 80px;
  text-align: center;
}
/* line 161, ../../sass/page/retrieval.scss */
.secondLayer .word .listen {
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  width: 136px;
  height: 50px;
  line-height: 26px;
  border: white 2px solid;
  font-size: 20px;
  vertical-align: 30%;
  margin-top: 8px;
}
/* line 174, ../../sass/page/retrieval.scss */
.secondLayer .word .listen .phonetic {
  position: relative;
  display: inline-block;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 5px;
  line-height: 20px;
}
/* line 182, ../../sass/page/retrieval.scss */
.secondLayer .word .listen .pinYin {
  position: relative;
  display: inline-block;
  font-size: 15px;
  margin-left: 2px;
}
/* line 191, ../../sass/page/retrieval.scss */
.secondLayer .draw {
  position: relative;
  display: inline-block;
  width: 186px;
  height: 186px;
  border: white 2px solid;
  text-align: center;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 11%;
  padding: 10px;
}
/* line 203, ../../sass/page/retrieval.scss */
.secondLayer .draw img {
  width: 100%;
}
/* line 208, ../../sass/page/retrieval.scss */
.secondLayer .topic {
  background: #92d3e5;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 17px;
  margin-top: 20px;
  color: white;
  text-align: center;
}
/* line 219, ../../sass/page/retrieval.scss */
.secondLayer .explanation {
  font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
  position: relative;
  width: 89%;
  left: 8%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
  overflow-y: scroll;
}
/* line 231, ../../sass/page/retrieval.scss */
.secondLayer .explanation::-webkit-scrollbar {
  background-color: white;
  width: 1.2em;
}
/* line 240, ../../sass/page/retrieval.scss */
.secondLayer .explanation::-webkit-scrollbar-thumb {
  background-color: #c9e8ef;
  border: 3px solid white;
  border-radius: 10px;
}
/* line 250, ../../sass/page/retrieval.scss */
.secondLayer .explanation .main {
  font-family: PingFangSC-light, sans-serif, "微软雅黑", "microsoft yahei";
  display: inline-block;
  font-size: 26px;
}
/* line 256, ../../sass/page/retrieval.scss */
.secondLayer .btnGrp {
  position: absolute;
  right: 15px;
}
/* line 260, ../../sass/page/retrieval.scss */
.secondLayer .btnGrp .btn {
  font-family: PingFangSC-light, sans-serif, "微软雅黑", "microsoft yahei";
  position: relative;
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  text-align: center;
  background: #c9e8ef;
  color: #1c7894;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

/* line 279, ../../sass/page/retrieval.scss */
.thirdLayer {
  position: relative;
  display: inline-block;
  width: 22%;
  height: 510px;
  margin-top: 25px;
  margin-left: 1%;
  vertical-align: top;
  color: #595757;
}
/* line 290, ../../sass/page/retrieval.scss */
.thirdLayer .topic {
  font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
  width: 100%;
  height: 45px;
  background: #f8b62d;
  color: white;
  font-size: 17px;
  text-align: center;
  line-height: 45px;
}
/* line 301, ../../sass/page/retrieval.scss */
.thirdLayer .derivative {
  position: relative;
  width: 92%;
  left: 5%;
  margin-top: 15px;
  height: 390px;
  overflow-y: scroll;
}
/* line 310, ../../sass/page/retrieval.scss */
.thirdLayer .derivative::-webkit-scrollbar {
  background-color: white;
  width: 1.2em;
}
/* line 315, ../../sass/page/retrieval.scss */
.thirdLayer .derivative::-webkit-scrollbar-thumb {
  background-color: #f3d091;
  border: 3px solid white;
  border-radius: 10px;
}
/* line 321, ../../sass/page/retrieval.scss */
.thirdLayer .derivative .word {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 42px;
  width: 40px;
  line-height: 42px;
  background: white;
  font-size: 34px;
  text-align: center;
  margin-bottom: 6px;
}

@media screen and (max-width: 950px) {
  /* line 340, ../../sass/page/retrieval.scss */
  .fixedBar p {
    display: none;
  }
}
