/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

body {
	font-family: PingFangTC-regular, Heiti TC, Meiryo, "微軟正黑體", Microsoft JhengHei, "標楷體", DFKai-sb !important;
	background: #000066;
	color: white;
}

.bar {
	position: fixed;
	height: 70px;
	width: 100%;
	z-index: 1;

	// background: #000066;
	// border-bottom: 2px black solid;

	.burger {
		display: inline-block;
		height: 34px;
		margin-top: 22px;
		margin-left: 28px;
		cursor: pointer;
		vertical-align: top;

		img {
			height: 100%;
		}
	}

	.logo {
		position: relative;
		display: inline-block;
		height: 64px;
		margin-top: 14px;
		margin-left: 25px;
		cursor: pointer;

		img {
			height: 100%;
		}
	}

	.proposal {
		position: absolute;
		right: 50px;
		line-height: 70px;
		font-size: 16px;
		letter-spacing: 1px;
	}
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 200vw;
	font-size: 0;
	z-index: 2;
	transform: translate(0, -50vw);
	background: white;
	display: none;

	.circle {
		position: absolute;
		border: 2px black solid;
		border-radius: 50%;
		font-size: 16px;
		// text-indent: 30px;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0.995);
		width: 100vw;
		height: 100vw;
		margin-top: 50vh;
		margin-left: -1px;

		.text {
			position: absolute;
			font-size: 1.5vw;
			line-height: 100vw;
			text-indent: 2vw;
			cursor: pointer;
			padding-right: 2vw;
			color: rgba(0, 0, 0, 0.5);
			text-decoration: none;
			// border-radius: 100px;
			// background: red;

			&:hover {
				color: rgba(0, 0, 0, 1);
			}
		}


			div {
				position: relative;
				width: 80%;
				height: 80%;
				left: 10%;
				top: 10%;
				margin-left: -1px;
				border-radius: 50%;
				border: 2px black solid;

				.text {
					line-height: 80vw;
					margin-top: -2px;
				}

				div {
					width: 76%;
					height: 76%;
					left: 12%;
					top: 12%;

					.text {
						line-height: 60.8vw;
						margin-top: -4px;
						text-indent: 1.5vw;
					}

					div {
						width: 71%;
						height: 71%;
						left: 14.5%;
						top: 14.5%;
						div {
							width: 65%;
							height: 65%;
							left: 17.5%;
							top: 17.5%;
							div {
								width: 58%;
								height: 58%;
								left: 21%;
								top: 21%;
								div {
									width: 44%;
									height: 44%;
									left: 28%;
									top: 28%;

									line-height: 7.2vw;
									text-align: center;
									cursor: pointer;
									font-size: 22px;
								}
							}
						}
					}
				}
			}
	}
}

.walk {
	position: fixed;
	width: 4vw;
	left: 23vw;
	bottom: 12vw;
	// left: 81vw;
	// bottom: 11vw;
	cursor: pointer;
	display: none;

	img {
		width: 100%;
	}

	.one {
		display: none;
	}
}






// 關於迴響

.spirit {
	position: relative;
	padding: 0 5%;
	padding-top: 110px;
	padding-bottom: 80px;
	width: 90%;
	text-align: center;

	.topic {
		position: relative;
		width: 100%;
		font-size: 28px;
		margin-bottom: 70px;
	}

	.each {
		display: inline-block;
		margin: 0 60px;
		width: 230px;
		text-align: left;
		vertical-align: top;
		margin-bottom: 70px;

		img {
			margin-bottom: 50px;
		}
	}
}

.step {
	position: relative;
	padding: 0 12%;
	margin-bottom: 150px;

	.each {
		.content {
			position: relative;
			display: inline-block;
			border-right: 1px white solid;
			width: 65%;
			padding-bottom: 50px;

			.text {
				position: absolute;
				display: inline-block;
				vertical-align: 150%;
				width: 50%;
				right: 12%;
				font-size: 15px;
			}
		}
		.time {
			display: inline-block;
			vertical-align: top;
			padding-left: 5%;
			font-size: 16px;
			line-height: 22px;
		}
	}
}

.four {
	position: relative;
	font-size: 16px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.3);
	height: 53vw;
	margin-bottom: 150px;

	img {
		position: absolute;
		width: 100vw;
		// height: 100vh;
		left: 0;
	}

	.topic {
		position: absolute;
		width: 10vw;
		left: 44.5vw;
		top: 23.2vw;
		font-size: 2.4vw;
		line-height: 2.4vw;
		color: white;
		// background: white;

		&:hover {
			color: white;
		}
	}

	div {
		&::-webkit-scrollbar {
			background-color: white;
		    width: 1.1em;
		}
		 
		&::-webkit-scrollbar-track {
		    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color: silver;
		  border: 4px solid white;
		  border-radius: 10px;
		}

		&::-webkit-scrollbar-button {
			// ;
		}

		&:hover {
			color: black;
		}
	}

	.action {
		position: absolute;
		width: 24vw;
		height: 17.4vw;
		top: 16vw;
		left: 4vw;
		line-height: 20px;
		overflow-y: scroll;
	}

	.reflect {
		position: absolute;
		width: 50vw;
		height: 9vw;
		top: 2vw;
		left: 25vw;
		// overflow: scroll;

		font-size: 1.3vw;
		line-height: 1.6vw;
	}

	.POV {
		position: absolute;
		width: 24vw;
		height: 17.3vw;
		top: 16vw;
		right: 4vw;
		line-height: 20px;
		overflow-y: scroll;
	}

	.NAP {
		position: absolute;
		width: 48vw;
		height: 8.8vw;
		top: 40vw;
		left: 25vw;
		// overflow-y: scroll;
	}
}


.book {

}




// 活動辦法

.QandA {
	position: relative;
	padding-top: 120px;

	.Q {
		position: relative;
		font-size: 19px;
		width: 86%;
		left: 7%;
		margin-bottom: 20px;
		cursor: pointer;

		.topic {
			border: 2px white solid;
			width: 97%;
			padding: 15px 0;
			padding-left: 3%;
		}

		.arrow {
			position: absolute;
			right: 30px;
		}

		.A {
			width: 94%;
			margin-top: 15px;
			padding: 15px 3%;
			border: 2px white solid;
			height: 0;
			font-size: 17px;
			line-height: 22px;
			overflow: hidden;
			animation-name: QandA;
			animation-duration: 1s;
			animation-fill-mode: forwards;
			display: none;
			cursor: auto;
		}
	}
}

@keyframes QandA {
	from {
		padding: 0 3%;
	 	height: 0;
	}

	to {
		padding: 15px 3%;
	 	height: 120px;
	}
}
















// 行動大使

.actionPartner {
	position: relative;
	width: 90%;
	padding: 0 5%;
	padding-top: 120px;
	padding-bottom: 120px;
	text-align: center;

	.individual {
		position: relative;
		display: inline-block;
		width: 235px;
		height: 220px;
		margin: 20px;
		vertical-align: top;
		text-decoration: none;
		color: black;
		overflow: hidden;

		// for img
		font-size: 190px;
		line-height: 190px;

		border: 2px black solid;

		.name {
			position: relative;
			font-size: 16px;
			line-height: 18px;
			padding: 7px 0;
			top: 0;

			background: white;
			border-bottom: 2px black solid;
		}

		img {
			max-width: 100%;
			// max-height: 100%; 
		}

		.readMore {
			position: absolute;
			right: -52px;
			bottom: -52px;
			width: 100px;
			height: 100px;
			font-size: 13px;
			line-height: 18px;
			transform: rotate(-45deg);

			color: black;
			text-decoration: none;
			background: white;
			border: 2px black solid;
		}
	}	
}



@media screen and (max-width: 1024px) {

}
