@charset "UTF-8";
/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700);
@font-face {
  font-family: 'pictureWord';
  src: url(../fonts/picture-word.ttf);
}
/* line 15, ../../sass/_font.scss */
.pictureWord {
  font-family: pictureWord;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
/* line 6, ../../sass/index/_bar.scss */
.fixedBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}
/* line 13, ../../sass/index/_bar.scss */
.fixedBar .logo {
  position: relative;
  left: 2%;
  top: 15px;
  width: 130px;
}
/* line 20, ../../sass/index/_bar.scss */
.fixedBar .btnGrp {
  position: absolute;
  top: 0;
  right: 2%;
  height: 100%;
  width: 200px;
  font-size: 0;
}
/* line 29, ../../sass/index/_bar.scss */
.fixedBar .btnGrp .btn {
  font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100px;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
  color: #804f21;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
/* line 5, ../../sass/index/_backgroundAnimation.scss */
body {
  font-family: PingFangSC-Regular, sans-serif, "微软雅黑", "microsoft yahei";
  background: #d8ecdf;
  height: 100vh;
  overflow: hidden;
}

/* line 12, ../../sass/index/_backgroundAnimation.scss */
.grass {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 52px;
  width: 1280px;
}

/* line 20, ../../sass/index/_backgroundAnimation.scss */
.context {
  color: grey;
  font-size: 9px;
  position: absolute;
  bottom: 3px;
  right: 5px;
}

/* line 28, ../../sass/index/_backgroundAnimation.scss */
.cloud1 {
  position: absolute;
  width: 90px;
  top: 70px;
  left: 20%;
  opacity: 0;
  animation-name: cloud1;
  animation-duration: 70s;
  animation-timing-function: linear;
}

@keyframes cloud1 {
  from {
    left: 20%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    left: 100%;
    opacity: 0;
  }
}
/* line 54, ../../sass/index/_backgroundAnimation.scss */
.cloud2 {
  position: absolute;
  width: 70px;
  top: 320px;
  left: 5%;
  opacity: 0;
  animation-name: cloud2;
  animation-duration: 100s;
  animation-timing-function: linear;
}

@keyframes cloud2 {
  from {
    left: 5%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    left: 110%;
    opacity: 0;
  }
}
/* line 81, ../../sass/index/_backgroundAnimation.scss */
.cloud3 {
  position: absolute;
  width: 50px;
  top: 520px;
  left: 30%;
  opacity: 0;
  animation-name: cloud3;
  animation-duration: 75s;
  animation-timing-function: linear;
}

@keyframes cloud3 {
  from {
    left: 30%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    left: 110%;
    opacity: 0;
  }
}
/* line 107, ../../sass/index/_backgroundAnimation.scss */
.cloud4 {
  position: absolute;
  width: 70px;
  top: 50px;
  left: 60%;
  opacity: 0;
  animation-name: cloud4;
  animation-duration: 40s;
  animation-timing-function: linear;
}

@keyframes cloud4 {
  from {
    left: 60%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    left: 110%;
    opacity: 0;
  }
}
/* line 133, ../../sass/index/_backgroundAnimation.scss */
.cloud5 {
  position: absolute;
  width: 60px;
  top: 450px;
  left: 55%;
  opacity: 0;
  animation-name: cloud5;
  animation-duration: 40s;
  animation-timing-function: linear;
}

@keyframes cloud5 {
  from {
    left: 55%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    left: 110%;
    opacity: 0;
  }
}
/* line 159, ../../sass/index/_backgroundAnimation.scss */
.cloud6 {
  position: absolute;
  width: 60px;
  top: 400px;
  left: 90%;
  opacity: 0;
  animation-name: cloud6;
  animation-duration: 30s;
  animation-timing-function: linear;
}

@keyframes cloud6 {
  from {
    left: 90%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    left: 110%;
    opacity: 0;
  }
}
/* line 186, ../../sass/index/_backgroundAnimation.scss */
.bird1 {
  position: absolute;
  top: 200px;
  left: 20%;
  opacity: 0;
  animation-name: bird1;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

@keyframes bird1 {
  from {
    left: 20%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    left: 110%;
    opacity: 0;
  }
}
/* line 212, ../../sass/index/_backgroundAnimation.scss */
.bird2 {
  position: absolute;
  top: 370px;
  right: 10%;
  opacity: 0;
  animation-name: bird2;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  transform: scaleX(-1);
}

@keyframes bird2 {
  from {
    right: 5%;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  to {
    right: 110%;
    opacity: 0;
  }
}
/* line 241, ../../sass/index/_backgroundAnimation.scss */
img.birdFlyOne {
  position: absolute;
  animation-name: birdFly1;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* line 248, ../../sass/index/_backgroundAnimation.scss */
img.birdFlyTwo {
  position: absolute;
  animation-name: birdFly2;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes birdFly1 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes birdFly2 {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
/* line 8, ../../sass/index/_tree.scss */
.tree .branch {
  position: absolute;
}
/* line 10, ../../sass/index/_tree.scss */
.tree .trunk {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 81%;
}
/* line 19, ../../sass/index/_tree.scss */
.tree .trunk img.trunk {
  position: absolute;
  bottom: 0;
  width: 120px;
  left: 50%;
  margin-left: -60px;
  height: 100%;
  z-index: 2;
  animation: trunkGrow 0.5s 0.5s;
}
@keyframes trunkGrow {
  from {
    height: 120%;
  }
  to {
    height: 100%;
  }
}
/* line 42, ../../sass/index/_tree.scss */
.tree .trunkMask {
  overflow: hidden;
  animation: trunkMask 0.5s 0.5s backwards;
}
@keyframes trunkMask {
  from {
    height: 0;
  }
  to {
    height: 81%;
  }
}
/* line 58, ../../sass/index/_tree.scss */
.tree .treetop {
  position: absolute;
  bottom: 77%;
  left: 50%;
  width: 115px;
  margin-left: -61px;
  z-index: 3;
  cursor: pointer;
  animation-delay: 1s;
}
/* line 70, ../../sass/index/_tree.scss */
.tree .branchOne {
  position: absolute;
  right: 50%;
  bottom: 55%;
  height: 26%;
  width: 245px;
}
/* line 78, ../../sass/index/_tree.scss */
.tree .branchOne img.branch {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 245px;
}
/* line 86, ../../sass/index/_tree.scss */
.tree .branchOneMask {
  overflow: hidden;
  animation: branchOneMask 0.7s 0.8s backwards;
}
@keyframes branchOneMask {
  from {
    width: 0;
  }
  to {
    width: 245px;
  }
}
/* line 102, ../../sass/index/_tree.scss */
.tree .fruitOne {
  position: absolute;
  bottom: 61%;
  left: 50%;
  margin-left: -220px;
  width: 155px;
  animation-delay: 1.5s;
  z-index: 3;
}
/* line 111, ../../sass/index/_tree.scss */
.tree .fruitOne img.cooperation {
  width: 100%;
  cursor: pointer;
}
/* line 117, ../../sass/index/_tree.scss */
.tree .branchTwo {
  position: absolute;
  left: 50%;
  bottom: 35%;
  height: 52%;
  width: 330px;
}
/* line 125, ../../sass/index/_tree.scss */
.tree .branchTwo .branch {
  bottom: 0%;
  left: 0%;
  width: 330px;
  height: 60%;
}
/* line 133, ../../sass/index/_tree.scss */
.tree .branchTwoMask {
  overflow: hidden;
  animation: branchTwoMask 0.7s 0.9s backwards;
}
@keyframes branchTwoMask {
  from {
    width: 0;
  }
  to {
    width: 330px;
  }
}
/* line 149, ../../sass/index/_tree.scss */
.tree .fruitTwo_one {
  position: absolute;
  left: 50%;
  bottom: 55%;
  margin-left: 10px;
  width: 200px;
  animation-delay: 1.7s;
  z-index: 3;
}
/* line 158, ../../sass/index/_tree.scss */
.tree .fruitTwo_one img.retrieval {
  width: 100%;
  cursor: pointer;
}
/* line 163, ../../sass/index/_tree.scss */
.tree .fruitTwo_one input.search {
  position: absolute;
  top: 75%;
  left: 12%;
  width: 125px;
  height: 18px;
  border: 0px;
  border-radius: 15px;
  background: transparent;
}
/* line 175, ../../sass/index/_tree.scss */
.tree .fruitTwo_one input.searchBtn {
  position: absolute;
  top: 74.5%;
  left: 78%;
  width: 21px;
  height: 21px;
  background: transparent;
  border: 0px;
  cursor: pointer;
}
/* line 188, ../../sass/index/_tree.scss */
.tree .fruitTwo_two {
  position: absolute;
  left: 50%;
  bottom: 37%;
  margin-left: 150px;
  width: 180px;
  animation-delay: 1.8s;
}
/* line 196, ../../sass/index/_tree.scss */
.tree .fruitTwo_two img.explore {
  width: 100%;
  cursor: pointer;
}
/* line 202, ../../sass/index/_tree.scss */
.tree .branchThree {
  position: absolute;
  right: 50%;
  bottom: 33%;
  height: 130px;
  width: 300px;
}
/* line 210, ../../sass/index/_tree.scss */
.tree .branchThree .branch {
  bottom: 0%;
  right: 0%;
  width: 300px;
}
/* line 217, ../../sass/index/_tree.scss */
.tree .branchThreeMask {
  overflow: hidden;
  animation: branchThreeMask 0.7s 1s backwards;
}
@keyframes branchThreeMask {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}
/* line 233, ../../sass/index/_tree.scss */
.tree .fruitThree {
  position: absolute;
  left: 50%;
  bottom: 45%;
  margin-left: -230px;
  width: 180px;
  animation-delay: 2s;
  z-index: 3;
}
/* line 242, ../../sass/index/_tree.scss */
.tree .fruitThree img.guess {
  width: 100%;
  cursor: pointer;
}
/* line 250, ../../sass/index/_tree.scss */
.tree .branchFour {
  position: absolute;
  right: 50%;
  bottom: 15%;
  width: 400px;
  height: 130px;
}
/* line 258, ../../sass/index/_tree.scss */
.tree .branchFour .branch {
  bottom: 0%;
  right: 0%;
  width: 400px;
}
/* line 265, ../../sass/index/_tree.scss */
.tree .branchFourMask {
  overflow: hidden;
  animation: branchFourMask 0.7s 1.1s backwards;
}
@keyframes branchFourMask {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
/* line 281, ../../sass/index/_tree.scss */
.tree .fruitFour {
  position: absolute;
  left: 50%;
  bottom: 26%;
  margin-left: -390px;
  width: 190px;
  animation-delay: 2.3s;
  z-index: 3;
}
/* line 290, ../../sass/index/_tree.scss */
.tree .fruitFour img.tableGame {
  width: 100%;
  cursor: pointer;
}
/* line 297, ../../sass/index/_tree.scss */
.tree .branchFive {
  position: absolute;
  left: 50%;
  bottom: 10%;
  width: 400px;
  height: 180px;
}
/* line 305, ../../sass/index/_tree.scss */
.tree .branchFive .branch {
  bottom: 0%;
  left: 0%;
  width: 400px;
}
/* line 312, ../../sass/index/_tree.scss */
.tree .branchFiveMask {
  overflow: hidden;
  animation: branchFiveMask 0.7s 1.2s backwards;
}
@keyframes branchFiveMask {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
/* line 328, ../../sass/index/_tree.scss */
.tree .fruitFive {
  position: absolute;
  left: 50%;
  bottom: 20%;
  margin-left: 230px;
  width: 140px;
  animation-delay: 2.2s;
  z-index: 3;
}
/* line 337, ../../sass/index/_tree.scss */
.tree .fruitFive .HanZi {
  width: 100%;
  cursor: pointer;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
/* line 6, ../../sass/index/_activity.scss */
.activity {
  position: absolute;
  top: 65px;
  right: 30px;
  width: 210px;
}
/* line 12, ../../sass/index/_activity.scss */
.activity img.activityImg {
  width: 100%;
}
/* line 16, ../../sass/index/_activity.scss */
.activity .text {
  font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
  position: absolute;
  top: 42px;
  left: 40px;
  width: 140px;
  height: 180px;
  color: #b9b9ba;
  font-size: 13px;
  line-height: 20px;
  overflow: scroll;
}
/* line 29, ../../sass/index/_activity.scss */
.activity .text div {
  cursor: pointer;
  word-break: break-all;
}
/* line 33, ../../sass/index/_activity.scss */
.activity .text div:hover {
  text-decoration: underline;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
/* line 6, ../../sass/index/_letterbox.scss */
.letterbox {
  position: absolute;
  width: 100px;
  bottom: 40px;
  right: 90px;
  z-index: 2;
  cursor: pointer;
  font-size: 0;
}
/* line 15, ../../sass/index/_letterbox.scss */
.letterbox .text {
  font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
  position: absolute;
  bottom: 46px;
  left: 59px;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 12px;
  color: #655c62;
  word-break: keep-all;
}
/* line 26, ../../sass/index/_letterbox.scss */
.letterbox .text .englishText {
  letter-spacing: 0;
  font-size: 9px;
}
/* line 32, ../../sass/index/_letterbox.scss */
.letterbox img.letterboxImg_one {
  cursor: pointer;
  width: 100%;
}
/* line 36, ../../sass/index/_letterbox.scss */
.letterbox img.letterboxImg_two {
  cursor: pointer;
  width: 100%;
  display: none;
}
/* line 43, ../../sass/index/_letterbox.scss */
.letterbox:hover img.letterboxImg_one {
  display: none;
}
/* line 46, ../../sass/index/_letterbox.scss */
.letterbox:hover img.letterboxImg_two {
  display: block;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */
@media screen and (min-width: 1280px) {
  /* line 10, ../../sass/index/_rwd.scss */
  .grass {
    width: 100%;
  }
}
@media screen and (max-height: 400px) {
  /* line 16, ../../sass/index/_rwd.scss */
  body {
    position: relative;
    height: 650px;
    overflow: scroll;
  }

  /* line 22, ../../sass/index/_rwd.scss */
  .trunkMask {
    overflow: visible;
  }
  /* line 24, ../../sass/index/_rwd.scss */
  .trunkMask img.trunk {
    height: 500px !important;
  }
}
@media screen and (max-width: 540px) {
  /* line 31, ../../sass/index/_rwd.scss */
  .tree {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  /* line 37, ../../sass/index/_rwd.scss */
  .activity {
    display: none;
  }
}
/* line 16, ../../sass/index/main.scss */
.chouWindow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
/* line 21, ../../sass/index/main.scss */
.chouWindow .chouWindowContent {
  position: absolute;
  width: 90%;
  height: 100%;
  left: 5%;
  background: white;
  text-align: center;
}
/* line 31, ../../sass/index/main.scss */
.chouWindow .chouWindowContent iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
/* line 38, ../../sass/index/main.scss */
.chouWindow .chouWindowContent .closeBtn {
  position: absolute;
  width: 50px;
  height: 46px;
  top: 0;
  right: 10px;
  background: white;
  color: #dadada;
  font-size: 30px;
  line-height: 36px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}
