/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

$color: #709ba8;

@import "font.scss";

body {
	font-family: PingFangSC-Regular, sans-serif, "微软雅黑", "microsoft yahei";
	background: #afc7ce;
}

a {
	text-decoration: none;
}

.pictureWord {
    font-family: pictureWord;
}

.man {
	position: absolute;
	width: 15vw;
	top: 22vw;
	left: 45vw;
}

.container {
	position: fixed;
	width: 85vw;
	height: 68vw;
	right: 8vw;
	top: -2vw;
	overflow: hidden;

	// animation-name: explore; control by jquery
	// animation-duration: 1s;
	animation-duration: 1s;
	animation-fill-mode: forwards;

	//transform: scale(1.08) perspective(10em) rotateX(2deg);
	//transform: scale(1.08) perspective(10em) rotateY(-1deg);
	//z-index: -1;
}

.fixedBar {
	position: fixed;
	width: 100%;
	z-index: 1;
	opacity: 0.9;
}

.backgroundImg {
	position: absolute;
	width: 98%;
	left: 1.5%;
	margin-top: -4%;
}

.picShow {
	position: absolute;
	width: 9vw;
	top: 11vw;
	left: 43vw;
	opacity: 0.8;

	animation-iteration-count: infinite;
}

.index {
	position: fixed;
	top: 5.5vw;
	right: 2vw;
	background: rgba(175, 199, 206, 0.7);
	width: 11vw;
	height: 5vw;
	z-index: 1;
	border: rgba(87, 96, 101, 0.8) 2px solid;
	font-size: 0;
	//border-top: 0px; 

	.pictureWord {
		display: inline-block;
		font-size: 4.11vw;
		color: #576065;
		vertical-align: 30%;
		margin: 0.6vw;
	}

	.line {
		display: inline-block;
		background: rgba(87, 96, 101, 0.8);
		width: 0.15vw;
		height: 100%;
	}
}

/* edited by 12/30
.inputText {
	position: fixed;
	left: 87vw;
	top: 11.5vw;
	z-index: 1;
	.inputBar {
		width: 7vw;
		border: 0px;
		height: 20px;
	}

	.inputBtn {
		background: white;
		border: 0px;
		border-radius: 5px;
		height: 24px;
	}
}
*/

.word {
	.theWord {
		position: absolute;
		//background: black;
		width: 15%;
		top: 27%;
		left: 26%;
		text-align: center;

		animation-iteration-count: infinite;

		img {
			position: absolute;
			width: 100%;
			left: 0;
		}

		.wordEx {
			position: relative;
			color: white;
			font-size: 7.5vw;
			margin-top: 12%;
		}

		.mainWord {
			font-family: PingFangSC-Regular, sans-serif, "微软雅黑", "microsoft yahei";
			font-weight: normal;
			position: relative;
			font-size: 1.7vw;
			margin-top: 2%;
			color: white;
		}
	}
	.wordShadow {
		position: absolute;
		width: 22%;
		top: 56%;
		left: 27%;

		animation-iteration-count: infinite;
	}

	.originalWord {
		font-family: PingFangSC-Regular, sans-serif, "微软雅黑", "microsoft yahei";
		font-weight: normal;
		position: absolute;
		font-size: 2vw;
		color: white;
		line-height: 100px; /* should be fixed */
	}

	.one .pictureWord, .two .pictureWord, .three .pictureWord, .four .pictureWord{
		position: absolute;
		display: inline-block;
		color: white;
		font-size: 3.9vw;
		z-index: 1;
	}

	.one img, .two img, .three img, .four img {
		position: absolute;
		width: 100%;
	}

	.one {
		position: absolute;
		//background: black;
		top: 2%;
		left: 22%;
		width: 18%;

		animation-iteration-count: infinite;
		animation-delay: 0s;
		animation-duration: 1s;

		.originalWord {
			font-size: 1.8vw;
			left: 37%;
			line-height: 520%;
		}

		.pictureWord {
			transform: translateX(6vw) translateY(8vw);
			&:hover {
				transform: translateX(6vw) translateY(7.5vw);
			}
		}
	}

	.two {
		position: absolute;
		top: 10%;
		left: 14%;
		width: 23%;

		animation-iteration-count: infinite;
		animation-delay: 0s;
		animation-duration: 0.8s;

		.originalWord {
			font-size: 1.8vw;
			left: 23%;
			line-height: 460%;
		}

		.pictureWord {
			transform: translateX(6.2vw) translateY(5.2vw);
			&:hover {
				transform: translateX(6.2vw) translateY(4.7vw);
			}
		}
	}

	.three {
		position: absolute;
		top: 17%;
		left: 6%;
		width: 33%;

		animation-iteration-count: infinite;
		animation-delay: 0s;
		animation-duration: 1.2s;

		.originalWord {
			font-size: 1.8vw;
			left: 14%;
			line-height: 510%;
		}

		.pictureWord {
			transform: translateX(8.2vw) translateY(5.4vw);
			&:hover {
				transform: translateX(8.2vw) translateY(4.9vw);
			}
		}
	}

	.four {
		position: absolute;
		width: 33%;
		top: 27%;
		left: 4%;

		animation-iteration-count: infinite;
		animation-delay: 0s;
		animation-duration: 0.7s;

		.originalWord {
			font-size: 1.8vw;
			left: 9%;
			line-height: 540%;
		}

		.pictureWord {
			transform: translateX(7.2vw) translateY(4.8vw);
			&:hover {
				transform: translateX(7.2vw) translateY(4.3vw);
			}
		}
	}
}

.wall {
	.wallImg {
		position: absolute;
		cursor: pointer;
		width: 30%;
		height: 100%;
		right: 4%;
		top: 36%;
		opacity: 1;
		transform:skewX(-5deg) skewY(35deg);
		text-align: center;

		.wallAppearWord {
			position: relative;
			font-size: 1.8vw;
			margin-top: 4%;
			margin-left: -12%;
			color: #576065;
			//background: red;

			animation-duration: 1s;
			animation-fill-mode: forwards;
		}

		img#wallImg {
			position: absolute;
			left: 0;
			width: 100%;
			opacity: 0.1;
		}

		.wallWordGrp {
			width: 60%;
			height: 8.9%;
			margin-top: 20%;
			margin-left: 18%;
			overflow: scroll;

			.pictureWord {
				position: relative;
				display: inline-block;
				font-size: 3vw;
				color: #576065;
			}
		}

		&:hover {
			img#wallImg {
				opacity: 0.4;
			}
		}
	}

	&:hover {
		//transform: scale(1.1) translateX(-50px) translateY(-50px);
	}
}

.dialog {
	position: absolute;
	width: 26vw;
	top: 40vw;
	left: 12vw;

	img {
		position: absolute;
		width: 140%;
		opacity: 0; /* default */
	}

	img.dialogImg {
		width: 140%;
		opacity: 1;
		display: none;
	}

	.dialogContent {
		font-family: "微软雅黑", "microsoft yahei";
		//background: red;
		font-weight: bold;
		font-size: 1.4vw;
		position: relative;
		left: 20%;
		margin-top: 18%;
		line-height: 1.8vw;
		height: 10vw;
		overflow: scroll;
		display: none; /* default */
	}
}

.dialogControl {
	cursor: pointer;
	z-index: 100;
	//opacity: 0.1;
	/* use to control dialog apeear with jquery */
	&:hover {
		opacity: 0.6;
	}
}

.goBack {
	font-family: PingFangSC-Regular, sans-serif;
	position: fixed;
	height: 68vw;
	width: 20%;
	cursor: pointer;
	color: white;
	font-size: 2vw;
	text-align: center;
	line-height: 110vh;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.45) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	//opacity: 0;
	display: none;

	animation-iteration-count: infinite;

	img {
		width: 7%;
		vertical-align: 0.35%;
	}
}



/* animation control */

/* can delete
.explore {
	animation-name: explore;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.antiExplore {
	animation-name: antiExplore;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}*/

.prompt {
	// animation-name: prompt; should assign by jquery
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.move {
	// animation-name: move; should assign by jquery
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.enlarge {
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.watchDialog {
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes explore {
	// wall watching
	from {
		transform:skewX(0deg) skewY(0deg);
		width: 85vw;
		height: 68vw;
		right: 8vw;
		top: -2vw;
	}
	to {
		transform:skewX(0deg) skewY(-17deg);
		width: 150vw;
		height: 120vw;
		right: 8vw;
		top: -5vw;
	}
}

@keyframes antiExplore {
	from {
		transform:skewX(0deg) skewY(-17deg);
		width: 150vw;
		height: 120vw;
		right: 8vw;
		top: -5vw;
	}
	to {
		transform:skewX(0deg) skewY(0deg);
		width: 85vw;
		height: 68vw;
		right: 8vw;
		top: -2vw;
	}
}


@keyframes prompt {
	// wall shine
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

@keyframes move {
	// wall watching
	from {
		top: 36%;
		opacity: 0.7;
		transform: skewX(-5deg) skewY(35deg);
	}
	to {
		top: 27%;
		opacity: 1;
		transform: skewX(0deg) skewY(32deg);
	}
}

@keyframes antiMove {
	from {
		top: 27%;
		opacity: 1;
		transform: skewX(0deg) skewY(32deg);
	}
	to {
		top: 36%;
		opacity: 1;
		transform: skewX(-5deg) skewY(35deg);

	}
}

@keyframes enlarge {
	// wall hover
	from {
		width: 30%;
		//top: 320px;
	}
	to {
		width: 32%;
		//top: 290px;
	}
}

@keyframes watchDialog {
	// dialog watching
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-155px);
	}
}

@keyframes antiWatchDialog {
	// dialog watching
	from {
		transform: translateY(-155px);
	}
	to {
		transform: translateY(0px);
	}
}

@keyframes adjustFontSize {
	// wall font
	from {
		font-size: 1.8vw;
	}
	to {
		font-size: 3vw;
	}
}


@keyframes antiAdjustFontSize {
	// wall font
	from {
		font-size: 3vw;
	}
	to {
		font-size: 1.8vw;
	}
}




/* more rwd
@media (max-width: 970px) {
	.container {
		position: fixed;
		width: 970px;
		height: 660px;
		overflow: hidden;
		animation-duration: 1s;
		animation-fill-mode: forwards;

	}
}*/


