/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

@import "background.scss";

.cloud1 {
	position: absolute;
	width: 100px;
	top: 90px;
	left: 32%;
}

.cloud2 {
	position: absolute;
	width: 70px;
	top: 50px;
	left: 55%;
}

.cloud3 {
	position: absolute;
	width: 80px;
	top: 98px;
	left: 90%;
}


.monster {
	position: absolute;
	width: 170px;
	right: 12%;
	top: 60px;
	z-index: 1;
}



