/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

@import "bar";
@import "font";

body {
	background: #f7f8f8;
}

.fixedBar {
	// height: 60px;
	background: white;
	z-index: 99999;

	p {
		font-family: PingFangSC-semibold, sans-serif, "微软雅黑", "microsoft yahei";
		font-size: 12px;
		margin-left: 18%;
		a {
			color: $color;
			text-decoration: none;
		}
	}
}

.searchBar {
	position: relative;
	width: 200px;
	height: 25px;
	background: white;
	border: #e4855c 5px solid;
	border-radius: 20px;
	left: 50%;
	margin-left: -100px;
	margin-top: 80px;

	input.search {
		margin-left: 12px;
		margin-top: 3px;
		width: 150px;
		border: 0;
		font-size: 13px;
		color: #9fa0a0;
	}

	input.searchBtn {
		position: absolute;
		// background-image: url('../../img/page/retrieval/searchBtn.png');
		width: 25px;
		height: 25px;
		vertical-align: top;
		border: 0;
		cursor: pointer;
		background: rgba(0, 0, 0, 0);
	}
	img {
		vertical-align: top;
	}
}

.firstLayer {
	position: relative;
	display: inline-block;
	// background: red;
	width: 22%;
	margin-left: 4%;
	height: 510px;
	margin-top: 25px;

	.construct {
		position: relative;
		width: 100%;
		height: 115px;
		// background: red;

		.topic {
			font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
			width: 100%;
			height: 45px;
			background: #f8b62d;
			color: white;
			font-size: 17px;
			text-align: center;
			line-height: 45px;
		}
	}

	// word
	text-align: center;
	line-height: 65px;
	color: #595757;
	font-size: 34px;

	.pictureWord {
		display: inline-block;
		font-size: 44px;
	}
}

.secondLayer {
	position: relative;
	display: inline-block;
	// background: red;
	// width: 540px;
	width: 44%;
	height: 510px;
	margin-top: 20px;
	margin-left: 1%;
	vertical-align: top;
	color: #595757;

	.word {
		position: relative;
		display: inline-block;
		// background: blue;
		width: 140px;
		height: 140px;
		margin-top: 75px;
		margin-left: 12%;

		.traditional {
			font-family: sans-serif;
			position: relative;
			display: inline-block;
			width: 45px;
			height: 45px;
			line-height: 45px;
			// background: red;
			border: white 2px solid;
			font-size: 38px;
			text-align: center;

			.simplified {
				font-family: sans-serif;
				position: relative;
				display: inline-block;
				width: 25px;
				height: 25px;
				line-height: 26px;
				// background: red;
				border: white 2px solid;
				font-size: 20px;
				text-align: center;
				vertical-align: 30%;
			}
		}
		.picture {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 83px;
			height: 83px;
			line-height: 83px;
			// background: red;
			border: white 2px solid;
			font-size: 80px;
			text-align: center;
		}
		.listen {
			font-family: sans-serif;
			position: relative;
			display: inline-block;
			width: 136px;
			height: 50px;
			line-height: 26px;
			// background: red;
			border: white 2px solid;
			font-size: 20px;
			vertical-align: 30%;
			margin-top: 8px;

			.phonetic {
				position: relative;
				display: inline-block;
				font-size: 16px;
				margin-left: 8px;
				margin-top: 5px;
				line-height: 20px;
			}
			.pinYin {
				position: relative;
				display: inline-block;
				font-size: 15px;
				margin-left: 2px;
			}
		}
	}

	.draw {
		position: relative;
		display: inline-block;
		width: 186px;
		height: 186px;
		border: white 2px solid;
		text-align: center;
		vertical-align: top;
		margin-top: 20px;
		margin-left: 11%;
		padding: 10px;

		img {
			width: 100%;
		}
	}

	.topic {
		background: #92d3e5;
		width: 100%;
		height: 45px;
		line-height: 45px;
		font-size: 17px;
		margin-top: 20px;
		color: white;
		text-align: center;
	}
	
	.explanation {
		font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
		position: relative;
		width: 89%;
		left: 8%;
		height: 100px;
		margin-top: 20px;
		margin-bottom: 30px;
		overflow-y: scroll;
		// background: red;
		// -webkit-box-sizing: border-box;

		&::-webkit-scrollbar {
			background-color: white;
		    width: 1.2em;
		}
		 
		&::-webkit-scrollbar-track {
		    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color: #c9e8ef;
		  border: 3px solid white;
		  border-radius: 10px;
		}

		&::-webkit-scrollbar-button {
			// ;
		}

		.main {
			font-family: PingFangSC-light, sans-serif, "微软雅黑", "microsoft yahei";
			display: inline-block;
			font-size: 26px;
		}
	}
	.btnGrp {
		position: absolute;
		right: 15px;

		.btn {
			font-family: PingFangSC-light, sans-serif, "微软雅黑", "microsoft yahei";
			position: relative;
			display: inline-block;
			width: 100px;
			height: 30px;
			line-height: 30px;
			font-size: 13px;
			text-align: center;
			background: #c9e8ef;
			color: #1c7894;
			border-radius: 20px;
			margin-left: 5px;
			margin-right: 5px;
			cursor: pointer;
		}
	}
}

.thirdLayer {
	position: relative;
	display: inline-block;
	// background: red;
	width: 22%;
	height: 510px;
	margin-top: 25px;
	margin-left: 1%;
	vertical-align: top;
	color: #595757;

	.topic {
		font-family: PingFangSC-regular, sans-serif, "微软雅黑", "microsoft yahei";
		width: 100%;
		height: 45px;
		background: #f8b62d;
		color: white;
		font-size: 17px;
		text-align: center;
		line-height: 45px;
	}
	
	.derivative {
		position: relative;
		width: 92%;
		left: 5%;
		margin-top: 15px;
		height: 390px;
		overflow-y: scroll;
		// background: red;

		&::-webkit-scrollbar {
			background-color: white;
		    width: 1.2em;
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color: #f3d091;
		  border: 3px solid white;
		  border-radius: 10px;
		}

		.word {
			position: relative;
			display: inline-block;
			vertical-align: top;
			height: 42px;
			width: 40px;
			line-height: 42px;
			background: white;
			font-size: 34px;
			text-align: center;
			margin-bottom: 6px;
		}
	}
}




@media screen and (max-width: 950px) {
	.fixedBar p {
		display: none;
	}
}
