/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 */

@import "background.scss";

.cloud1 {
	position: absolute;
	width: 100px;
	top: 35px;
	left: 40%;
}

.cloud2 {
	position: absolute;
	width: 70px;
	top: 90px;
	left: 65%;
}

.cloud3 {
	position: absolute;
	width: 85px;
	top: 40px;
	left: 82%;
}


.monster {
	position: absolute;
	width: 100px;
	right: 9%;
	top: 123px;
}



